//extends ../../layouts/default

block content
	.container
		h1 404
		p.lead Sorry, the page you requested can't be found.
	script(src='/js/jquery/jquery-2.1.4.min.js')
	script.
		window.location.href = "/";
