extends ../layouts/default

block content
	//.banner-booking
		img(src='/images/booking-bg.jpg')
	div#banner-book-an-appointment
	section#book-an-appointment
		h1 BOOK AN APPOINTMENT
		p We hear you. You need some me time.
		p It's as easy as calling 1-80XXX
		p or calling your nearest location.
	section#section-location-container
		.container.location-container
			//form.search-by-zip(action='/location/search' method="post")
				div.form-group
					input(type='text' placeholder='SEARCH BY CITY OR ZIP' name="search")
					button(type='submit') SEARCH
			div.clearfix.mt20
				aside.side-filter
					h6.text-uppercase Filter by Region
					ul.regions
						li: a(href='/booking').active All Locations
						if regions
							each region in regions
								li: a(href='/booking/' + region.key)= region.name
				aside.side-filter#mobile-region
					h6.text-uppercase.filter-head Filter by Region
					ul.regions
						li: a(href='/booking').active All Locations
						if regions
							each region in regions
								li: a(href='/booking/' + region.key)= region.name
				section.all-location
					ul.location-list.clearfix
						if data.locations.results
							each location in data.locations.results
								li
									if location.Thumbnail
										a(href= '/booking/detail/' + location.slug)
											img(src= location.Thumbnail)
									else
										a(href= '/booking/detail/' + location.slug)
											img(src='/images/location-default.png')
									div.fix-height-loc-head
										a(href= '/booking/detail/' + location.slug)
											if location.nameLong
												h5= location.nameLong.substr(0, 64)
											div.adrs-height
												if location.address1
													p.addrs1= location.address1.substr(0, 55)
												if location.address2
													p.addrs2= location.address2.substr(0, 110)
										a(href='tel:' + location.phone1)
											p= 'T.' + location.phone1
									//p= location.state
									ul.location-links
										if location.Status == 'published'
											li: a(href= '/booking/detail/' + location.slug) MENU & MORE INFO
											li.book-now: a(href="http://min02115.aws.book4time.com/OnlineBooking/SelectLocation.aspx?locId=" + location.B4TID target='_blank') BOOK NOW
										else if location.Status == 'draft'
											li: a(href= '/booking/detail/' + location.slug) MENU & MORE INFO
											li.book-now Coming Soon
					div.clearfix
					if data.locations.totalPages > 1
						ul.pagination
							each p, i in data.locations.pages
								li(class=data.locations.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.locations.totalPages : 1) : p ))= p
block css
	style.
		#footer {
			margin-top: 2em;
		}
block js
	script.
		var width = $(window).width();

		$('.filter-head').on('click', function () {
			$(this).toggleClass('active');
			$('#mobile-region ul.regions').slideToggle();
		})