extends ../layouts/default

block content
    div.carousel.location-detail-carousel
        if locationdetails
            ul.bxslider
                each location in locationdetails
                    if location.hero1url
                        li
                            img(src= location.hero1url alt='miniluxe')
                    if location.hero2url
                        li
                            img(src= location.hero2url alt='miniluxe')
                    if location.hero3url
                        li
                            img(src= location.hero3url alt='miniluxe')
            each location in locationdetails
                div#bx-pager
                    ul
                        if location.hero1url
                            li
                                a(href='' data-slide-index= 0)= 0
                        if location.hero2url
                            li
                                a(href='' data-slide-index= 1)= 1
                        if location.hero3url
                            li
                                a(href='' data-slide-index= 2)= 2

    div.container
        if locationdetails
            each locationdetail in locationdetails
                h2.location-detail-head.text-uppercase.mt30= locationdetail.nameLong
                div.location-detail-content
                    div.clearfix
                        div.store-info
                            div.visit-address
                                h6.text-uppercase Visit Us
                                p= locationdetail.address1
                                p= locationdetail.address2
                                p= 'T.'+ locationdetail.phone1
                            div.store-hour
                                h6.text-uppercase Store Hours
                                !=locationdetail.HoursHTML
                            if locationdetail.Status == 'published'
                                a(href="http://min02115.aws.book4time.com/OnlineBooking/SelectLocation.aspx?locId=" + locationdetail.B4TID target='_blank').book-now Book Now
                        div.store-description
                            p= locationdetail.description
block css
    style.
        .bx-wrapper{
            margin: 0 auto 26px;
        }
        .bx-wrapper .bx-pager {
            z-index: 99;
        }
        .location-detail-carousel .bx-wrapper .bx-viewport{
            max-height: 550px;
            overflow: hidden;
        }
        .img-count li img{
            max-width: 850px;
            margin: 0 auto;
            background: #EEECEB;
        }
        .img-count li{
            background: #EEECEB;
            text-align: center;
            max-height: 550px;
            overflow: hidden;
        }

        #bx-pager {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: -0.2em;
        }

        #bx-pager ul li {
            display: inline-block;
        }

        .carousel {
            position: relative;
        }

        #bx-pager li a {
            background: #704c61;
            text-indent: -9999px;
            display: block;
            opacity: 0.8;
            width: 12px;
            height: 12px;
            margin: 0 5px;
            outline: 0;
            -moz-border-radius: 5px;
            /* -webkit-border-radius: 5px; */
            border-radius: 8px;
            border: 2px solid #DF9E90;
        }

        #bx-pager li a.active {
            background: #704c61;
            opacity: 1;
        }

        #bx-pager ul {
            margin-bottom: 0;
        }
block js
    //Owl carousel
    script(src='/js/owl-carousel/jquery.bxslider.min.js')
    script.
        var count1 = $("ul.bxslider").children().length;

        if (count1 > 1) {
            var slider = $('.bxslider').bxSlider({
                adaptiveHeight: true,
                auto: true,
                mode: 'fade',
                infiniteLoop: true,
                hideControlOnEnd: true,
                useCSS: false,
                pause: 4000,
                pagerCustom: '#bx-pager'
            });
        } else{
            $('.bxslider').addClass('img-count');
            $('#bx-pager').hide();
        }



        var fullurl = window.location.href;
        var split_url = fullurl.split("/");
        $("nav.main-nav ul li a").each(function () {
            if ($(this).attr("href") == '/' + split_url['3'] || $(this).attr("href") == '')
                $(this).addClass("active");
        })