extends ../layouts/default

block content
    .banner-contact
        img(src='/images/career-bg.png')
    if careers
        each career in careers
            div.terms-container
                h2.text-uppercase.text-center.career-page-head= career.title
                div.career-page-content
                    != career.description
                    if vacancies
                        each vacancy in vacancies
                            div.open-positions
                                h3.text-uppercase= vacancy.title
                                p= vacancy.description_block1
                                a(href= '/careers/apply/' + vacancy.key).apply-now Apply Now