extends ../layouts/default

block content
    .banner-contact
        img(src='/images/career-bg.png')
    if  enquirySubmitted
        h2.text-uppercase.text-center.thanks-msg.thanks-msg1 THANK YOU
        h2.text-center.thanks-msg The MiniLuxe team will contact you shortly.
    else
        h2.text-center.thanks-msg.thanks-msg1 Something went wrong. Try Again later.
block css
    style.
        .thanks-msg1{
            margin-top: 1.5em;
        }
        @media (min-width: 768px)  {
            #footer {
                position: fixed;
                width: 100%;
                bottom: 0;
            }
        }