extends ../layouts/default

block content
    .banner-contact
        img(src='/images/career-bg.png')
    if careers
        each career in careers
            h2.text-uppercase.text-center.career-page-head.career-detail-page-head= career.title
            div.career-page-content.career-form-div
                if careerapply
                    each career in careerapply
                        //p= career._id
                        div.open-positions-detail
                            h3.text-uppercase= career.title
                            p.desc-block1= career.description_block1
                            p= career.description_block2
                            != career.Requirement
                            form.career-form.valid-form-one(action='/careers/apply' method='post' enctype="multipart/form-data")
                                div.form-block.row#fname-row
                                    div.col-five
                                        label First Name*
                                    div.col-seven
                                        input.form-control#fname(type='text' name='first_name' onkeypress="return onlyAlphabets(event,this);")
                                        span.err Please enter first name
                                div.form-block.row
                                    div.col-five
                                        label Last Name*
                                    div.col-seven
                                        input.form-control#lname(type='text' name='last_name' onkeypress="return onlyAlphabets(event,this);")
                                        span.err Please enter last name
                                div.form-block.row#phone-row
                                    div.col-five
                                        label Phone Number*
                                    div.col-seven
                                        input.form-control#phone(type='text' name='phone' placeholder='xxx-xxx-xxxx')
                                        span.err Please enter phone number
                                div.form-block.row#mail-row
                                    div.col-five
                                        label Email*
                                    div.col-seven
                                        input.form-control#email(type='text' name='email')
                                        span.err Please enter email
                                        span.email-err Please enter valid email
                                //div.form-block.row#adrs1-row
                                //    div.col-five
                                //        label Address Line 1*
                                //    div.col-seven
                                //        input.form-control#address1(type='text' name='address_line_1')
                                //        span.err Please enter address
                                //div.form-block.row
                                //    div.col-five
                                //        label Address Line 2
                                //    div.col-seven
                                //        input.form-control#address2(type='text' name='address_line_2')
                                //div.form-block.row#city-row
                                //    div.col-five
                                //        label City*
                                //    div.col-seven
                                //        input.form-control.alphaonly#city(type='text' name='city')
                                //        span.err Please enter city
                                //div.form-block.row
                                //    div.col-five
                                //        label Select State
                                //    div.col-seven
                                //        div.dd.wrapper-dropdown-2#state-drop
                                //            h5.loc-head Select
                                //            ul.dropdown
                                //                if states
                                //                    each state in states
                                //                        li
                                //                            a(href="javascript:;" data-state= state.title).get-state= state.title
                                div.form-block.row#zip-row
                                    div.col-five
                                        label Home Zip Code*
                                    div.col-seven
                                        input.form-control#zip(type='text' name='postal_code' maxlength="5")
                                        span.err Please enter postal code
                                //div.form-block.row
                                //    div.col-five
                                //        label Select Position 1
                                //    div.col-seven
                                //        div.dd.wrapper-dropdown-2#pos1-drop
                                //            h5.loc-head Select
                                //            ul.dropdown
                                //                if positions
                                //                    each position in positions
                                //                        li
                                //                            a(href="javascript:;" data-pos-one= position.title).get-pos1= position.title
                                //div.form-block.row
                                //    div.col-five
                                //        label Select Position 2
                                //    div.col-seven
                                //        div.dd.wrapper-dropdown-2#pos2-drop
                                //            h5.loc-head Select
                                //            ul.dropdown
                                //                if positions
                                //                    each position in positions
                                //                        li
                                //                            a(href="javascript:;" data-pos-two= position.title).get-pos2= position.title
                                //div.form-block.row
                                //    div.col-five
                                //        label Select Location 1
                                //    div.col-seven
                                //        div.dd.wrapper-dropdown-2#loc1-drop
                                //            h5.loc-head Select
                                //            ul.dropdown.location-drop
                                //                if locations
                                //                    each location in locations
                                //                        li
                                //                            if location.Status == 'published'
                                //                                a(href="javascript:;" data-loc-one= location.nameLong).get-loc1= location.nameLong
                                div.form-block.row#area-row
                                    div.col-five
                                        label Area*
                                    div.col-seven
                                        div.dd.wrapper-dropdown-2#loc2-drop
                                            h5.loc-head Select
                                            ul.dropdown.location-drop
                                                li
                                                    a(href="javascript:;" data-area='MA - Boston').area MA - Boston
                                                li
                                                    a(href="javascript:;" data-area='MA - South Shore').area MA - South Shore
                                                li
                                                    a(href="javascript:;" data-area='MA - North Shore').area MA - North Shore
                                                li
                                                    a(href="javascript:;" data-area='MA - Metro West').area MA - Metro West
                                                li
                                                    a(href="javascript:;" data-area='RI - Providence').area RI - Providence
                                                li
                                                    a(href="javascript:;" data-area='TX - Plano').area TX - Plano
                                                li
                                                    a(href="javascript:;" data-area='TX - Dallas').area TX - Dallas
                                                li
                                                    a(href="javascript:;" data-area='CA - West Hollywood').area CA - West Hollywood
                                                li
                                                    a(href="javascript:;" data-area='CA - Santa Monica').area CA - Santa Monica
                                        span.err Please select area
                                //div.form-block.row
                                //    div.col-five
                                //        label Can you work Weekdays?
                                //    div.col-seven
                                //        div.dd.wrapper-dropdown-2#weekday-drop
                                //            h5.loc-head Select
                                //            ul.dropdown
                                //                li
                                //                    a(href="javascript:;" data-weekday='yes').get-weekday Yes
                                //                li
                                //                    a(href="javascript:;" data-weekday='no').get-weekday No
                                //div.form-block.row
                                //    div.col-five
                                //        label Can you work weeknights?
                                //    div.col-seven
                                //        div.dd.wrapper-dropdown-2#weeknight-drop
                                //            h5.loc-head Select
                                //            ul.dropdown
                                //                li
                                //                    a(href="javascript:;" data-weeknight='yes').get-weeknight Yes
                                //                li
                                //                    a(href="javascript:;" data-weeknight='no').get-weeknight No
                                //div.form-block.row
                                //    div.col-five
                                //        label Can you work weekend days?
                                //    div.col-seven
                                //        div.dd.wrapper-dropdown-2#weekend-drop
                                //            h5.loc-head Select
                                //            ul.dropdown
                                //                li
                                //                    a(href="javascript:;" data-weekend-day='yes').get-weekend Yes
                                //                li
                                //                    a(href="javascript:;" data-weekend-day='no').get-weekend No
                                //div.form-block.row
                                //    div.col-five
                                //        label Can you work weekend nights?
                                //    div.col-seven
                                //        div.dd.wrapper-dropdown-2#weekendnght-drop
                                //            h5.loc-head Select
                                //            ul.dropdown
                                //                li
                                //                    a(href="javascript:;" data-weekend-night='yes').get-weekend-night Yes
                                //                li
                                //                    a(href="javascript:;" data-weekend-night='no').get-weekend-night No
                                //div.form-block.row.career-select
                                //    div.col-five
                                //        label Education
                                //    div.col-seven
                                //        div.dd.wrapper-dropdown-2#education-drop
                                //            h5.loc-head Select
                                //            ul.dropdown
                                //                if educations
                                //                    each education in educations
                                //                        li
                                //                            a(href="javascript:;" data-education= education.title).get-education= education.title
                                if (career._id == '56b344358db743847587bb3e' || career._id == '56990fd8576ede125be1f5cc' || career._id == '56b26b56023c7c7349fd1762')
                                    div.form-block.row#nail-row
                                        div.col-five
                                            label Are you licensed to perform nail services?*
                                        div.col-seven
                                            div.dd.wrapper-dropdown-2#license-drop
                                                h5.loc-head Select
                                                ul.dropdown
                                                    li
                                                        a(href="javascript:;" data-license='Yes').nail-license Yes
                                                    li
                                                        a(href="javascript:;" data-license='No but would like to apply for license / training through MiniLuxe').nail-license No but would like to apply for license / training through MiniLuxe
                                                    li
                                                        a(href="javascript:;" data-license='No').nail-license No
                                            span.err This field is required
                                if (career._id == '56b344358db743847587bb3e' || career._id == '56990fd8576ede125be1f5cc' || career._id == '56b26b56023c7c7349fd1762')
                                    div.form-block.row#wax-row
                                        div.col-five
                                            label Are you licensed to perform waxing services?*
                                        div.col-seven
                                            div.dd.wrapper-dropdown-2#waxing-service
                                                h5.loc-head Select
                                                ul.dropdown
                                                    li
                                                        a(href="javascript:;" data-license='Yes').wax-license Yes
                                                    li
                                                        a(href="javascript:;" data-license='No but would like to apply for license / training through MiniLuxe').wax-license No but would like to apply for license / training through MiniLuxe
                                                    li
                                                        a(href="javascript:;" data-license='No').wax-license No
                                            span.err This field is required
                                div.form-block.row#resume-row
                                    div.col-five
                                        if (career._id == '56990fb6576ede125be1f5cb' || career._id == '56b2696f023c7c7349fd175e' || career._id == '56b26b56023c7c7349fd1762' || career._id == '5723f0f8924770e70f49ea26')
                                            label.resume-label UPLOAD RESUME
                                    div.col-seven
                                        if (career._id == '56990fb6576ede125be1f5cb' || career._id == '56b2696f023c7c7349fd175e' || career._id == '56b26b56023c7c7349fd1762' || career._id == '5723f0f8924770e70f49ea26')
                                            div.fileupload
                                                span CHOOSE FILE
                                                    span.file-support (only PDF or MS Word)
                                                    input(type='file' name="resume")#uploadBtn
                                                input(type="hidden" name="resume2")#uploadFile
                                                span.err Please upload resume
                                                div.pdf
                                                    img(src="/images/pdf.png")#pdf-img.fl
                                                    p
                                                div.doc
                                                    img(src="/images/doc.png")#doc-img.fl
                                                    p
                                    input(type="hidden" name="applied_for" value= career.title)
                                    input(type="hidden" name="area")#area
                                    if (career._id == '56b344358db743847587bb3e' || career._id == '56990fd8576ede125be1f5cc' || career._id == '56b26b56023c7c7349fd1762')
                                        input(type="hidden" name="license_nail_service")#get-nail-license.require-nail
                                    else
                                        input(type="hidden" name="license_nail_service")#get-nail-license
                                    if (career._id == '56b344358db743847587bb3e' || career._id == '56990fd8576ede125be1f5cc' || career._id == '56b26b56023c7c7349fd1762')
                                        input(type="hidden" name="license_waxing_service")#get-wax-license.require-wax
                                    else
                                        input(type="hidden" name="license_waxing_service")#get-wax-license
                                    //input(type="hidden" name="state")#get-state
                                    //input(type="hidden" name="position1")#get-pos1
                                    //input(type="hidden" name="position2")#get-pos2
                                    //input(type="hidden" name="location_choice_first")#get-loc2
                                    //input(type="hidden" name="location_choice_second")#get-loc1
                                    //input(type="hidden" name="you_work_weekdays")#get-weekdays
                                    //input(type="hidden" name="you_work_weeknights")#get-weeknight
                                    //input(type="hidden" name="you_work_weekend_days")#get-weekendday
                                    //input(type="hidden" name="you_work_weekend_nights")#get-weekend-night
                                    //input(type="hidden" name="education")#get-education
                                    //input(type="hidden" name="license")#getlicense
                                div.form-block.row
                                    div.col-twelve.text-center
                                        button(type='submit').career-submit Submit

block css
    style.
        .fileupload{
            position: relative;
        }
        .fileupload input[type="file"]{
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer;
            width: 100%;
            height: 32px;
        }
        .fileupload>span{
            font-size: 15px;;
            font-family: 'futura_md_btbold';
            border-bottom: 1px solid #704c61;
            cursor: pointer;
        }
        .fileupload .file-support{
            font-family: 'futura_lt_btlight';
            border-bottom: 1px solid #fff;
            padding-left: 12px;
        }

        .wrapper-dropdown-2 {
            position: relative;
            width: 100%;
            margin: 0 auto 25px;
            padding: 1px 15px;
            background: #EDECEA;
            cursor: pointer;
            outline: none;
            font-family: 'futura_md_btmedium';
            font-size: 15px;
            color: #704c61;
            opacity: 0.7;
            letter-spacing: 0.8px;
        }

        .wrapper-dropdown-2 h5.loc-head {
            font-size: 15px;
            color: #704c61;
            margin-bottom: 0;
            letter-spacing: 1.4px;
        }

        .wrapper-dropdown-2.active {
            opacity: 1;
        }

        .wrapper-dropdown-2:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            right: 16px;
            top: 50%;
            margin-top: -3px;
            border-width: 7px 6px 0 6px;
            border-style: solid;
            border-color: #704c61 transparent;
            transition: all 0.2s linear;
        }
        .wrapper-dropdown-2.active:after {
            border-width: 0 6px 7px 6px;
            border-color: #704c61 transparent;
            transition: all 0.2s linear;
        }
        .wrapper-dropdown-2 .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0px;
            background: #EDECEA;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
            list-style: none;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            border-top: 1px solid rgba(112, 76, 97, 0.29);
            height: 100px;
            overflow-y: scroll;
        }
        .wrapper-dropdown-2.active .dropdown {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            z-index: 9;
        }

        .wrapper-dropdown-2 .dropdown > li > a {
            font-size: 15px;
            padding: 6px 15px;
            display: block;
            transition: 0.5s;
            border-bottom: 1px solid rgba(112, 76, 97, 0.29);
            letter-spacing: 1.4px;
        }

        .wrapper-dropdown-2 .dropdown > li > a:hover {
            background: rgba(112, 76, 97, 0.48);
            color: #fff;
        }

        .career-form .err, .career-form .email-err {
            bottom: 0px;
        }
        .fileupload .err{
            bottom: -3px;
            font-family: 'futura_lt_btlight';
        }
        form.career-form label.resume-label{
            margin-top: 0!important;
        }

        .wrapper-dropdown-2 .dropdown > li:last-child > a {
            border-bottom: 0;
        }
        .pdf, .doc{
            display: none;
        }
        .pdf img, .doc img{
            margin-right: 6px;
            width: 32px;
        }
        .pdf p, .doc p{
            padding-top: 5px;;
        }
block js
    script(src='/vendor/maskinput.min.js')
    script.
        $(document).ready(function () {
            $('#phone')
                    .keydown(function (e) {
                        var key = e.charCode || e.keyCode || 0;
                        $phone = $(this);

                        // Auto-format- do not expose the mask as the user begins to type
                        if (key !== 8 && key !== 9) {
                            //                    if ($phone.val().length === 4) {
                            //                        $phone.val($phone.val());
                            //                    }
                            if ($phone.val().length === 3) {
                                $phone.val($phone.val() + '-');
                            }
                            if ($phone.val().length === 7) {
                                $phone.val($phone.val() + '-');
                            }
                        }

                        // Allow numeric (and tab, backspace, delete) keys only
                        return (key == 8 ||
                        key == 9 ||
                        key == 46 ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                    })

                    .bind('focus click', function () {
                        $phone = $(this);

                        if ($phone.val().length === 0) {
                            $phone.val();
                        }
                        else {
                            var val = $phone.val();
                            $phone.val('').val(val); // Ensure cursor remains at the end
                        }
                    });

            $("#phone").attr("maxlength", 12)
        });
        $('.alphaonly').keydown(function (e) {
            var keyCode = (evt.which) ? evt.which : evt.keyCode
            if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 08 && keyCode != 09 && keyCode != 11 && keyCode != 127)

                return false;
            return true;
        });
        function onlyAlphabets(e, t) {
            try {
                if (window.event) {
                    var charCode = window.event.keyCode;
                }
                else if (e) {
                    var charCode = e.which;
                }
                else {
                    return true;
                }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                    return true;
                else
                    return false;
            }
            catch (err) {
                alert(err.Description);
            }
        }
        $('#zip').keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });

        $('#phone').on('focus click', function () {
            $phone = $(this);
            if ($phone.val().length === 0) {
             //   $phone.val();
            }
            else {
                var val = $phone.val();
              //  $phone.val('').val(val); // Ensure cursor remains at the end
            }

        })

        $('form.career-form').on('submit', function () {
            var fname = $('form.career-form input[name="first_name"]').val();
            var lname = $('form.career-form input[name="last_name"]').val();
            var email = $('form.career-form input[name="email"]').val();
            var area = $('form.career-form  input[name="area"]').val();
            var valid_nail_license = $('form.career-form  input[name="license_nail_service"]');
            var valid_wax_license = $('form.career-form  input[name="license_waxing_service"]');
            var zip = $('form.career-form  input[name="postal_code"]').val();
            var city = $('form.career-form input[name="city"]').val();
            var phone = $('form.career-form input[name="phone"]').val();


            if (valid_nail_license.hasClass('require-nail')) {
                var nail_license = $('form.career-form  input[name="license_nail_service"]').val();
            } else{
                var nail_license = 'Not available';
            }

            if (valid_wax_license.hasClass('require-wax')) {
                var wax_license = $('form.career-form  input[name="license_waxing_service"]').val();
            } else{
                var wax_license = 'Not available'
            }

            //console.log(resume);
            var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if (!fname || !fname.trim()) {
                $('form.career-form input[name="first_name"]').siblings('.err').addClass('err-get');
                $('form.career-form input[name="first_name"]').addClass('red-brdr');
                setTimeout(function () {
                    $('form.career-form input[name="first_name"]').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.career-form input[name="first_name"]').siblings('.err').removeClass('err-get');
                }, 5000);

                $('html, body').animate({scrollTop: $('#fname-row').position().top - 100}, 'slow');
                return false;
            } else if (!lname || !lname.trim()) {
                $('form.career-form input[name="last_name"]').siblings('.err').addClass('err-get');
                $('form.career-form input[name="last_name"]').addClass('red-brdr');
                setTimeout(function () {
                    $('form.career-form input[name="last_name"]').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.career-form input[name="last_name"]').siblings('.err').removeClass('err-get');
                }, 5000);

                $('html, body').animate({scrollTop: $('#fname-row').position().top - 100}, 'slow');
                return false;
            } else if (!phone || !phone.trim()) {
                $('form.career-form input[name="phone"]').siblings('.err').addClass('err-get');
                $('form.career-form input[name="phone"]').addClass('red-brdr');
                setTimeout(function () {
                    $('form.career-form input[name="phone"]').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.career-form input[name="phone"]').siblings('.err').removeClass('err-get');
                }, 5000);
                $('html, body').animate({scrollTop: $('#phone-row').position().top - 100}, 'slow');
                return false;
            }
            else if (!email) {
                $('form.career-form input[name="email"]').siblings('.err').addClass('err-get');
                $('form.career-form input[name="email"]').addClass('red-brdr');
                setTimeout(function () {
                    $('form.career-form input[name="email"]').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.career-form input[name="email"]').siblings('.err').removeClass('err-get');
                }, 5000);
                $('html, body').animate({scrollTop: $('#mail-row').position().top - 100}, 'slow');
                $('form.career-form input[name="email"]').siblings('.email-err').removeClass('err-get');
                return false;
            } else if (!filter.test(email)) {
                $('form.career-form input[name="email"]').siblings('.email-err').addClass('err-get');
                $('form.career-form input[name="email"]').addClass('red-brdr');
                setTimeout(function () {
                    $('form.career-form input[name="email"]').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.career-form input[name="email"]').siblings('.email-err').removeClass('err-get');
                }, 5000);
                $('html, body').animate({scrollTop: $('#mail-row').position().top - 100}, 'slow');
                $('form.career-form input[name="email"]').siblings('.err').removeClass('err-get');
                return false;
            } else if (!zip || !zip.trim()) {
                $('form.career-form input[name="postal_code"]').siblings('.err').addClass('err-get');
                $('form.career-form input[name="postal_code"]').addClass('red-brdr');
                setTimeout(function () {
                    $('form.career-form input[name="postal_code"]').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.career-form input[name="postal_code"]').siblings('.err').removeClass('err-get');
                }, 5000);

                $('html, body').animate({scrollTop: $('#zip-row').position().top - 100}, 'slow');
                return false;
            } else if (!area || !area.trim()) {
                $('form.career-form #loc2-drop').siblings('.err').addClass('err-get');
                $('form.career-form #loc2-drop').addClass('red-brdr');
                setTimeout(function () {
                    $('form.career-form #loc2-drop').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.career-form #loc2-drop').siblings('.err').removeClass('err-get');
                }, 5000);

                $('html, body').animate({scrollTop: $('#area-row').position().top - 100}, 'slow');
                return false;
            } else if (!nail_license || !nail_license.trim()) {
                $('form.career-form #license-drop').siblings('.err').addClass('err-get');
                $('form.career-form #license-drop').addClass('red-brdr');
                setTimeout(function () {
                    $('form.career-form #license-drop').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.career-form #license-drop').siblings('.err').removeClass('err-get');
                }, 5000);

                $('html, body').animate({scrollTop: $('#nail-row').position().top - 100}, 'slow');
                return false;
            } else if (!wax_license || !wax_license.trim()) {
                $('form.career-form #waxing-service').siblings('.err').addClass('err-get');
                $('form.career-form #waxing-service').addClass('red-brdr');
                setTimeout(function () {
                    $('form.career-form #waxing-service').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.career-form #waxing-service').siblings('.err').removeClass('err-get');
                }, 5000);

                $('html, body').animate({scrollTop: $('#wax-row').position().top - 100}, 'slow');
                return false;
            } else {
                $('form.career-form button[type="submit"]').prop('disabled', true);
            }

        })


        $('.area').on('click', function(){
            $('form.career-form #area').val($(this).attr('data-area'));
            $(this).parents('.dd').find('h5.loc-head').text($(this).attr('data-area'));
        })
        $('.nail-license').on('click', function () {
            $('form.career-form #get-nail-license').val($(this).attr('data-license'));
            $(this).parents('.dd').find('h5.loc-head').text($(this).attr('data-license'));
        });
        $('.wax-license').on('click', function () {
            $('form.career-form #get-wax-license').val($(this).attr('data-license'));
            $(this).parents('.dd').find('h5.loc-head').text($(this).attr('data-license'));
        });

        $('#uploadBtn').on('change', function () {
            myfile = $(this).val();

            var ext = myfile.split('.').pop();
            if (ext == "pdf" || ext == "docx" || ext == "doc") {
                $('.fileupload>span').hide();
                if (ext == "pdf"){
                    $('.pdf').show();
                    $('.pdf>p').text(myfile);
                    $('.doc').hide();
                } else if (ext == "docx" || ext == "doc"){
                    $('.pdf').hide();
                    $('.doc').show();
                    $('.doc>p').text(myfile);
                }
            } else {
                alert('Please Upload Only PDF or MS Word');
                $('#uploadBtn').val('');
            }
        });

        function DropDown1(el) {
            this.state_drop = el;
            this.initEvents();
        }
        DropDown1.prototype = {
            initEvents: function () {
                var obj = this;

                obj.state_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#pos1-drop, #pos2-drop, #loc1-drop, #loc2-drop, #weekday-drop, #weeknight-drop, #weekend-drop, #weekendnght-drop, #education-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var state_drop = new DropDown1($('#state-drop'));

        function DropDown2(el) {
            this.pos1_drop = el;
            this.initEvents();
        }
        DropDown2.prototype = {
            initEvents: function () {
                var obj = this;

                obj.pos1_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos2-drop, #loc1-drop, #loc2-drop, #weekday-drop, #weeknight-drop, #weekend-drop, #weekendnght-drop, #education-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var pos1_drop = new DropDown2($('#pos1-drop'));

        function DropDown3(el) {
            this.pos2_drop = el;
            this.initEvents();
        }
        DropDown3.prototype = {
            initEvents: function () {
                var obj = this;

                obj.pos2_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos1-drop, #loc1-drop, #loc2-drop, #weekday-drop, #weeknight-drop, #weekend-drop, #weekendnght-drop, #education-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var pos2_drop = new DropDown3($('#pos2-drop'));

        function DropDown4(el) {
            this.loc1_drop = el;
            this.initEvents();
        }
        DropDown4.prototype = {
            initEvents: function () {
                var obj = this;

                obj.loc1_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos1-drop, #pos2-drop, #loc2-drop, #weekday-drop, #weeknight-drop, #weekend-drop, #weekendnght-drop, #education-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var loc1_drop = new DropDown4($('#loc1-drop'));

        function DropDown5(el) {
            this.loc2_drop = el;
            this.initEvents();
        }
        DropDown5.prototype = {
            initEvents: function () {
                var obj = this;

                obj.loc2_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos2-drop, #pos1-drop, #loc1-drop, #weekday-drop, #weeknight-drop, #weekend-drop, #weekendnght-drop, #education-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var loc2_drop = new DropDown5($('#loc2-drop'));

        function DropDown6(el) {
            this.weekday_drop = el;
            this.initEvents();
        }
        DropDown6.prototype = {
            initEvents: function () {
                var obj = this;

                obj.weekday_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos2-drop, #pos1-drop, #loc1-drop, #loc2-drop, #weeknight-drop, #weekend-drop, #weekendnght-drop, #education-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var weekday_drop = new DropDown6($('#weekday-drop'));

        function DropDown7(el) {
            this.weeknight_drop = el;
            this.initEvents();
        }
        DropDown7.prototype = {
            initEvents: function () {
                var obj = this;

                obj.weeknight_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos2-drop, #pos1-drop, #loc1-drop, #loc2-drop, #weekday-drop, #weekend-drop, #weekendnght-drop, #education-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var weeknight_drop = new DropDown7($('#weeknight-drop'));

        function DropDown8(el) {
            this.weekend_drop = el;
            this.initEvents();
        }
        DropDown8.prototype = {
            initEvents: function () {
                var obj = this;

                obj.weekend_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos2-drop, #pos1-drop, #loc1-drop, #loc2-drop, #weekday-drop, #weeknight-drop, #weekendnght-drop, #education-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var weekend_drop = new DropDown8($('#weekend-drop'));

        function DropDown9(el) {
            this.weekendnght_drop = el;
            this.initEvents();
        }
        DropDown9.prototype = {
            initEvents: function () {
                var obj = this;

                obj.weekendnght_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos2-drop, #pos1-drop, #loc1-drop, #loc2-drop, #weekday-drop, #weeknight-drop, #weekend-drop, #education-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var weekendnght_drop = new DropDown9($('#weekendnght-drop'));

        function DropDown10(el) {
            this.education_drop = el;
            this.initEvents();
        }
        DropDown10.prototype = {
            initEvents: function () {
                var obj = this;

                obj.education_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos2-drop, #pos1-drop, #loc1-drop, #loc2-drop, #weekday-drop, #weeknight-drop, #weekend-drop, #weekendnght-drop, #license-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var education_drop = new DropDown10($('#education-drop'));

        function DropDown11(el) {
            this.license_drop = el;
            this.initEvents();
        }
        DropDown11.prototype = {
            initEvents: function () {
                var obj = this;

                obj.license_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos2-drop, #pos1-drop, #loc1-drop, #loc2-drop, #weekday-drop, #weeknight-drop, #weekend-drop, #weekendnght-drop, #education-drop, #waxing-service').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var license_drop = new DropDown11($('#license-drop'));

        function DropDown12(el) {
            this.waxing_drop = el;
            this.initEvents();
        }
        DropDown12.prototype = {
            initEvents: function () {
                var obj = this;

                obj.waxing_drop.on('click', function (event) {
                    $(this).toggleClass('active');
                    $('#state-drop, #pos2-drop, #pos1-drop, #loc1-drop, #loc2-drop, #weekday-drop, #weeknight-drop, #weekend-drop, #weekendnght-drop, #education-drop').removeClass('active');
                    event.stopPropagation();
                });
            }
        }
        var waxing_drop = new DropDown12($('#waxing-service'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-2').removeClass('active');
        });

        var fullurl = window.location.href;
        var split_url = fullurl.split("/");
        $("nav.main-nav ul li a").each(function () {
            if ($(this).attr("href") == '/' + split_url['3'] || $(this).attr("href") == '')
                $(this).addClass("active");
        })