extends ../layouts/default

block content
    .banner-contact
        img(src='/images/contact-bg.jpg')
    h2.text-uppercase.text-center.contact-page-head How can we help?
    div.contact-form
        form.contact-us(method='post' novalidate)
            input(type='hidden', name='action', value='contact')
            div.form-block.row#first-name-div
                div.col-six
                    input.form-control.alphaonly#fname(type='text' placeholder='First Name*' name='first_name')
                    span.err Please enter first name
                div.col-six
                    input.form-control.alphaonly#lname(type='text' placeholder='Last Name' name='last_name')
            div.form-block.row#email-div
                div.col-six
                    input.form-control#email(type='email' placeholder='Email*' name='email')
                    span.err Please enter email
                    span.email-err Please enter valid email
                div.col-six
                    input.form-control(type='text' name='phone' placeholder='xxx-xxx-xxxx')#phone
            div.form-block.row
                div.col-twelve
                    div#dd.wrapper-dropdown-2
                        h5.loc-head Location
                        ul.dropdown
                            if locations
                                each location in locations
                                    li
                                        a(href="javascript:;" data-loc= location.nameLong).get-loc= location.nameLong
                                            if location.Status == 'draft'
                                                span (Coming Soon)
            div.form-block.row
                div.col-twelve
                    input.form-control#subject(type='text' placeholder='Subject' name='Subject')
            div.form-block.row#message-div
                div.col-twelve
                    textarea.form-control#message(placeholder='Message*' name='message')
                    span.err Please enter your message
                input(type="hidden" name="store_location").store-loc
            div.submit-cntct-btn
                button(type='submit').contact-submit Send
        div.enquiry-block
            div.row
                div.col-six
                    h2.text-uppercase THE 411
                    p MiniLuxe
                    p One Faneuil Hall Square, Floor 7
                    p Boston, MA 02109
                    a(href="mailto:info@miniluxe.com" style="margin-left:0") info@miniluxe.com
block css
    style.
        .enquiry-block a{
            text-decoration: underline;
            padding-bottom: 0px;
            display: inline-block;
            margin-left: 5px;
        }
        .contact-us .err, .contact-us .email-err{
            bottom: 0;
        }
        .msg-for-space{
            margin-bottom: 10em;
        }
        .wrapper-dropdown-2 {
            position: relative;
            width: 100%;
            margin: 0 auto 25px;
            padding: 1px 15px;
            background: #EDECEA;
            cursor: pointer;
            outline: none;
            font-family: 'futura_md_btmedium';
            font-size: 15px;
            color: #704c61;
            opacity: 0.7;
            letter-spacing: 0.8px;
        }
        .wrapper-dropdown-2 h5.loc-head{
            font-size: 14px;
            color: #704c61;
            margin-bottom: 0;
            letter-spacing: 1.4px;
        }
        .wrapper-dropdown-2.active{
            opacity: 1;
        }
        .wrapper-dropdown-2:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            right: 16px;
            top: 50%;
            margin-top: -3px;
            border-width: 7px 6px 0 6px;
            border-style: solid;
            border-color: #704c61 transparent;
            transition: all 0.2s linear;
        }

        .wrapper-dropdown-2.active:after {
            border-width: 0 6px 7px 6px;
            border-color: #704c61 transparent;
            transition: all 0.2s linear;
        }

        .wrapper-dropdown-2 .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0px;
            background: #EDECEA;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            list-style: none;
            opacity: 0;
            pointer-events: none;
            border-top: 1px solid rgba(112, 76, 97, 0.20);
            overflow-y: scroll;
            height: 120px;
        }

        .wrapper-dropdown-2.active .dropdown {
            opacity: 1;
            pointer-events: auto;
            z-index: 9;
        }

        .wrapper-dropdown-2 .dropdown > li > a {
            font-size: 14px;
            padding: 6px 15px;
            display: block;
            transition: 0.5s;
            border-bottom: 1px solid rgba(112, 76, 97, 0.20);
            letter-spacing: 1.4px;
        }
        .wrapper-dropdown-2 .dropdown > li:last-child > a {
            border-bottom: 0;
        }
        .wrapper-dropdown-2 .dropdown > li > a:hover {
            background: rgba(112, 76, 97, 0.48);
            color: #fff;
        }
        #footer{
            position: absolute;
            width: 100%;
        }
block js
    script(src='vendor/maskinput.min.js')
    script.
        $("#phone").mask("999-999-9999");

        $('.alphaonly').keydown(function (e) {
            var keyCode = (evt.which) ? evt.which : evt.keyCode
            if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 08 && keyCode != 09 && keyCode != 11 && keyCode != 127)

                return false;
            return true;
        });
        $('form.contact-us').on('submit', function(){

            var fname = $('input[name="first_name"]').val();
            var email = $('input[name="email"]').val();
            var message = $('textarea[name="message"]').val();
            var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

            if(!fname || !fname.trim()){
                $('form.contact-us input[name="first_name"]').siblings('.err').addClass('err-get');
                $('form.contact-us input[name="first_name"]').addClass('red-brdr');
                setTimeout(function () {
                    $('form.contact-us input[name="first_name"]').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.contact-us input[name="first_name"]').siblings('.err').removeClass('err-get');
                }, 5000);
                $('html, body').animate({scrollTop:$('#first-name-div').position().top - 100}, 'slow');
                return false;
            } else if (!email) {
                $('form.contact-us input[name="email"]').siblings('.err').addClass('err-get');
                $('form.contact-us input[name="email"]').addClass('red-brdr');
                setTimeout(function () {
                    $('form.contact-us input[name="email"]').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.contact-us input[name="email"]').siblings('.err').removeClass('err-get');
                }, 5000);
                $('html, body').animate({scrollTop:$('#email-div').position().top - 100}, 'slow');
                $('form.contact-us input[name="email"]').siblings('.email-err').removeClass('err-get');
                return false;
            }  else if (!filter.test(email)) {
                $('form.contact-us input[name="email"]').siblings('.email-err').addClass('err-get');
                $('form.contact-us input[name="email"]').addClass('red-brdr');
                setTimeout(function () {
                    $('form.contact-us input[name="email"]').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.contact-us input[name="email"]').siblings('.email-err').removeClass('err-get');
                }, 5000);
                $('html, body').animate({scrollTop:$('#email-div').position().top - 100}, 'slow');
                $('form.contact-us input[name="email"]').siblings('.err').removeClass('err-get');
                return false;
            } else if(!message || !message.trim()){
                $('form.contact-us textarea').siblings('.err').addClass('err-get').css('bottom', '-29px');
                //$('form.contact-us textarea').siblings('.err').css('bottom', '-29');
                $('form.contact-us textarea').addClass('red-brdr');
                setTimeout(function () {
                    $('form.contact-us textarea').removeClass("red-brdr");
                }, 5000);
                setTimeout(function () {
                    $('form.contact-us textarea').siblings('.err').removeClass('err-get');
                }, 5000);
                $('html, body').animate({scrollTop:$('#message-div').position().top - 100}, 'slow');
                return false;
            } else {
                $('form.contact-us button[type="submit"]').prop('disabled', true);
            }

        })

        function DropDown(el) {
            this.dd = el;
            this.initEvents();
        }
        DropDown.prototype = {
            initEvents: function () {
                var obj = this;

                obj.dd.on('click', function (event) {
                    $(this).toggleClass('active');
                    event.stopPropagation();
                });
            }
        }
        var dd = new DropDown($('#dd'));

        $('.get-loc').on('click', function(){
            $('.store-loc').val($(this).attr('data-loc'));
            $('h5.loc-head').text($(this).attr('data-loc'));
        })

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-2').removeClass('active');
        });

        $('#fname').data('holder', $('#fname').attr('placeholder'));
        $('#fname').focusin(function () {
            $(this).attr('placeholder', '');
        });
        $('#fname').focusout(function () {
            $(this).attr('placeholder', $(this).data('holder'));
        });
        $('#lname').data('holder', $('#lname').attr('placeholder'));
        $('#lname').focusin(function () {
            $(this).attr('placeholder', '');
        });
        $('#lname').focusout(function () {
            $(this).attr('placeholder', $(this).data('holder'));
        });
        $('#email').data('holder', $('#email').attr('placeholder'));
        $('#email').focusin(function () {
            $(this).attr('placeholder', '');
        });
        $('#email').focusout(function () {
            $(this).attr('placeholder', $(this).data('holder'));
        });
        $('#phone').data('holder', $('#phone').attr('placeholder'));
        $('#phone').focusin(function () {
            $(this).attr('placeholder', '');
        });
        $('#phone').focusout(function () {
            $(this).attr('placeholder', $(this).data('holder'));
        });
        $('#subject').data('holder', $('#subject').attr('placeholder'));
        $('#subject').focusin(function () {
            $(this).attr('placeholder', '');
        });
        $('#subject').focusout(function () {
            $(this).attr('placeholder', $(this).data('holder'));
        });
        $('#message').data('holder', $('#message').attr('placeholder'));
        $('#message').focusin(function () {
            $(this).attr('placeholder', '');
        });
        $('#message').focusout(function () {
            $(this).attr('placeholder', $(this).data('holder'));
        });