include ../mixins/flash-messages

doctype html
html

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        if(titles.length)
            each title in titles
                title= title.name
        else
            title='Miniluxe'
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

        //- Customise the stylesheet for your site by editing /public/styles/site.sass
        link(href="/styles/site.css", rel="stylesheet" type="text/css")
        link(href="/styles/jquery.bxslider.css" rel="stylesheet" type="text/css")
        //- This file provides the default styling for the KeystoneJS Content Editor
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- Safely remove this block if you are not targeting IE8
        //-[if lt IE 9]
            script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
            script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
        //-[endif]

        //- Include template-specific stylesheets by extending the css block
        block css

        //- Add any other template-specific HEAD tags by extending the head block
        block head

    //- HTML BODY
    body
        div.social_bar.default-header
            //mobile menu toggle button
            div.default-menu-toggle
                div.one
                div.two
                div.three
            div.default-logo
                a(href='/')
                    img(src='/images/Logo_miniluxe-2.png')
            div.home-mobile-logo
                a(href='/')
                    img(src='/images/Logo_miniluxe-2.png')
            div.main-nav-default
                nav.main-nav
                    ul
                        li.services-link
                            a(href='/services') Services
                            ul.sub-menu
                                li: a(href='/services#manicure') Manicures
                                li: a(href='/services#pedicure') Pedicures
                                li: a(href='/services#mani-pedis') Mani-Pedis
                                li: a(href='/services#waxing') Waxing
                                li: a(href='/services#brows') Brows
                                li: a(href='/services#for-him') For Him
                        li: a(href='/location') Locations
                        li: a(href='/purpose') Purpose
                        li: a(href='/careers') Careers
                        li: a(href='/booking').book-appointment Book an Appointment
            div.top_social_menu
                ul
                    li: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
                    li: a(href='https://instagram.com/miniluxe/' target='_blank')
                        img(src='/images/icon_insta.png')
                    li: a(href='https://twitter.com/MiniLuxe' target='_blank')
                        img(src='/images/icon_twitter.png')
                    li: a(href='https://www.facebook.com/MiniLuxe' target='_blank')
                        img(src='/images/icon_fb.png')
            div.mobile-top-social-menu
                ul
                    li.giftcard: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
                    li: a(href='https://instagram.com/miniluxe/' target='_blank')
                        img(src='/images/mobile-insta.png')
                    li: a(href='https://twitter.com/MiniLuxe' target='_blank')
                        img(src='/images/mob-twitter.png')
                    li: a(href='https://www.facebook.com/MiniLuxe' target='_blank')
                        img(src='/images/mob-fb.png')
            div.clearfix
        nav.main-mobile-nav
            ul
                li.services-link
                    a(href='javascript:;') Services
                    ul.sub-menu
                        li: a(href='/services#manicure') Manicures
                        li: a(href='/services#pedicure') Pedicures
                        li: a(href='/services#mani-pedis') Mani-Pedis
                        li: a(href='/services#waxing') Waxing
                        li: a(href='/services#brows') Brows
                        li: a(href='/services#for-him') For Him
                li: a(href='/location') Locations
                li: a(href='/purpose') Purpose
                li: a(href='/careers') Careers
                li: a(href='/booking').book-appointment Book an Appointment
                li: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
        div.container


        //- BODY
        #body

            block content
                .banner-contact
                    img(src='/images/career-bg.png')
                if enquirySubmitted
                    div.msg-parnt
                        h2.text-uppercase.text-center.thanks-msg.thanks-msg1 THANK YOU
                        h2.text-center.thanks-msg.msg-for-space The MiniLuxe team will contact you shortly.
                else
                    div.msg-parnt
                        h2.text-center.thanks-msg.thanks-msg1 Something went wrong. Try Again later.
        footer#footer
            .footer-container
                ul.footer-nav.text-center.list-inline.text-uppercase
                    if footernavs
                        each footernav in footernavs
                            li
                                if footernav.Url
                                    a(href= footernav.Url)= footernav.Text
                                else
                                    p= footernav.Text

        style.
            .thanks-msg1{
                margin-top: 1.5em;
            }
            @media (min-width: 768px) {
                #footer {
                    position: fixed;
                    width: 100%;
                    bottom: 0;
                }
            }
        script(src='/js/jquery/jquery-2.1.4.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script.
            $('.default-menu-toggle').on('click', function () {
                $(this).toggleClass('on');
                $('.main-mobile-nav').slideToggle();
            })
            $('.main-mobile-nav .services-link').on('click', function () {
                $(this).find('.sub-menu').slideToggle();
            })
            $('nav.main-mobile-nav li.services-link ul.sub-menu>li>a').on('click', function () {
                $('nav.main-mobile-nav').slideUp();
                $('.default-menu-toggle').removeClass('on');
            });
        div.ga
            script(type = 'text/javascript').
                //Google analytics
                var google_conversion_id = 969932127;
                var google_conversion_language = "en";
                var google_conversion_format = "3";
                var google_conversion_color = "ffffff";
                var google_conversion_label = "Ng-ACOiKqlkQ3_q_zgM";
                var google_remarketing_only = false;
                /* ]]> */
        script(type = 'text/javascript', src = "//www.googleadservices.com/pagead/conversion.js")
        noscript
            div(style = 'display:inline;')
                img(height = '1', width = '1', style = 'border-style:none;', alt = '', src = '//www.googleadservices.com/pagead/conversion/969932127/?label=Ng-ACOiKqlkQ3_q_zgM&guid=ON&script=0')