extends ../layouts/default

block content
    .banner-booking
        if giftcards
            each giftcard in giftcards
                img(src= giftcard.bannerImage.url)
    .container.gift-card-container
        div.steap-1
            div.page-heading
                h1.text-center.gift-step 1
                h3.text-center.gift-step-title.text-uppercase Choose Gift
            div.row
                div.col-six.gift-cards.e-card
                    div.gift-card-img
                        ul.bxslider
                            if giftcards
                                each giftcard in giftcards
                                    if giftcard.slider.image_first.url
                                        li.clearfix
                                            img(src= giftcard.slider.image_first.url)
                                    if giftcard.slider.image_second.url
                                        li.clearfix
                                            img(src= giftcard.slider.image_second.url)
                                    if giftcard.slider.image_third.url
                                        li.clearfix
                                            img(src= giftcard.slider.image_third.url)
                                    if giftcard.slider.image_fourth.url
                                        li.clearfix
                                            img(src= giftcard.slider.image_fourth.url)
                    div.gift-info
                        div.squaredOne
                            span.box
                            label e-card
                        p Design: Plum & Gold
                    div#bx-pager
                        if giftcards
                            each giftcard in giftcards
                                if giftcard.slider.image_first.url
                                    a(data-slide-index="0" href="")
                                        img(src= giftcard.slider.image_first.url)
                                if giftcard.slider.image_second.url
                                    a(data-slide-index="1" href="")
                                        img(src= giftcard.slider.image_second.url)
                                if giftcard.slider.image_third.url
                                    a(data-slide-index="2" href="")
                                        img(src= giftcard.slider.image_third.url)
                                if giftcard.slider.image_fourth.url
                                    a(data-slide-index="3" href="")
                                        img(src= giftcard.slider.image_fourth.url)
                div.col-six.gift-cards.deluxe-gift
                    div.gift-card-img
                        if giftcards
                            each giftcard in giftcards
                                img(src= giftcard.deluxeGift.url)
                    div.gift-info
                        div.squaredOne
                            span.box
                            label Deluxe Gift
        div.step-2
            div.page-heading
                h1.text-center.gift-step 2
                h3.text-center.gift-step-title.text-uppercase Choose Amount or Services
            div.row
                div.choose-amount-service.clearfix
                    div.col-six
                        div.amount-quantity
                            div.amount
                                span.fixed-dollar $
                                input(type="number" placeholder="00").amount.requrd#txtTotalAmt
                            select(name="quantity").card-quantity
                                option(value='')  Quantity
                                option(value='1') QTY: 1
                                option(value='2') QTY: 2
                                option(value='3') QTY: 3
                                option(value='4') QTY: 4
                                option(value='5') QTY: 5
                            span#digit-err
                    div.col-six
                        h5.select-service Select Services
                        div.service-dropdown
                            div.calculated-price.clearfix
                                label Total
                                input(type="text" name="_txtServiceAmount" value="0.00" id="_txtServiceAmount" disabled)
                            h5.text-uppercase services
                            div.service-block
                                h6.text-uppercase Body Waxing
                                ul
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Bikini Waxing" class="service-checkbox" onclick="chkService(30.00,0.00,this);" name="")
                                            label Bikini Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $30
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Brazilian Waxin" class="service-checkbox" onclick="chkService(65.00,0.00,this);")
                                            label Brazilian Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $65
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Chest Waxing" class="service-checkbox" onclick="chkService(45.00,0.00,this);")
                                            label Chest Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $45
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Ears Waxing" class="service-checkbox" onclick="chkService(10.00,0.00,this);")
                                            label Ears Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $10
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Fingers Waxing" class="service-checkbox" onclick="chkService(10.00,0.00,this);")
                                            label Fingers Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $10
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="French Bikini Waxing" class="service-checkbox" onclick="chkService(40.00,0.00,this);")
                                            label French Bikini Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $40
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Full Arm Waxing" class="service-checkbox" onclick="chkService(45.00,0.00,this);")
                                            label Full Arm Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $45
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Full Back Waxing" class="service-checkbox" onclick="chkService(50.00,0.00,this);")
                                            label Full Back Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $50
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Full Leg Waxing" class="service-checkbox" onclick="chkService(75.00,0.00,this);")
                                            label Full Leg Waxing
                                        div.col-six.text-right
                                            p.time 45min
                                            p.price $75
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Half Arm Waxing" class="service-checkbox" onclick="chkService(25.00,0.00,this);")
                                            label Half Arm Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $25
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Half Back Waxing" class="service-checkbox" onclick="chkService(40.00,0.00,this);")
                                            label Half Back Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $40
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Lower Leg Waxing" class="service-checkbox" onclick="chkService(35.00,0.00,this);")
                                            label Lower Leg Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $35
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Mini-Brazilian Waxing" class="service-checkbox" onclick="chkService(50.00,0.00,this);")
                                            label Mini-Brazilian Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $50
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Neck Waxing" class="service-checkbox" onclick="chkService(20.00,0.00,this);")
                                            label Neck Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $20
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Nose Waxing" class="service-checkbox" onclick="chkService(10.00,0.00,this);")
                                            label Nose Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $10
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Sideburns Waxing" class="service-checkbox" onclick="chkService(15.00,0.00,this);")
                                            label Sideburns Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $15
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Stomach Waxing" class="service-checkbox" onclick="chkService(20.00,0.00,this);")
                                            label Stomach Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $20
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Toes Waxing" class="service-checkbox" onclick="chkService(10.00,0.00,this);")
                                            label Toes Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $10
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Underarms Waxing" class="service-checkbox" onclick="chkService(20.00,0.00,this);")
                                            label Underarms Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $20
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Upper Leg Waxing" class="service-checkbox" onclick="chkService(40.00,0.00,this);")
                                            label Upper Leg Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $40

                            div.service-block
                                h6.text-uppercase Brow & Facial Waxing
                                ul
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Brow & Lip Waxing" class="service-checkbox" onclick="chkService(35.00,0.00,this);")
                                            label Brow & Lip Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $35
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Brow Shaping w/ Tweezers" class="service-checkbox" onclick="chkService(30.00,0.00,this);")
                                            label Brow Shaping w/ Tweezers
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $30
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Brow Waxing" class="service-checkbox" onclick="chkService(20.00,0.00,this);")
                                            label Brow Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $20
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Brow, Lip & Chin Waxing" class="service-checkbox" onclick="chkService(45.00,0.00,this);")
                                            label Brow, Lip & Chin Waxing
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $45
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Chin Waxing" class="service-checkbox" onclick="chkService(15.00,0.00,this);")
                                            label Chin Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $15
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Full Face Wax" class="service-checkbox" onclick="chkService(55.00,0.00,this);")
                                            label Full Face Wax
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $55
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Lip Waxing" class="service-checkbox" onclick="chkService(15.00,0.00,this);")
                                            label Lip Waxing
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $15
                            div.service-block
                                h6.text-uppercase Gel Manicures
                                ul
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="DeLuxe Massage French Gel Manicure" class="service-checkbox" onclick="chkService(65.00,0.00,this);")
                                            label DeLuxe Massage French Gel Manicure
                                        div.col-six.text-right
                                            p.time 75min
                                            p.price $65
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="DeLuxe Massage Gel Manicure" class="service-checkbox" onclick="chkService(60.00,0.00,this);")
                                            label DeLuxe Massage Gel Manicure
                                        div.col-six.text-right
                                            p.time 60min
                                            p.price $60
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="French Gel Application (Hands)" class="service-checkbox" onclick="chkService(35.00,0.00,this);")
                                            label French Gel Application (Hands)
                                        div.col-six.text-right
                                            p.time 45min
                                            p.price $35
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Gel Application (Hands)" class="service-checkbox" onclick="chkService(25.00,0.00,this);")
                                            label Gel Application (Hands)
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $25
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Gel Removal (Hands)" class="service-checkbox" onclick="chkService(10.00,0.00,this);")
                                            label Gel Removal (Hands)
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $10
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="MiniLuxe French Gel Manicure" class="service-checkbox" onclick="chkService(55.00,0.00,this);")
                                            label MiniLuxe French Gel Manicure
                                        div.col-six.text-right
                                            p.time 60min
                                            p.price $55
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="MiniLuxe Gel Manicure" class="service-checkbox" onclick="chkService(45.00,0.00,this);")
                                            label MiniLuxe Gel Manicure
                                        div.col-six.text-right
                                            p.time 45min
                                            p.price $45
                            div.service-block
                                h6.text-uppercase Gel Pedicures
                                ul
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="DeLuxe Massage French Gel Pedicure" class="service-checkbox" onclick="chkService(84.00,0.00,this);")
                                            label DeLuxe Massage French Gel Pedicure
                                        div.col-six.text-right
                                            p.time 90min
                                            p.price $84
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="DeLuxe Massage Gel Pedicure" class="service-checkbox" onclick="chkService(79.00,0.00,this);")
                                            label DeLuxe Massage Gel Pedicure
                                        div.col-six.text-right
                                            p.time 75min
                                            p.price $79
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="French Gel Application (Feet)" class="service-checkbox" onclick="chkService(35.00,0.00,this);")
                                            label French Gel Application (Feet)
                                        div.col-six.text-right
                                            p.time 45min
                                            p.price $35
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Gel Application (Feet)" class="service-checkbox" onclick="chkService(25.00,0.00,this);")
                                            label Gel Application (Feet)
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $25
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Gel Removal (Feet)" class="service-checkbox" onclick="chkService(10.00,0.00,this);")
                                            label Gel Removal (Feet)
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $10
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="MiniLuxe French Gel Pedicure" class="service-checkbox" onclick="chkService(74.00,0.00,this);")
                                            label MiniLuxe French Gel Pedicure
                                        div.col-six.text-right
                                            p.time 75min
                                            p.price $74
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="MiniLuxe Gel Manicure" class="service-checkbox" onclick="chkService(64.00,0.00,this);")
                                            label MiniLuxe Gel Pedicure
                                        div.col-six.text-right
                                            p.time 60min
                                            p.price $64
                            div.service-block
                                h6.text-uppercase Manicures
                                ul
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Color Refresh (Hands)" class="service-checkbox" onclick="chkService(15.00,0.00,this);")
                                            label Color Refresh (Hands)
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $15
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="DeLuxe Massage Manicure" class="service-checkbox" onclick="chkService(35.00,0.00,this);")
                                            label DeLuxe Massage Manicure
                                        div.col-six.text-right
                                            p.time 45min
                                            p.price $35
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Gentleman's Manicure" class="service-checkbox" onclick="chkService(20.00,0.00,this);")
                                            label Gentleman's Manicure
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $20
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="MiniLuxe Signature Manicure" class="service-checkbox" onclick="chkService(20.00,0.00,this);")
                                            label MiniLuxe Signature Manicure
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $20
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Nail Art and Design" class="service-checkbox" onclick="chkService(5.00,0.00,this);")
                                            label Nail Art and Design
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $5
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Paraffin Manicure" class="service-checkbox" onclick="chkService(40.00,0.00,this);")
                                            label Paraffin Manicure
                                        div.col-six.text-right
                                            p.time 45min
                                            p.price $40
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="TeenyLuxe Manicure" class="service-checkbox" onclick="chkService(15.00,0.00,this);")
                                            label TeenyLuxe Manicure
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $15
                            div.service-block
                                h6.text-uppercase Pedicures
                                ul
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Color Refresh (Feet)" class="service-checkbox" onclick="chkService(21.00,0.00,this);")
                                            label Color Refresh (Feet)
                                        div.col-six.text-right
                                            p.time 15min
                                            p.price $21
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="DeLuxe Massage Pedicure" class="service-checkbox" onclick="chkService(54.00,0.00,this);")
                                            label DeLuxe Massage Pedicure
                                        div.col-six.text-right
                                            p.time 60min
                                            p.price $54
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Foot Facial" class="service-checkbox" onclick="chkService(59.00,0.00,this);")
                                            label Foot Facial
                                        div.col-six.text-right
                                            p.time 60min
                                            p.price $59
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Gentleman's Pedicure" class="service-checkbox" onclick="chkService(39.00,0.00,this);")
                                            label Gentleman's Pedicure
                                        div.col-six.text-right
                                            p.time 45min
                                            p.price $39
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="MiniLuxe Signature Pedicure" class="service-checkbox" onclick="chkService(39.00,0.00,this);")
                                            label MiniLuxe Signature Pedicure
                                        div.col-six.text-right
                                            p.time 45min
                                            p.price $39
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="MiniPedicure" class="service-checkbox" onclick="chkService(30.00,0.00,this);")
                                            label MiniPedicure
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $30
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="Paraffin Pedicure" class="service-checkbox" onclick="chkService(59.00,0.00,this);")
                                            label Paraffin Pedicure
                                        div.col-six.text-right
                                            p.time 60min
                                            p.price $59
                                    li.clearfix
                                        div.col-six
                                            input(type="checkbox" data-name="TeenyLuxe Pedicure" class="service-checkbox" onclick="chkService(28.00,0.00,this);")
                                            label TeenyLuxe Pedicure
                                        div.col-six.text-right
                                            p.time 30min
                                            p.price $28


        div.step-3
            div.page-heading
                h1.text-center.gift-step 3
                h3.text-center.gift-step-title.text-uppercase Your Gift Message
            div.row
                div.col-six.card-selected
                    img(src='').card-selected-img
                    h2.final-price
                div.col-six
                    form(method="post").sender-detail.contact-us
                        div.row
                            div.col-six
                                input(type="text" placeholder="From" name="from").form-control#from
                            div.col-six
                                input(type="text" placeholder="to" name="to").form-control#to
                        div.row
                            div.col-twelve
                                input(type="email" placeholder="Email" name="email").form-control#email
                        div.row
                            div.col-twelve
                                textarea(placeholder="Message" name="message").form-control.message#message
            div.row
                div.col-twelve.send-myself-checkbox
                    input(type="checkbox" name="send-myself").send-myself
                    label I'll send the card myself
                div.text-center
                    a(href="javascript:;").preview-link Preview the gift certificate
                div.col-twelve.text-center
                    button(type="button").checkout.text-uppercase Check out
        div.preview-card.text-center
            img(src='/images/close.png').fr.close-subscribe-popup
            h5.text-uppercase You have been
            h1.text-uppercase Well Gifted
            img(src='').card-selected-img
            p.message
            h6.card-value.text-uppercase
            a(href='/booking' target='_blank').book-appointment Book an Appoinment
            p prefer to book over the phone?
            p call our client concierge at 617-826-6192
        div#overlay
        //form(action='/checkout', method='POST')
            script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='pk_test_beuDUfDp2fdiBfc6JD5Dl1Ne', data-image='/images/Logo_miniluxe-3.png', data-name='MiniLuxe, Inc.', data-description='2 widgets', data-amount='0.20', data-locale='auto')
        div.payment-form
            form#payment-form(action='/checkout', method='POST')
                img(src="/images/close.png" class="form-close-btn")
                span.payment-errors
                .form-row
                    label
                        input(type='text', size='20', data-stripe='number' placeholder='Card Number')
                .form-row
                    label
                        input(type='text', size='4', data-stripe='cvc' placeholder='CVC')
                .form-row
                    label
                        span Expiration (MM/YYYY)
                        input(type='text', size='2', data-stripe='exp-month' class='month' placeholder="MM")
                    span  /
                    input(type='text', size='4', data-stripe='exp-year' class='year' placeholder="YYYY")
                .form-row
                    div.final-pay
                        span $
                        input(type='text' name="amount" readonly placeholder="Amount Paid")
                    input(type="hidden" data-name='MiniLuxe, Gift Card')
                    input(type="hidden" name="from")
                    input(type="hidden" name="to")
                    input(type="hidden" name="email")
                    input(type="hidden" name="message")
                    input(type="hidden" name="img_url")
                    input(type="hidden" name="send_card_by_myself")
                    input(type="hidden" name="sel_services")
                    input(type="hidden" name="quantity")
                button(type='submit') Pay
block css
    style.
        .bx-wrapper{
            margin: 0 auto;
        }
        .bx-wrapper img{
            width: 265px;
            margin: 0 auto;
        }
        .bx-wrapper .bx-viewport{
            background: none;
        }
        #bx-pager{
            text-align: center;
        }
        #bx-pager a{
            display: inline-block;
            margin: 0 5px;
            border-radius: 50%;
        }
        #bx-pager a img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 2px solid #dcdcdc;
        }
        #bx-pager a.active img{
            border: 2px solid #fff;
        }
        #bx-pager a.active{
            border: 1px solid #adadad;
        }
        .bx-wrapper .bx-next{
            background: url("/images/next.png") no-repeat;
        }

        .bx-wrapper .bx-prev {
            background: url("/images/prev.png") no-repeat;
        }
        .bx-wrapper .bx-controls-direction a{
            width: 16px;
        }
        .bx-wrapper .bx-next:hover{
            background-position: 0;
        }
        .blur{
            opacity: 0.6;
        }
        .preview-card{
            background: #fff url("images/preview-gift-bg.jpg") no-repeat top;
            padding-top: 7em;
            padding-bottom: 20px;;
            width: 53%;
            margin: 0 auto;
            position: fixed;
            top: 5px;
            left:22%;
            z-index: 99;
            background-size: contain;
            display: none;
        }
        .preview-card .close-subscribe-popup{
            position: absolute;
            top: 15px;
            right: 15px;
        }
        .preview-card h5, .preview-card h6.card-value{
            font-family: 'futura_md_btmedium';
            font-size: 14px;
            color: #704c61;
        }
        .preview-card h1{
            font-family: 'vanitas_bold';
            font-size: 50px;
            color: #704c61;
        }
        .preview-card p.message{
            padding: 0 13em;
            color: #afaeb0;
            margin-bottom: 1.6em;
        }
        .preview-card p{
            margin-bottom: 0;
        }
        .preview-card .card-selected-img{
            margin-bottom: 20px;
            width: 350px;
        }
        .preview-card .book-appointment{
            display: block;
            margin: 40px auto;
            font-family: 'futura_md_btbold';
            font-size: 10px;
            color: #704c61;
            border: 2px solid transparent;
            -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
            -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
            border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
            border-image-slice: 1;
            padding: 9.5px 0;
            outline: 0;
            letter-spacing: 1.4px;
            height: 44px;
            width: 190px;
            background: transparent;
            text-transform: uppercase;
        }
        .preview-link{
            text-decoration: underline;
        }
        #overlay{
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            height: 100%;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
        }
        .payment-form{
            display: none;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 99999;
            background: rgba(0, 0, 0, 0.75);
        }
        .payment-form>form{
            max-width: 350px;
            width: 90%;
            padding: 40px 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
            border-radius: 3px;
            background: #fff;
        }
        .payment-form>form input[type="text"]{
            width: 100%;
            padding: 10px;
            font-size: 14px;
            margin-bottom: 18px;
        }
        .payment-form>form input.month, .payment-form>form input.year{
            width: auto;
            padding: 4px;
            min-width: 45px;
        }
        .payment-form>form button{
            background: #704c61;
            border: 0;
            color: #fff;
            font-size: 17px;
            padding: 7px 15px;
            width: 85px;
            margin: 0 auto;
            display: block;
            font-family: 'futura_md_btmedium';
        }
        .payment-form>form .form-close-btn{
            width: 30px;
            float: right;
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
        }
        .deluxe-gift .gift-card-img{
            padding: 0;
        }
        .deluxe-gift .gift-card-img>img{
            height: 218px;
            width: 100%;
        }
        #digit-err{
            color: #D01515;
            font-family: 'futura_md_btmedium';
        }
        form.sender-detail input[type="text"], form.sender-detail input[type="number"]{
            text-transform: capitalize;
        }
        .final-pay{
            position: relative;
        }
        .final-pay>span{
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .final-pay>input{
            padding-left: 18px!important;
        }
block js
    script(src='/js/owl-carousel/jquery.bxslider.min.js')
    script(type='text/javascript', src='https://js.stripe.com/v2/')
    script(src="https://checkout.stripe.com/checkout.js")
    script.
        Stripe.setPublishableKey('pk_test_CH5xLRq9KhqzyB7e7wPqvonb');
        function stripeResponseHandler(status, response) {
            var $form = $('#payment-form');

            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors').text(response.error.message);
                $form.find('button').prop('disabled', false);
            } else {
                // response contains id and card, which contains additional card details
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                // and submit
                $form.get(0).submit();
            }
        };
        $('#payment-form').submit(function (event) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);

            Stripe.card.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
        });
        var selectd_card = null;
        $('.e-card .squaredOne').on('click', function(){
            $(this).toggleClass('selected');
            $(this).removeClass('blur');
            $('.deluxe-gift .squaredOne').removeClass('selected');
            $('.e-card').removeClass('blur');
            $('.deluxe-gift').addClass('blur');
            $('#bx-pager>a').each(function () {
                if ($(this).hasClass('active')) {
                    selectd_card = $(this).find('img').attr('src');
                }
            })
            $('img.card-selected-img').attr('src', selectd_card).css('opacity', '1');
        })
        $('.deluxe-gift .squaredOne').on('click', function () {
            $(this).toggleClass('selected');
            $(this).removeClass('blur');
            $('.e-card .squaredOne').removeClass('selected').addClass('blur');
            $('.e-card').addClass('blur');
            $('.deluxe-gift').removeClass('blur');
            selectd_card = $('.deluxe-gift').find('img').attr('src');
            $('img.card-selected-img').attr('src', selectd_card).css('opacity', '1');
        })
        $('.select-service').on('click', function(){
            $('.amount-quantity').addClass('blur');
            $(this).removeClass('blur');
            $('#txtTotalAmt').val("");
            $('.card-quantity').val("");
        });
        $('.amount-quantity').on('click', function(){
            $('.amount-quantity').removeClass('blur');
            $('.select-service').addClass('blur');
            $('.service-dropdown').slideUp();
            $('#_txtServiceAmount').val("");
            $('.service-checkbox').removeAttr("checked");
        });

        $('#txtTotalAmt').on('change', function(){
            $('h2.final-price').html('$'+$(this).val());
        });

        $('.bxslider').bxSlider({
            pagerCustom: '#bx-pager'
        });

        $('.select-service').on('click', function(){
            $('.service-dropdown').slideToggle();
        });
        $('.preview-link').on('click', function(){
            $('.preview-card').show();
            $('#overlay').show();
            //card-value
            //console.log($('.sender-detail textarea.message').val());
            $('.card-value').html('CARD VALUE '+$('h2.final-price').text());
            $('.preview-card p.message').html($('.sender-detail textarea.message').val());

        });

        $('#overlay').on('click', function(){
            $('.preview-card').hide();
            $('#overlay').hide();
        });

        $('.close-subscribe-popup').on('click', function () {
            $('.preview-card').hide();
            $('#overlay').hide();
        });

        var send_by_myself = null;
        $('.checkout').on('click', function(){
            var allVals = [];
            $('.service-block input.service-checkbox:checked').each(function () {
                allVals.push($(this).attr('data-name'));
            });

            //$('.payment-form').show();
            //Amount
            var amnt = $('.final-price').text();
            var res = amnt.split("$");
            $('#payment-form input[name="amount"]').val(res['1']);
            //From
            $('form.sender-detail input[name="from"]').val();
            $('#payment-form input[name="from"]').val($('form.sender-detail input[name="from"]').val());
            //To
            $('form.sender-detail input[name="to"]').val();
            $('#payment-form input[name="to"]').val($('form.sender-detail input[name="to"]').val());
            //Email
            $('form.sender-detail input[name="email"]').val();
            $('#payment-form input[name="email"]').val($('form.sender-detail input[name="email"]').val());
            //Message selectd_card
            $('#payment-form input[name="message"]').val($('.sender-detail textarea.message').val());
            //Image Url
            $('#payment-form input[name="img_url"]').val(selectd_card);
            //Send by Myself
            if ($('input.send-myself').is(':checked')) {
                send_by_myself = 'Yes'
            } else {
                send_by_myself = 'No'
            }
            $('#payment-form input[name="send_card_by_myself"]').val(send_by_myself);
            //sel_services
            $('#payment-form input[name="sel_services"]').val(allVals);
            $('#payment-form input[name="quantity"]').val($('.amount-quantity .card-quantity').val());

            if (!$('#from').val()){
                alert('Please Fill Sender Name');
                return false;
            }

            if (!$('#to').val()) {
                alert('Please Fill To');
                return false;
            }

            if (!$('#email').val()) {
                alert('Please Enter Email');
                return false;
            }

            if (!$('#message').val()) {
                alert('Please Enter Message');
                return false;
            }

            $('.payment-form').show();

        });

        $('.form-close-btn').on('click', function(){
            $('.payment-form').hide();
        });

        $("#txtTotalAmt").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#digit-err").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });


        function accSub(arg1, arg2) {
            return accAdd(arg1, -arg2);
        }

        function accAdd(arg1, arg2) {
            var r1, r2, m;
            try {
                r1 = arg1.toString().split(".")[1].length;
            } catch (e) {
                r1 = 0;
            }
            try {
                r2 = arg2.toString().split(".")[1].length;
            } catch (e) {
                r2 = 0;
            }
            m = Math.pow(10, Math.max(r1, r2));
            return (arg1 * m + arg2 * m) / m;
        }

        function accSub(arg1, arg2) {
            return accAdd(arg1, -arg2);
        }

        function Posting(display) {
            var divPosting = document.getElementById("divPosting");
            if (null != divPosting)
                divPosting.style.display = display ? "block" : "none";
        }

        function chkService(price, tax, elem) {
            // parsing subtotal
            var txtServiceAmount = $('#_txtServiceAmount').val();
            if (txtServiceAmount > 0)
                txtServiceAmount = txtServiceAmount;
            else if (txtServiceAmount > 0)
                txtServiceAmount = txtServiceAmount;
            var subTotal = txtServiceAmount;

            // parsing tax
            var txtTaxAmount = $('#_txtTax').val();
            if (txtTaxAmount > 0)
                txtTaxAmount = txtTaxAmount;
            else if (txtTaxAmount > 0)
                txtTaxAmount = txtTaxAmount;
            var totalTax = txtTaxAmount;

            // parsing total
            var txtTotalAmount = $('#_txtTotalAmt').val();
            if (txtTotalAmount > 0)
                txtTotalAmount = txtTotalAmount;
            else if (txtTotalAmount > 0)
                txtTotalAmount = txtTotalAmount;
            var total = txtTotalAmount;
            //alert("subTotal=" + subTotal + ",total=" + total + ",totalTax=" + totalTax);

            // calculate and display new subtotal, total tax amount and total amount
            price = Number(price);
            tax = Number(tax);
            if ($(elem).attr("checked")) {
                subTotal = accAdd(subTotal, price);
                totalTax = accAdd(totalTax, tax);
            } else {
                subTotal = accSub(subTotal, price);
                totalTax = accSub(totalTax, tax);
            }

            var totalAfter = accAdd(subTotal, totalTax);

            $('#_txtServiceAmount').val(subTotal);

            $('h2.final-price').html('$'+subTotal);
        }