extends ../layouts/home-header

block content
	div.carousel
		if sliders
			ul.bxslider
				each slider in sliders
					if slider.heroImage.url
						li
							img(src= slider.slideurl alt='miniluxe')
							div.container
								if slider.Position == 'top-left'
									div.slide-info.top-left
										h1= slider.title
										p= slider.body
										if slider.buttonText
											a(href= slider.buttonUrl).slide-btn= slider.buttonText
								else if slider.Position == 'top-right'
									div.slide-info.top-right
										h1= slider.title
										p= slider.body
										if slider.buttonText
											a(href= slider.buttonUrl).slide-btn= slider.buttonText
								else if slider.Position == 'bottom-left'
									div.slide-info.bottom-left
										h1= slider.title
										p= slider.body
										if slider.buttonText
											a(href= slider.buttonUrl).slide-btn= slider.buttonText
								else if slider.Position == 'bottom-right'
									div.slide-info.bottom-right
										h1= slider.title
										p= slider.body
										if slider.buttonText
											a(href= slider.buttonUrl).slide-btn= slider.buttonText
			div#bx-pager
				ul
					each slider, i in sliders
						if slider.heroImage.url
							li
								a(href='' data-slide-index= i)= i
	.container
		.home-services
			h3.text-uppercase.text-center.home-service-heading our services
			if homepages
				each home in homepages
					.row
						.home-service-col.text-center
							a(href= home.service_one.link)
								.home-service-icon 
									img(src= home.service_one.image.url alt='Miniluxe')
								h4.text-uppercase= home.service_one.title
						.home-service-col.text-center
							a(href= home.service_two.link)
								.home-service-icon
									img(src=home.service_two.image.url alt='Miniluxe')
								h4.text-uppercase= home.service_two.title
						.home-service-col.text-center
							a(href= home.service_three.link)
								.home-service-icon
									img(src= home.service_three.image.url alt='Miniluxe')
								h4.text-uppercase= home.service_three.title
						.home-service-col.text-center
							a(href= home.service_four.link)
								.home-service-icon
									img(src= home.service_four.image.url alt='Miniluxe')
								h4.text-uppercase= home.service_four.title
		.home-content-section
			if homepages
				each home in homepages
					.row
						.home-gift-card-col
							.home-gift-card-content.text-center
								h4.text-center.text-uppercase= home.giftcard.title
								h1.text-uppercase= home.giftcard.heading
								p.text-center= home.giftcard.text
								a(href= home.giftcard.link target='_blank').gift-card-btn= home.giftcard.buttontext
							.home-gift-card-img
								img(src= home.career.image.url alt='Miniluxe')
						.home-gift-card-col.home-career
							.home-career-overlay
							.home-gift-card-img
								img(src= home.giftcard.image.url alt='Miniluxe')
							.home-gift-card-content.text-center
								h4.text-center.text-uppercase= home.career.title
								h1.text-uppercase= home.career.heading
								p.text-center= home.career.text
								a(href= home.career.link).gift-card-btn= home.career.buttontext

block css
	style.
		.bx-wrapper{
			margin: 0 auto 32px;
		}
		.img-count{
			position: relative;
		}
		.img-count img{
			width: 100%;
		}
		.bx-wrapper .bx-viewport {
			max-height: 550px;
		}
		.bx-wrapper .bx-viewport ul li {
			max-height: 550px;
		}
		#bx-pager{
			width: 100%;
			text-align: center;
			position: absolute;
			bottom: -0.2em;
		}
		#bx-pager ul li{
			display: inline-block;
		}
		.carousel{
			position: relative;
		}
		#bx-pager li a{
			background: #704c61;
			text-indent: -9999px;
			display: block;
			opacity: 0.8;
			width: 12px;
			height: 12px;
			margin: 0 5px;
			outline: 0;
			-moz-border-radius: 5px;
			/* -webkit-border-radius: 5px; */
			border-radius: 8px;
			border: 2px solid #DF9E90;
		}
		#bx-pager li a.active{
			background: #704c61;
			opacity: 1;
		}
		#bx-pager ul{
			margin-bottom: 0;
		}
block js
	//Owl carousel
	script(src='/js/owl-carousel/jquery.bxslider.min.js')
	script.
		var count1 = $("ul.bxslider").children().length;

		if (count1 > 1) {
			var slider = $('.bxslider').bxSlider({
				auto: true,
				mode: 'fade',
				infiniteLoop: true,
				speed: 500,
				useCSS: false,
				pause: 4000,
				pagerCustom: '#bx-pager'
			});
		} else {
			$('.bxslider').addClass('img-count');
			$('#bx-pager').hide();
		}