extends ../layouts/default

block content
    .banner-location
        img(src='/images/Location_2.png')
    .container
        //form.search-by-zip(action='/location/search' method='post')
            div.form-group
                input(type='text' placeholder='SEARCH BY CITY OR ZIP' name="search")
                button(type='submit') SEARCH
        div.clearfix.mt40
            aside.side-filter
                h6.text-uppercase Filter by Region
                ul.regions
                    li: a(href='/location') All Locations
                    if regions
                        each region in regions
                            li: a(href='/location/'+region.key)= region.name

            section.all-location
                ul.location-list.clearfix
                    if data.invalid
                        h2.err-msg= data.invalid
                    if data.locations
                        each location in data.locations
                            li
                                if location.ThumbnailImage.secure_url
                                    a(href= '/location/detail/' + location.slug)
                                        img(src= location.ThumbnailImage.secure_url)
                                else
                                    a(href= '/location/detail/' + location.slug)
                                        img(src='/images/location1_large.png')
                                a(href= '/location/detail/' + location.slug)
                                    h5= location.nameLong
                                p= location.address1
                                p= location.address2
                                a(href='tel:' + location.phone1)
                                    p= 'T.' + location.phone1
                                p= location.state
                                ul.location-links
                                    li: a(href= '/location/detail/' + location.slug) MENU & MORE INFO
                                    li.book-now: a(href="http://min02115.aws.book4time.com/OnlineBooking/SelectLocation.aspx?locId=" + location.B4TID target='_blank') BOOK NOW
block js
    script.
        var fullurl = window.location.href;
        var split_url = fullurl.split("/");
        $("nav.main-nav ul li a").each(function () {
            if ($(this).attr("href") == '/' + split_url['3'] || $(this).attr("href") == '')
                $(this).addClass("active");
        })