extends ../layouts/default

block content
    //.banner-location
        img(src='/images/Location_2.png')
    div#banner-locations
    section#locations
        h1 LOCATIONS
        p Come on in. We're growing and continue to
        p bring MiniLuxe to your favorite neighborhoods. So check back often if
        p you don't find a location near you.

    .container.location-container
        //form.search-by-zip(action='/location/search' method="post")
            div.form-group
                input(type='text' placeholder='SEARCH BY CITY OR ZIP' name="search")
                button(type='submit') SEARCH
        div#search-by-city
                div.magnifying-glass
                input(type='text' name='search-city' placeholder='Search by City or Zip')
        div.clearfix.mt20
            aside.side-filter
                h6.text-uppercase Filter by Region
                ul.regions
                    li: a(href='/location').active All Locations
                    if regions
                        each region in regions
                            li: a(href='/location/'+region.key)= region.name
            aside.side-filter#mobile-region
                h6.text-uppercase.filter-head Filter by Region
                ul.regions
                    li: a(href='/location').active All Locations
                    if regions
                        each region in regions
                            li: a(href='/location/' + region.key)= region.name
            section.all-location
                ul.location-list.clearfix
                    if data.locations.results
                        each location in data.locations.results
                            li
                                if location.Thumbnail
                                    a(href= '/location/detail/' + location.slug)
                                        img(src= location.Thumbnail)
                                else
                                     a(href= '/location/detail/' + location.slug)
                                      img(src='/images/location-default.png')
                                div.fix-height-loc-head
                                    a(href= '/location/detail/' + location.slug)
                                        if location.nameLong
                                            h5= location.nameLong.substr(0, 64)
                                    div.adrs-height
                                        if location.address1
                                            p.addrs1= location.address1.substr(0, 55)
                                        if location.address2
                                            p.addrs2= location.address2.substr(0, 110)
                                    a(href='tel:'+location.phone1)
                                        p= location.phone1
                                //p= location.state
                                ul.location-links
                                    if location.Status == 'published'
                                        li: a(href= '/location/detail/' + location.slug) MENU & MORE INFO
                                        li.book-now: a(href="http://min02115.aws.book4time.com/OnlineBooking/SelectLocation.aspx?locId=" + location.B4TID target='_blank') BOOK NOW
                                    else if location.Status == 'draft'
                                        li: a(href= '/location/detail/' + location.slug) MENU & MORE INFO
                                        li.book-now Coming Soon
                div.clearfix
                if data.locations.totalPages > 1
                    ul.pagination
                        each p, i in data.locations.pages
                            li(class=data.locations.currentPage == p ? 'active' : null)
                                a(href='?page=' + (p == '...' ? (i ? data.locations.totalPages : 1) : p ))= p
block css
    style.
        #footer{
            margin-top: 2em;
        }
block js
    script.
        var width = $(window).width();

        $('.filter-head').on('click', function () {
            $(this).toggleClass('active');
            $('#mobile-region ul.regions').slideToggle();
        })
