extends ../layouts/default

block content
    div.container.news-container
        h2.content-page-head.text-uppercase.news-page-head.text-center News
        div.news-list.row
            if news
                each info in news
                    div.news.col-six
                        each image in info.Thumbnail
                            a(href= info.Url target="_blank")
                                img(src= image.url alt='Miniluxe news')
                        p.news-date= info.Date.toDateString()
                        a(href= info.Url target="_blank")
                            h3.news-title.text-uppercase= info.Short_headline
                        p.news-data= info.Full_headline