extends ../layouts/default

block content
    div.thanks-bg1
        img(src='/images/thanks-bg1.jpg')
    div.thanks-bg2
        img(src='/images/thanks-bg2.jpg')
    div.container
        if  enquirySubmitted
            h2.text-uppercase.text-center.thanks-msg-head.thanks-msg Thank You
            div.thanks-container
                p.text-center We appreciate your purchase.
                div.clearfix
                    if data.services
                        h6.fl.service-name.text-uppercase= data.services
                    if data.amount
                        h6.price.fr= '$'+data.amount
        else
            h2.text-uppercase.text-center.thanks-msg Payment Declined
            h2.text-uppercase.text-center.thanks-msg Try After Some time

block css
    style.
        .container{
            margin-top: 20px;
        }
        .thanks-bg1{
            position: absolute;
            left: 0;
            top: 20%;
        }
        .thanks-bg2{
            position: absolute;
            right: 0;
            top: 50%;
        }
        .thanks-msg-head{
            background: url("/images/thanks-head-bg.jpg") no-repeat center;
            width: 461px;
            height: 269px;
            font-size: 60px;
            margin: 30px auto 20px;
            padding: 72px 79px 0;
            color: #fff;
        }
        .thanks-container{
            width: 450px;
            margin: 0 auto;
        }
        .thanks-container h6{
            font-family: 'futura_md_btmedium';
            font-size: 18px;
            color: #704c61;
            letter-spacing: 1.2px;
            margin-top: 20px;
        }