extends ../layouts/default

block content
    div.press-filter
        ul.text-uppercase
            li Filter By:
            li
                a(href='/press') All
            li
                a(href='/press/recent') Most Recent
            li.active
                a(href='/press/archive') Archive
    div.container
        h2.presspage-title.text-uppercase.text-center Press
        ul.press-list.row
            if data.archivepresses.results
                each press in data.archivepresses.results
                    li.text-center.col-six
                        a(href= press.Popup_image.url data-fancybox-group="gallery" data-fancybox-title= press.description).fancybox
                            img(src= press.thumbnail_image.url).press-thumb
                            p= press.publishedDate.toDateString()
                            img(src= press.title_image.url).press-title-img
        div.clearfix
            if data.archivepresses.totalPages > 1
                ul.pagination.text-center
                    each p, i in data.archivepresses.pages
                        li(class=data.archivepresses.currentPage == p ? 'active' : null)
                            a(href='?page=' + (p == '...' ? (i ? data.archivepresses.totalPages : 1) : p ))= p
        div.press-bottom
            div.row
                div.col-six
                    h3 Media Press kit
                    p.fl Please
                        a(href='#')  download
                    p &nbsp;the press kit including press materials, logos, photos and illustrations
                div.col-six
                    h3 Press Contact
                    p For more information and other press related matters please contact: T. 342-345-5678 press@miniluxe.com


block css
    link(href="vendor/fancybox/source/jquery.fancybox.css?v=2.1.5", rel="stylesheet" media="screen")
    link(href="vendor/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" rel="stylesheet")
    link(href="vendor/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" rel="stylesheet")
    style.
        .default-header{
            border-bottom-color: #dac2cf;
        }
block js
    //Add fancyBox main JS and CSS files
    script(src='vendor/fancybox/source/jquery.fancybox.js?v=2.1.5')
    script(src='vendor/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5')
    script(src='vendor/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7')
    script(src='vendor/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6')
    script.
        $('.fancybox').fancybox();