extends ../layouts/default

block content
    if privacies
        each privacy in privacies
            .banner-contact.privacy-bnr
                img(src= privacy.herourl)
            div.terms-container
                h2.text-uppercase.text-center.contact-page-head.terms-page-head= privacy.name
                !=privacy.text
    //div.banner-contact
    //    img(src='/images/privacy-bg.jpg')
    //h2.text-uppercase.text-center.contact-page-head.terms-page-head Privacy Policy
    //div.contact-form.privacy-content
    //    h6 What information do we collect?
    //    ul.red-bullet-list
    //        li We collect information from you when you register on the Site, place an order, make job postings, respond to a survey or communication such as e-mail, or participate in another Site feature.
    //        li When ordering or registering, we may ask you for your name, e-mail address, mailing address, phone number, credit card information or other information. You may, however, visit our site anonymously.
    //        li We also collect information about gift recipients so that we can fulfill the gift purchase. The information we collect about gift recipients is not used for marketing purposes.
    //        li Like many websites, we use "cookies" to enhance your experience and gather information about visitors and visits to our websites. Please refer to the "Do we use 'cookies'?" section below for information about cookies and how we use them.
    //    h6 How do we use your information?
    //    p MiniLuxe does not rent, sell, or share personal information about you with other people or non-affiliated companies except to provide products or services you've requested, when we have your permission, or under the following circumstances:
    //    ul.red-bullet-list
    //        li We provide the information to trusted partners who work on behalf of or with MiniLuxe under confidentiality agreements. These companies may use your personal information to help MiniLuxe communicate with you about offers from MiniLuxe and our marketing partners. However, these companies do not have any independent right to share this information.
    //        li We respond to subpoenas, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims.
    //        li We believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of MiniLuxe's terms of use, or as otherwise required by law.
    //        li We may transfer information collected from you if MiniLuxe is restructured or acquired by or merged with another company. In this event, MiniLuxe will notify you before information about you is transferred and becomes subject to a different privacy policy.
    //    h6 How do we protect visitor information?
    //    p We implement a variety of security measures to maintain the safety of your personal information. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. When you place orders or access your personal information, we offer the use of a secure server. All sensitive/credit information you supply is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our databases to be only accessed as stated above.
    //    h6 Do we use "cookies"?
    //    p Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
    //    p We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.
    //    p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Each browser is a little different, so look at your browser Help menu to learn the correct way to modify your cookies. If you turn cookies off, you won't have access to many features that make your site experience more efficient and some of our services will not function properly. However, you can still place orders over the telephone by contacting customer service.
    //    h6 Minors
    //    p We do not knowingly, directly or passively, collect information from children under the age of 13. If we create offers and products that make it appropriate to collect information from children under the age of 13, we will notify you of the change in this Policy. We also will ask a parent to confirm his/her consent in advance of any collection, use or disclosure of that information. Ordering online products and services from us is limited to adults (ages 18+). If you are below the age of 18, please ask your parent’s permission before using this site.
    //    h6 Changes to our policy
    //    p If we decide to change our privacy policy, we will post those changes on this page. Policy changes will apply only to information collected after the date of the change.
    //    h6 Questions and feedback
    //    p We welcome your questions, comments, and concerns about privacy. Please send us any and all feedback pertaining to privacy, or any other issue.
    //    h6 Online Policy Only
    //    p This online privacy policy applies only to information collected through our website and not to information collected offline.
    //    h6 Your consent
    //    p By using or accessing our Site, you consent to this privacy policy.