extends ../layouts/default

block content
    if purposes
        each purpose in purposes
            div.purpose-banner
                img(src= purpose.bannerImage.url)
            section#purpose-description
                h2.purpose-page-head.text-uppercase.text-center= purpose.name
                div.text-center
                    p= purpose.description
            div.container
                div.purpose-content
                    //h6.text-center.text-uppercase= purpose.BlockTitle
                    div.clearfix
                        div.purpose-content-image-clean
                            img(src= purpose.Block1.image.url)
                        div.purpose-content-detail-clean
                            h2.text-uppercase.text-center= purpose.Block1.title
                            p.text-center= purpose.Block1.description
                    div.clearfix
                        div.purpose-content-about-you
                            h2.text-uppercase.text-center= purpose.Block2.title
                            p.text-center= purpose.Block2.description
                        div.purpose-content-about-you-image.text-right
                            img(src= purpose.Block2.image.url)
                    div.clearfix.beauty
                        div.beauty-overlay
                            img(src='/images/unnamed.png')
                        div.purpose-content-image-clean
                            img(src= purpose.Block3.image.url)
                        div.purpose-content-detail-clean
                            h2.text-uppercase.text-center= purpose.Block3.title
                            p.text-center= purpose.Block3.description
