extends ../layouts/default

block content
    div#banner-services
    if servicemenus
        each menu in servicemenus
            section#download-menu
                h1 OUR SERVICES
                p We want to make sure you feel well polished at all times.
                p Making sure you feel your best is why we exist. Our our nail masters and wax editors are here to deliver. Just give us a call directly at one of our locations or call us at 1-800
                a(href='uploads/menu/'+menu.File.filename download).download-service-menu Download Menu
    div.container.service-container
        if services
            each service in services
                if service.key == 'nail-shapes'
                    section#nail-shapes-section
                        div.nail-shapes-service#nail-shape
                            h1.text-uppercase= service.name
                            div.row
                                div.col-six
                                    p.service-description= service.description
                            div.nail-services.clearfix
                                if subservices
                                    each subservice in subservices
                                        if subservice.service
                                            if subservice.service['key'] == 'nail-shapes'
                                                div.nail-service-col
                                                    img(src= subservice.imageurl)
                                                    h2.text-uppercase= subservice.title
                                                    p.text-uppercase= subservice.text
        div.manicure-block.clearfix#manicure
            if services
                each service in services
                    if service.key == 'manicures'
                        section
                            div.manicure-content
                                h1.text-uppercase= service.name
                                p.service-description= service.description
                                div.list_item
                                    ul
                                        if subservices
                                            each subservice in subservices
                                                if subservice.service
                                                    if subservice.service['key'] == 'manicures'
                                                        li
                                                            div.clearfix
                                                                h6= subservice.title
                                                                div.price
                                                                    span= '$'+subservice.price
                                                            div.item-content
                                                                p.time= subservice.time+' MINUTES'
                                                                p= subservice.text
                        div.manicure-image.text-right
                            img(src= service.image.url)
    div.pedicure-content.manicure-block.clearfix#pedicure
        div.container.service-container
            if services
                each service in services
                    if service.key == 'pedicures'
                        section
                            div.manicure-image.text-center
                                img(src= service.image.url)
                            div.manicure-content
                                h1.text-uppercase= service.name
                                p.service-description= service.description
                                div.list_item
                                    ul
                                        if subservices
                                            each subservice in subservices
                                                if subservice.service
                                                    if subservice.service['key'] == 'pedicures'
                                                        li
                                                            div.clearfix
                                                                h6= subservice.title
                                                                div.price
                                                                    span= '$' + subservice.price
                                                            div.item-content
                                                                p.time= subservice.time + ' MINUTES'
                                                                p= subservice.text
    div.container.mani-padi.clearfix.service-container#mani-pedis
        div.mani
            if services
                each service in services
                    if service.key == 'manipedis'
                        section
                            h1.text-uppercase= service.name
                            p.service-description= service.description
                            div.list_item
                                ul
                                    if subservices
                                        each subservice in subservices
                                            if subservice.service
                                                if subservice.service['key'] == 'manipedis'
                                                    li
                                                        div.clearfix
                                                            h6= subservice.title
                                                            div.price
                                                                span= '$' + subservice.price
                                                        div.item-content
                                                            p.time= subservice.time + ' MINUTES'
                                                            p= subservice.text

        div.add-ons
            if services
                each service in services
                    if service.key == 'add-ons'
                        section
                            h1.text-uppercase= service.name
                            div.row
                                ul.addons
                                    if addons
                                        each addon in addons
                                            if addon.service
                                                if addon.service['key'] == 'add-ons'
                                                    li.clearfix
                                                        h6.fl= addon.title
                                                        if addon.price
                                                            p.fr= '$'+addon.price
    div.pedicure-content.manicure-block.clearfix.wax-block#waxing
        div.container.service-container
            if services
                each service in services
                    if service.key == 'waxing'
                        section
                            div.manicure-image.text-center
                                img(src= service.image.url)
                            div.manicure-content
                                h1.text-uppercase= service.name
                                p.service-description= service.description
                                div.row
                                    div.col-six.body-wax-price
                                        h6 BODY WAXING
                                        ul.list-unstyled
                                            if addons
                                                each addon in addons
                                                    if addon.service
                                                        if addon.service['key'] == 'waxing'
                                                            li.clearfix
                                                                h6.fl= addon.title
                                                                if addon.price
                                                                    p.fr= '$' + addon.price
                                        h6 FACE WAXING
                                        ul.list-unstyled
                                            if faces
                                                each face in faces
                                                    if face.service
                                                        if face.service['key'] == 'waxing'
                                                            li.clearfix
                                                                h6.fl= face.title
                                                                if face.price
                                                                    p.fr= '$' + face.price
                                    div.col-six.wax-list
                                        div.list_item
                                            ul
                                                if subservices
                                                    each subservice in subservices
                                                        if subservice.service
                                                            if subservice.service['key'] == 'waxing'
                                                                li
                                                                    div.clearfix
                                                                        h6= subservice.title
                                                                        div.price
                                                                            span= '$' + subservice.price
                                                                    div.item-content
                                                                        if subservice.text
                                                                            p.sub-service-desc= subservice.text
    div.container.service-container
        div.clearfix
            div.brows#brows
                if services
                    each service in services
                        if service.key == 'brows'
                            section
                                h1.text-uppercase= service.name
                                p.service-description= service.description
                                div.mt30
                                    if subservices
                                        each subservice in subservices
                                            if subservice.service
                                                if subservice.service['key'] == 'brows'
                                                    div.clearfix
                                                        h6.fl= subservice.title
                                                        p.fr= '$'+subservice.price
                                    p *Available in select locations only.

            div.for-him#for-him
                if services
                    each service in services
                        if service.key == 'for-him'
                            section
                                h1.text-uppercase= service.name
                                div.list_item
                                    ul
                                        if subservices
                                            each subservice in subservices
                                                if subservice.service
                                                    if subservice.service['key'] == 'for-him'
                                                        li
                                                            div.clearfix
                                                                h6= subservice.title
                                                                div.price
                                                                    span= '$'+subservice.price
                                                            div.item-content
                                                                if subservice.time
                                                                    p.time= subservice.time+' MINUTES'
                                                                p= subservice.text

