extends ../layouts/default

block content
    if teams
        each team in teams
            .banner-contact.team-bnr
                img(src= team.herourl)
            div.terms-container
                h2.text-uppercase.text-center.contact-page-head.terms-page-head= team.name
                !=team.text
    //h2.text-uppercase.text-center.about-page-head About Miniluxe
    //div.about-page-content
    //    p MiniLuxe is transforming the $10 billion nail, brow, and waxing industry. Our mission is to provide more than just nail and beauty care — we exist for our customers’ “self-care.” Our philosophy of self-care is built on the belief that by expertly delivering deeply caring personal service experiences we enable our clients to be ready and able to take care of themselves and everything else in life.
    //    p MiniLuxe fulfills our philosophy by exceeding our clients’ expectations for quality, convenience, and value. Our list of industry-leading attributes is long: impeccable cleanliness and dedication to hygiene, craftsman-quality service, refreshing, healthy and comfortable spaces, above-board employment practices, and thoughtfully-integrated technology solutions, such as 24x7 online booking.
    //    p MiniLuxe currently has eleven locations in the greater Boston area and one in the Dallas area. The brand has won numerous accolades, including Best of Boston, Best of Dallas and has nationwide growth plans.
    //
    //    h3.text-uppercase The Miniluxe Executive Team
    //    h6.teammate Tony Tjan - Chairman & Founder
    //    p Tony is CEO and Managing Partner of the Cue Ball Group, one of the primary investors in MiniLuxe. Tony has a successful track record as an entrepreneur, investor, and strategic advisor and is a World Economic Forum Global Leader for Tomorrow. He is a graduate of the Harvard Business School, and recently co-authored a best-selling book for entrepreneurs titled "Heart, Smarts, Guts and Luck".
    //    h6.teammate Andrew Ervin
    //    p Andy serves as Senior Vice President of Finance & Administration for MiniLuxe. Andy most recently served as Principal at The Parthenon Group, developing growth strategies for clients in the retail and consumer goods industries. Andy is a graduate of the Tuck School of Business at Dartmouth College.
    //    h6.teammate Tony Pino
    //    p Tony serves as Business Development Officer for MiniLuxe. He joined the company as a continuation of his seven years with Cue Ball, our largest investor. Tony began his professional career at Blackstone and is a graduate of Harvard College.
    //    h3.text-uppercase Board of Directors
    //    h6.teammate Mats Lederhausen
    //    p After a long career as both a joint venture partner and senior executive of McDonalds Corporation, Mats formed his own private equity firm, Because, based on the philosophy of investing brand with a "purpose bigger than product". Mats had led and managed investments in well-known brands such as Chipotle Mexican Grill, Boston Market, RedBox DVD, and Pret-A-Manager.
    //    h6.teammate Matt Cornue
    //    p Matt is the Chief Investment Officer for the Horowitz Group, a family investment office based in Southern California. Matt previously co-founded LendAmend LLC, a software company in the financial technology sector, which was acquired in 2013.  He is also on the Board of Directors at Lemonade Restaurant Group.  Matt is a graduate of Harvard College and the UCLA Anderson School of Management.
    //    h3.text-uppercase The Experts
    //    p A special group of advisors — from top podiatrists, to renowned doctors, architects, and beauty and fashion editors — stands behind the MiniLuxe leadership team. Their insights ensure that MiniLuxe continues to elevate nail and beauty care to the plane of self-care.
    //    h6.teammate Dr. Carolyn Siegal
    //    p Dr. Carolyn Siegal is a successful podiatrist and CEO of Dr. Carolyn Collection, her company that distributes foot related products nationwide. She has been featured in many national publications as an expert in nail salon sanitation and various foot health issues.
    //    h6.teammate Richard Dantas
    //    p Richard Dantas currently oversees Bliss in his capacity as Vice President, Strategy of Starwood Hotels and Resorts Worldwide.
    //    h6.teammate David Hacin
    //    p David Hacin founded Hacin + Associates / H+A, an architecture and design studio located in the arts district of Boston's South End. H+A has helped build brands such as Fresh and A.T. Cross and has created the sets for a hit Bravo television show, Queer Eye for the Straight Guy.
    //    h6.teammate Catherine Viscardi Johnston
    //    p Recently recognized as one of the 100 Most Influential Women in Business by Crain's New York Business, Catherine Viscardi Johnston has held a variety of executive positions at Condé Nast Publications, including Associate Publisher of Architectural Digest, Publisher of Mademoiselle, and Executive Vice President.
    //    h6.teammate Dr. Ruth E. Tedaldi
    //    p Dr. Ruth Tedaldi, M.D. is one of the nation's leading dermatologists and is the founder of Dermatology Partners, Inc., in Wellesley, MA. One of the first local dermatologists to practice cosmetic dermatology in the spa setting, she has been widely sought out for her dermatological expertise by national and local media, including Harper's Bazaar, Self, Shape, Allure, Kiss 108FM and WHJJ 920AM. Dr. Tedaldi has been instrumental in defining MiniLuxe's skincare offerings.