extends ../layouts/default

block content
    if terms
        each term in terms
            .banner-contact
                img(src= term.herourl)
            div.terms-container
                h2.text-uppercase.text-center.contact-page-head.terms-page-head= term.name
                !=term.text
    //div.banner-contact
    //    img(src='/images/terms-bg.jpg').term-bnr
    //h2.text-uppercase.text-center.contact-page-head.terms-page-head Terms & Conditions
    //div.contact-form.terms-content
    //    p.attention ATTENTION: PLEASE READ THESE TERMS OF USE ("TERMS") CAREFULLY BEFORE USING THIS WEB SITE ("SITE"). USING OR ACCESSING THIS SITE INDICATES THAT YOU ACCEPT THESE TERMS. IF YOU DO NOT ACCEPT THESE TERMS, DO NOT USE OR ACCESS THIS SITE.
    //    h6 Use of Site and Materials
    //    p MiniLuxe, Inc. and its subsidiaries ("MiniLuxe") authorize you to view, download e-mail and print the content, information, and creative materials at this Site ("Materials") only for your personal, non-commercial use, provided that you retain all copyright and other proprietary notices contained in the Materials or copies of the Materials. You may not modify the Materials in any way or reproduce or publicly display, perform, distribute or otherwise use them for any public or commercial purpose. Any use of the Materials on any other Site or networked computer environment for any purpose is prohibited without the written consent of MiniLuxe. If you breach any of the Terms, your authorization to use this Site and the Materials automatically terminates and you must immediately destroy any downloaded or printed Materials. You acknowledge and agree that MiniLuxe does not guarantee that anything on this Site will be free of infection, viruses or other harmful or disruptive components. You agree not to do anything that interferes with the operation of this Site.
    //    h6 Intellectual Property - Copyright, Trademark and Disclaimer Notices
    //    p The contents of the Site, including the Materials and any text, design, graphics, names, logos, trade dress, audio clips, video, photographs, software, interfaces or code (the "Content") and the selection and arrangements of the Content is the property of MiniLuxe, and is protected by state, federal and international copyright and trademark laws, or other proprietary rights. These rights are protected in all forms, media and technologies existing now or hereinafter developed. All trademarks, service marks and trade names are trademarks or registered trademarks of and are proprietary to MiniLuxe. Such trademarks and content may not be used except as provided in these Terms or in the text of the Site. No portion of the Content may be reprinted, republished, modified, transferred or distributed in any form without the express written permission of MiniLuxe. You may not reproduce, reverse engineer, decompile, modify, transmit, sell, distribute, license or create derivative works of the Content. Any unauthorized use of the Content is strictly prohibited and may violate applicable laws, including copyright law, trademark law, the laws of privacy and publicity, and communication regulations and statutes.
    //    p Nothing contained herein shall be construed as conferring by implication, estoppel or otherwise any license or right under any trademark, copyright or other intellectual property right of MiniLuxe.
    //    p "MiniLuxe," "MiniLuxe Nails Waxing Beauty" and the pinwheel logo are all registered trademarks of MiniLuxe, Inc.
    //    h6 User Submissions
    //    p Any Material, personal information or other communication you transmit or post to this Site will be considered non-confidential and non-proprietary ("Communications"). MiniLuxe will have no obligations with respect to the Communications. MiniLuxe, and its designees, will be free to copy, disclose, distribute, incorporate and otherwise use the Communications and all data, images, sound, text and other things embodied therein for any and all commercial or non-commercial purposes. Nothing restricts MiniLuxe from independently developing any idea, however similar to any Communications. You are prohibited from posting or transmitting to or from this Site any unlawful, threatening, libelous, defamatory, obscene or pornographic material, or any Material that would infringe the copyright or other intellectual property rights of another party if used without that party's permission, or that includes software that contains a virus, defect or other harmful or other disruptive component. By transmitting any Communication to this Site, including but not limited to e-mail, web-based form submission, file uploads (including resumes) and Communications posted to chat rooms, bulletin boards or other user forums, you waive all right, title and interest, including all moral rights, or other similar rights, world-wide in those Communications and agree not to assert any claim of ownership in such Communications. MiniLuxe will have no liability related to the content of any such Communications, whether or not arising under the laws of copyright, libel, privacy, obscenity, or otherwise.
    //    h6 Links To Other Sites
    //    p Links to third party Sites on this Site are provided solely as a convenience to you. If you use these links, you may leave this Site. MiniLuxe does not endorse or make any representations or warranties about these Sites, or any information, software or other products, services or Materials found there, or any results that may be obtained from using them. If you decide to access any of the third party Sites linked to this Site, you do this entirely at your own risk. MiniLuxe has no responsibility for the content of such sites and shall not be liable for any damages or injuries arising from such content.
    //    h6 Disclaimer; No Warranties
    //    p YOU ASSUME TOTAL RESPONSIBILITY AND RISK WHEN YOU USE OUR SITE AND THE INTERNET. THE SITE AND THE CONTENT AND SERVICES MADE AVAILABLE ON THE SITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. MINILUXE DOES NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER (INCLUDING BUT NOT LIMITED TO, WARRANTIES OF TITLE OR NON-INFRINGEMENT, OR THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE SITE, THE MATERIALS, ANY SERVICES PROVIDED THROUGH THE SITE OR ON THE INTERNET. MINILUXE MAY MAKE CHANGES TO THE MATERIALS OR TO THE PRODUCTS OR SERVICES DESCRIBED AT ANY TIME WITHOUT NOTICE. WE EXPRESSLY DISCLAIM ANY AND ALL IMPLIED WARRANTIES. SOME STATES MAY NOT PERMIT THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE FOREGOING DISCLAIMER MAY NOT APPLY TO YOU.
    //    h6 Limitation of Liability
    //    p IN NO EVENT WILL MINILUXE AND ITS SUPPLIERS, AFFILIATES, SUBSIDIARIES, AGENTS, EMPLOYEES, OFFICERS, DIRECTORS, OR OTHER THIRD PARTIES BE LIABLE FOR ANY DAMAGES WHATSOEVER INCLUDING, DIRECT, INDIRECT, SPECIAL, EXEMPLARY, CONSEQUENTIAL, MULTIPLE, PUNITIVE OR OTHER DAMAGES WHATSOEVER, (INCLUDING, WITHOUT LIMITATION, LIABILITY FOR LOSS OF USE, DATA, REVENUE OR PROFITS, OR BUSINESS INTERRUPTION) ARISING OUT OF THE USE, INABILITY TO USE, OR THE RESULTS OF USE OF THIS SITE, ANY SITES LINKED TO THIS SITE, OR THE MATERIALS OR INFORMATION CONTAINED AT ANY OR ALL SUCH SITES, WHETHER BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL THEORY, WHETHER FOR NEGLIGENCE OR GROSS NEGLIGENCE, WHETHER OR NOT REASONABLY FORESEEABLE AND WHETHER OR NOT ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IF YOUR USE OF THE MATERIALS OR INFORMATION FROM THIS SITE RESULTS IN THE NEED FOR SERVICING, REPAIR OR CORRECTION OF EQUIPMENT OR DATA, YOU ASSUME ALL COSTS THEREOF. APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.
    //    h6 Indemnification
    //    p You agree to indemnify, defend and hold harmless MiniLuxe from any and all liabilities, penalties, claims, causes of action, and demands brought by third parties arising out of or resulting from your use of the Site (including the costs, expenses and attorneys fees on account thereof) whether based in contract or tort (including strict liability) or otherwise and regardless of the form of action.
    //    h6 Policy Regarding Copyright Infringement and Designation of a Copyright Agent
    //    p MiniLuxe’s policy regarding copyright infringement and MiniLuxe’s designated agents for receipt of copyright infringement claims pursuant to the Digital Millennium Copyright Act (17 USC section 512) are incorporated herein and follow below.
    //    p MiniLuxe respects the intellectual property rights of others and requires those that visit our Site do the same. MiniLuxe may, in appropriate circumstances and at its discretion, remove or disable access to material on its Site or its network that infringes the copyright rights of others. MiniLuxe also may, at its discretion, remove or disable links or references to an online location that contains infringing material or infringing activity. In the event that any visitors to our Site or users of our network repeatedly infringe others' copyrights, we may in our sole discretion terminate those individuals' rights to use our Site.
    //    p If you believe that your work has been used on our Site in any manner that constitutes copyright infringement, please notify one of MiniLuxe's copyright agents by written notice. The notice should include the following information: an electronic or physical signature of a person authorized to act on behalf of the owner of the copyright allegedly infringed; a description of the copyrighted work you claim has been infringed, including a copy of the copyrighted work or the web page address where the copyrighted work may be found; identification of the location on our Site of the material you claim has been infringed, or the link or reference to another website that contains the material you claim has been infringed; your name, address, telephone number and email address; a statement by you that you have a good faith belief that the disputed use of the material at issue is not authorized by the copyright owner, the agent of the copyright owner or the law; and a statement by you that the information in this notification is accurate and a statement, under penalty of perjury, that you are the copyright owner of the material allegedly infringed or authorized to act on the copyright owner's behalf.
    //    p MiniLuxe’ copyright agent for notice of claims of copyright infringement is Zachary Smith, who can be reached at the following:
    //    div.mail-address
    //        p By mail: 
    //        p 21 Highland Circle, 2nd Floor
    //        p Needham, MA 02494
    //        p.fl By email: 
    //        p: a(href='mailto:zsmith@miniluxe.com') zsmith@miniluxe.com
    //    h6.mt20 Acceptable and Lawful Use of Site
    //    p You agree to comply with all applicable laws regarding use of the Site. Any information you provide to MiniLuxe in connection with the Site must comply with the following conditions and shall not create any liability for MiniLuxe or cause MiniLuxe to lose (in whole or in part) the services of its Internet Service Providers or other suppliers or vendors:
    //    p Content Objectionable or Offensive to Third Parties. You may not upload, download, post, distribute, or otherwise transmit any content that is unlawful, libelous, defamatory, slanderous, obscene, pornographic, harassing, threatening, abusive, harmful, violative of others' privacy rights, or otherwise objectionable.
    //    p Unlawful Content. You may not upload, download, post, distribute, or otherwise transmit any content that encourages or is in furtherance of an unlawful, criminal, or fraudulent activity.
    //    p Infringing Content. You may not upload, download, post, distribute, edit, modify or transmit any content that may infringe on any patent, trademark, trade secret, copyright, or other intellectual proprietary right of any person. Infringement may result from the unauthorized copying, posting, editing, modifying or distributing of any content, including ringtones, graphics, pictures, photographs, logos, software, articles, music, or videos. By posting any content through this Site, you represent that you have legal rights to use, distribute, and publish such content.
    //    p Removal of Objectionable Content. While we do not monitor your use of our Site, we reserve the right to remove or delete any content that you upload, download, post, distribute, or otherwise transmit on our Site that violates these Terms or is otherwise deemed objectionable by us in our sole discretion.
    //    p Entire Agreement, Updates and Modifications. These Terms and any referenced documents constitute the entire agreement between MiniLuxe and you pertaining to your use of the Site. MiniLuxe may amend these Terms or any other referenced documents at any time by posting the amended documents on the Site. Any amended or modified terms will be effective upon posting. Continued use of the Site means that you have accepted any modified Terms of Service. If you have any questions about these Terms, contact us at info@miniluxe.com
    //    h6 Applicable Laws
    //    p This Site is administered by MiniLuxe from its offices in Needham, Massachusetts. MiniLuxe makes no representation that Materials at this Site are appropriate or available for use and access to them from territories where their content is illegal is prohibited. You may not use or export or re-export the Materials at this Site or any copy or adaptation in violation of any applicable laws or regulations including, without limitation, Canadian and U.S. export laws and regulations. If you choose to access this Site, you do so on your own initiative and are responsible for compliance with applicable local laws. All matters relating to access to, or use of, this Site shall be governed by the laws of the Commonwealth of Massachusetts and the United States. Any legal action or proceeding relating to access to, or use of, this Site or the information it contains shall be subject to the exclusive jurisdiction of the state and federal courts for Massachusetts. MiniLuxe and you agree to submit to the jurisdiction of, and agree that venue is proper in, these courts in any such legal action or proceeding.
    //    h6 General
    //    p MiniLuxe uses reasonable efforts to ensure the accuracy, correctness and reliability of the Materials, but we make no representation or warranties as the accuracy, correctness or reliability of the Materials.
    //    p Note: Anyone linking to MiniLuxe Site must comply with the Guidelines for Linking to MiniLuxe Site and all applicable laws.
    //    h6 Linking To MiniLuxe
    //    p If you would like to link to MiniLuxe Web Site ("Site"), please read and comply with the following guidelines:
    //    div.number-list
    //        p A site that links to MiniLuxe Site:
    //        p 1. May link to, but not replicate, copy, display, distribute or communicate to the public, or otherwise use MiniLuxe content.
    //        p 2. Should not create a browser or border environment around MiniLuxe content.
    //        p 3. Should not imply that MiniLuxe is endorsing it or its products and services.
    //        p 4. Should not misrepresent its relationship with MiniLuxe.
    //        p 5. Should not present false information about MiniLuxe products or services.
    //        p 6. Should not use the MiniLuxe logo or any other trademark, name or logo of MiniLuxe (the "Trademarks") without permission from MiniLuxe. Any use of Trademarks is subject to the terms and conditions set out by MiniLuxe.
    //        p 7. MiniLuxe retains the right to require the linking party to terminate the link at its sole discretion.
    //        p 8. Should not contain content that could be construed as distasteful, offensive, controversial, or unlawful and should contain only content that is appropriate for all age groups.
    //
    //    p Revised June, 2013