include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		if(titles.length)
			each title in titles
				title= title.name
		else
			title='Miniluxe'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet" type="text/css")
		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		div.social_bar.default-header
			//mobile menu toggle button
			div.default-menu-toggle
				div.one
				div.two
				div.three
			div.default-logo
				a(href='/')
					img(src='/images/Logo_miniluxe-2.png')
			div.home-mobile-logo
				a(href='/')
					img(src='/images/Logo_miniluxe-2.png')
			div.main-nav-default
				nav.main-nav
					ul
						li.services-link
							a(href='/services') Services
							ul.sub-menu
								li: a(href='/services#manicure') Manicures
								li: a(href='/services#pedicure') Pedicures
								li: a(href='/services#mani-pedis') Mani-Pedis
								li: a(href='/services#waxing') Waxing
								li: a(href='/services#brows') Brows
								li: a(href='/services#for-him') For Him
						li: a(href='/location') Locations
						li: a(href='/purpose') Purpose
						li: a(href='/careers') Careers
						li: a(href='/booking').book-appointment Book an Appointment
			div.top_social_menu
				ul
					li: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
					li: a(href='https://instagram.com/miniluxe/' target='_blank')
						img(src='/images/icon_insta.png')
					li: a(href='https://twitter.com/MiniLuxe' target='_blank')
						img(src='/images/icon_twitter.png')
					li: a(href='https://www.facebook.com/MiniLuxe' target='_blank')
						img(src='/images/icon_fb.png')
			div.mobile-top-social-menu
				ul
					li.giftcard: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
					li: a(href='https://instagram.com/miniluxe/' target='_blank')
						img(src='/images/mobile-insta.png')
					li: a(href='https://twitter.com/MiniLuxe' target='_blank')
						img(src='/images/mob-twitter.png')
					li: a(href='https://www.facebook.com/MiniLuxe' target='_blank')
						img(src='/images/mob-fb.png')
			div.clearfix
		nav.main-mobile-nav
			ul
				li.services-link
					a(href='javascript:;') Services
					ul.sub-menu
						li: a(href='/services#manicure') Manicures
						li: a(href='/services#pedicure') Pedicures
						li: a(href='/services#mani-pedis') Mani-Pedis
						li: a(href='/services#waxing') Waxing
						li: a(href='/services#brows') Brows
						li: a(href='/services#for-him') For Him
				li: a(href='/location') Locations
				li: a(href='/purpose') Purpose
				li: a(href='/careers') Careers
				li: a(href='/booking').book-appointment Book an Appointment
				li: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
		div.container				


		//- BODY
		#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER
		footer#footer
			.footer-container
				ul.footer-nav.text-center.list-inline.text-uppercase
					if footernavs
						each footernav in footernavs
							li
								if footernav.Url
									a(href= footernav.Url)= footernav.Text
								else
									p= footernav.Text

		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-2.1.4.min.js')
		script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
		script.
			$('.default-menu-toggle').on('click', function () {
				$(this).toggleClass('on');
				$('.main-mobile-nav').slideToggle();
			})
			$('.main-mobile-nav .services-link').on('click', function () {
				$(this).find('.sub-menu').slideToggle();
			})
			$('nav.main-mobile-nav li.services-link ul.sub-menu>li>a').on('click', function(){
				$('nav.main-mobile-nav').slideUp();
				$('.default-menu-toggle').removeClass('on');
			});
			$(window).resize(function(){
				var width = $(window).width();
				if (width > 768){
					$('.main-mobile-nav').css('display', 'none');
					$('.default-menu-toggle').removeClass('on');
				}
				if (width < 768) {
					$('.default-header').removeClass('sticky-default-header');
				}
			})
			$('.subscribe-mobile').on('click', function () {
				$('.subscribe-popup').show();
				$('.subscribe-popup .subscribe-form-block').show();
			});
			$('.close-subscribe-popup').on('click', function () {
				$('.subscribe-popup').hide();
				$('.subscribe-popup .subscribe-form-block').hide();
			})
			var pgurl = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);

			$("nav.main-nav ul li a").each(function () {
				if ($(this).attr("href") == '/'+pgurl || $(this).attr("href") == '')
					$(this).addClass("active");
			})
			//google Analytics
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function () {

							(i[r].q = i[r].q || []).push(arguments)
						}, i[r].l = 1 * new Date();
				a = s.createElement(o),

						m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)

			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-59325824-1', 'auto');

			ga('send', 'pageview');
			//IE 10 Specific CSS
			if ($.browser.msie && $.browser.version === '10.0') {
				$('.career-form button[type="submit"], form.contact-us button, .slide-btn, form.search-by-zip button, .store-info a.book-now').css("border", '2px solid #E2947F');
			}
		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		//script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
			
		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
