include ../mixins/flash-messages

doctype html
html

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        if(titles.length)
            each title in titles
                title= title.name
        else
            title='Miniluxe'
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

        //- Customise the stylesheet for your site by editing /public/styles/site.sass
        link(href="/styles/site.css", rel="stylesheet" type="text/css")
        link(href="/styles/jquery.bxslider.css" rel="stylesheet" type="text/css")
        //- This file provides the default styling for the KeystoneJS Content Editor
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- Safely remove this block if you are not targeting IE8
        //-[if lt IE 9]
            script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
            script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
        //-[endif]

        //- Include template-specific stylesheets by extending the css block
        block css

        //- Add any other template-specific HEAD tags by extending the head block
        block head

    //- HTML BODY
    body
        div.social_bar
            //mobile menu toggle button
            div.menu-toggle
                div.one
                div.two
                div.three
            div.subscribe-block
                a(href="javascript:;").subscribe-btn Subscribe
                div.subscribe-form-block
                    h4 Join the Front Row
                    p Stay informed with latest news & updates
                    form.subscribe-form#subscribe-form1(action='http://miniluxe.us7.list-manage1.com/subscribe/post?u=f99ed5dd016f5f5260e682bfd&amp;id=5fa4e7a9bb' method='post' novalidate)
                        div.form-block.row
                            div.col-half
                                input.form-control#email1(type='email' name="EMAIL" placeholder='Email')
                                span.err Please enter email
                                span.email-err Please enter valid email
                            div.col-half
                                div.brthday
                                    p Birthday
                                    div.sel-box
                                        select(name="MMERGE4[month]")#month
                                            option(value='') MM
                                            option(value='01') 01
                                            option(value='02') 02
                                            option(value='03') 03
                                            option(value='04') 04
                                            option(value='05') 05
                                            option(value='06') 06
                                            option(value='07') 07
                                            option(value='08') 08
                                            option(value='09') 09
                                            option(value='10') 10
                                            option(value='11') 11
                                            option(value='12') 12
                                        span.err Please select month
                                    //input.form-control(type="text" placeholder="MM" name="MMERGE4[month]" size="2" maxlength="2" min="0")
                                    div.sel-box
                                        select(name="MMERGE4[day]")#day
                                            option(value='') DD
                                            option(value='01') 01
                                            option(value='02') 02
                                            option(value='03') 03
                                            option(value='04') 04
                                            option(value='05') 05
                                            option(value='06') 06
                                            option(value='07') 07
                                            option(value='08') 08
                                            option(value='09') 09
                                            option(value='10') 10
                                            option(value='11') 11
                                            option(value='12') 12
                                            option(value='13') 13
                                            option(value='14') 14
                                            option(value='15') 15
                                            option(value='16') 16
                                            option(value='17') 17
                                            option(value='18') 18
                                            option(value='19') 19
                                            option(value='20') 20
                                            option(value='21') 21
                                            option(value='22') 22
                                            option(value='23') 23
                                            option(value='24') 24
                                            option(value='25') 25
                                            option(value='26') 26
                                            option(value='27') 27
                                            option(value='28') 28
                                            option(value='29') 29
                                            option(value='30') 30
                                            option(value='31') 31
                                        span.err Please select day
                                    //input.form-control(type="text" placeholder="DD" name="MMERGE4[day]" size="2" maxlength="2" min="0")
                        div.form-block.row
                            div.col-half
                                input.form-control.alphaonly#fname1(type='text' name='FNAME' placeholder='First Name')
                                span.err Please enter first name
                            div.col-half
                                input.form-control.alphaonly#lname1(type='text' name='LNAME' placeholder='Last Name')
                                span.err Please enter last name
                        div.form-block.row
                            div.col-half
                                input.form-control#zip1(type='text' placeholder='Zip Code' name='MMERGE3' maxlength='5')
                                span.err Please enter valid zip code
                            div.col-half
                                input.form-control(type='submit' value='Subscribe')
            div.home-mobile-logo
                a(href='/')
                    img(src='/images/Logo_miniluxe-2.png')
            div.top_social_menu
                ul
                    li.giftcard: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
                    li: a(href='https://instagram.com/miniluxe/' target='_blank')
                        img(src='/images/icon_insta.png')
                    li: a(href='https://twitter.com/MiniLuxe' target='_blank')
                        img(src='/images/icon_twitter.png')
                    li: a(href='https://www.facebook.com/MiniLuxe' target='_blank')
                        img(src='/images/icon_fb.png')
            div.mobile-top-social-menu
                ul
                    li.giftcard: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
                    li: a(href='https://instagram.com/miniluxe/' target='_blank')
                        img(src='/images/mobile-insta.png')
                    li: a(href='https://twitter.com/MiniLuxe' target='_blank')
                        img(src='/images/mob-twitter.png')
                    li: a(href='https://www.facebook.com/MiniLuxe' target='_blank')
                        img(src='/images/mob-fb.png')
            div.clearfix
        nav.main-nav-mobile
            ul
                li.services-link
                    a(href='javascript:;') Services
                    ul.sub-menu
                        li: a(href='/services#manicure') Manicures
                        li: a(href='/services#pedicure') Pedicures
                        li: a(href='/services#mani-pedis') Mani-Pedis
                        li: a(href='/services#waxing') Waxing
                        li: a(href='/services#brows') Brows
                        li: a(href='/services#for-him') For Him
                li: a(href='/location') Locations
                li: a(href='/purpose') Purpose
                li: a(href='/careers') Careers
                li: a(href='/location').book-appointment Book an Appointment
                li: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
                li: a(href='javascript:;').subscribe-mobile Subscribe
        div.head-container
            div.logo
                a(href='/')
                    img(src='/images/Logo_miniluxe-3.png').logo-i
                    img(src='/images/Logo_miniluxe-2.png')
            nav.main-nav
                ul
                    li.services-link
                        a(href='/services') Services
                        ul.sub-menu
                            li: a(href='/services#manicure') Manicures
                            li: a(href='/services#pedicure') Pedicures
                            li: a(href='/services#mani-pedis') Mani-Pedis
                            li: a(href='/services#waxing') Waxing
                            li: a(href='/services#brows') Brows
                            li: a(href='/services#for-him') For Him
                    li: a(href='/location') Locations
                    li: a(href='/purpose') Purpose
                    li: a(href='/careers') Careers
                    li: a(href='/booking').book-appointment Book an Appointment
            div.top_social_menu
                ul
                    li.giftcard: a(href='https://min02115.aws.book4time.com/spagift/' target='_blank') Gift Cards
                    li: a(href='https://instagram.com/miniluxe/' target='_blank')
                        img(src='/images/icon_insta.png')
                    li: a(href='https://twitter.com/MiniLuxe' target='_blank')
                        img(src='/images/icon_twitter.png')
                    li: a(href='https://www.facebook.com/MiniLuxe' target='_blank')
                        img(src='/images/icon_fb.png')
        //sticky navigation
        .sticky
            .logo
                a(href='/')
                    img.logo-i(src='/images/Logo_miniluxe-3.png')
                    img(src='/images/Logo_miniluxe-2.png')
            nav.main-nav
                ul
                    li.services-link
                        a(href='/services') Services
                        ul.sub-menu
                            li
                                a(href='/services#manicure') Manicures
                            li
                                a(href='/services#pedicure') Pedicures
                            li
                                a(href='/services#mani-pedis') Mani-Pedis
                            li
                                a(href='/services#waxing') Waxing
                            li
                                a(href='/services#brows') Brows
                            li
                                a(href='/services#for-him') For Him
                    li
                        a(href='/location') Locations
                    li
                        a(href='/purpose') Purpose
                    li
                        a(href='/careers') Careers
                    li
                        a.book-appointment(href='/booking') Book an Appointment
            .top_social_menu
                ul
                    li.giftcard
                        a(href='https://min02115.aws.book4time.com/spagift/', target='_blank') Gift Cards
                    li
                        a(href='https://instagram.com/miniluxe/', target='_blank')
                            img(src='/images/icon_insta.png')
                    li
                        a(href='https://twitter.com/MiniLuxe', target='_blank')
                            img(src='/images/icon_twitter.png')
                    li
                        a(href='https://www.facebook.com/MiniLuxe', target='_blank')
                            img(src='/images/icon_fb.png')
        //- BODY
        #home-body

            //- NOTE:
            //- There is no .container wrapping class around body blocks to allow more flexibility in design.
            //- Remember to include it in your templates when you override the intro and content blocks!

            //- The Intro block appears above flash messages (used for temporary information display)
            block intro

            //- Flash messages allow you to display once-off status messages to users, e.g. form
            //- validation errors, success messages, etc.
            +flash-messages(messages)

            //- The content block should contain the body of your template's content
            block content


        //- FOOTER
        footer#footer
            .footer-container
                ul.footer-nav.text-center.list-inline.text-uppercase
                    if footernavs
                        each footernav in footernavs
                            li
                                if footernav.Url
                                    a(href= footernav.Url)= footernav.Text
                                else
                                    p= footernav.Text
            div.subscribe-popup
                div.subscribe-form-block
                    div.clearfix
                        h4.fl Join the Front Row
                        img(src='/images/close.png').fr.close-subscribe-popup
                    p Stay informed with latest news & updates
                    form.subscribe-form#subscribe-form2(action='http://miniluxe.us7.list-manage1.com/subscribe/post?u=f99ed5dd016f5f5260e682bfd&id=5fa4e7a9bb' method='post' novalidate)
                        div.form-block.row#scroll-mail
                            div.col-half
                                input.form-control#mail(type='email' name="EMAIL" placeholder='Email')
                                span.err Please enter email
                                span.email-err Please enter valid email
                            div.col-half
                                div.brthday
                                    p Birthday
                                    div.sel-box
                                        select(name="MMERGE4[month]")#month1
                                            option(value='') MM
                                            option(value='01') 01
                                            option(value='02') 02
                                            option(value='03') 03
                                            option(value='04') 04
                                            option(value='05') 05
                                            option(value='06') 06
                                            option(value='07') 07
                                            option(value='08') 08
                                            option(value='09') 09
                                            option(value='10') 10
                                            option(value='11') 11
                                            option(value='12') 12
                                        span.err Please select month
                                    //input.form-control(type="text" placeholder="MM" name="MMERGE4[month]" size="2" maxlength="2" min="0")
                                    div.sel-box
                                        select(name="MMERGE4[day]")#day1
                                            option(value='') DD
                                            option(value='01') 01
                                            option(value='02') 02
                                            option(value='03') 03
                                            option(value='04') 04
                                            option(value='05') 05
                                            option(value='06') 06
                                            option(value='07') 07
                                            option(value='08') 08
                                            option(value='09') 09
                                            option(value='10') 10
                                            option(value='11') 11
                                            option(value='12') 12
                                            option(value='13') 13
                                            option(value='14') 14
                                            option(value='15') 15
                                            option(value='16') 16
                                            option(value='17') 17
                                            option(value='18') 18
                                            option(value='19') 19
                                            option(value='20') 20
                                            option(value='21') 21
                                            option(value='22') 22
                                            option(value='23') 23
                                            option(value='24') 24
                                            option(value='25') 25
                                            option(value='26') 26
                                            option(value='27') 27
                                            option(value='28') 28
                                            option(value='29') 29
                                            option(value='30') 30
                                            option(value='31') 31
                                        span.err Please select day
                                    //input.form-control(type="text" placeholder="DD" name="MMERGE4[day]" size="2" maxlength="2" min="0")
                        div.form-block.row#name-scroll
                            div.col-half
                                input.form-control.alphaonly#fname(type='text' name='FNAME' placeholder='First Name')
                                span.err Please enter first name
                            div.col-half
                                input.form-control.alphaonly#lname(type='text' name='LNAME' placeholder='Last Name')
                                span.err Please enter last name
                        div.form-block.row#zip-scroll
                            div.col-half
                                input.form-control#zip(type='number' placeholder='Zip Code' name='MMERGE3' maxlength='5')
                                span.err Please enter valid zip code
                            div.col-half.sub-btn-popup
                                input.form-control(type='submit' value='Subscribe')

        //- JAVASCRIPT

        //- jQuery 1.11.3 is included by default, and required by both Bootstrap
        //- and the KeystoneJS Content Editor. If you are not targeting IE8,
        //- you can upgrade to 2.1.4 (also bundled) for better performance.
        script(src='/js/jquery/jquery-2.1.4.min.js')
        script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script.
            $('.subscribe-form input[name="MMERGE3"]').keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //display error message
                    return false;
                }
            });

            $('.alphaonly').keydown(function (e) {
                var keyCode = (evt.which) ? evt.which : evt.keyCode
                if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32 && keyCode != 08 && keyCode != 09 && keyCode != 11 && keyCode != 127)

                    return false;
                return true;
            });

            $('#subscribe-form1').on('submit', function(){

                var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                var namefilter = /^[a-zA-Z ]{2,30}$/
                var phonefilter = /^[0-9]{5}$/

                if (!$('#subscribe-form1 #email1').val()){
                    $('#subscribe-form1 #email1').siblings('.err').addClass('err-get');
                    $('#subscribe-form1 #email1').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form1 #email1').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form1 #email1').siblings('.err').removeClass('err-get');
                    }, 5000);
                    $('#subscribe-form1 #email1').siblings('.email-err').removeClass('err-get');
                    return false;
                } else if (!$('#subscribe-form1 #month').val()) {
                    $('#subscribe-form1 #month').siblings('.err').addClass('err-get');
                    $('#subscribe-form1 #month').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form1 #month').removeClass("red-brdr");
                    }, 4000);
                    setTimeout(function () {
                        $('#subscribe-form1 #month').siblings('.err').removeClass('err-get');
                    }, 4000);
                    $('#subscribe-form1 #day').siblings('.err').removeClass('err-get');
                    return false;
                } else if ((($('#subscribe-form1 #month').val() == '04' || $('#subscribe-form1 #month').val() == '06' || $('#subscribe-form1 #month').val() == '09' || $('#subscribe-form1 #month').val() == '11') && ($('#subscribe-form1 #day').val() == '31')) || $('#subscribe-form1 #month').val() == '02' && ($('#subscribe-form1 #day').val() == '30') || $('#subscribe-form1 #day').val() == '31' ) {
                    alert("Please enter valid date");
                    $('#subscribe-form1 #day').val('');
                    return false;
                } else if (!$('#subscribe-form1 #day').val()) {
                    $('#subscribe-form1 #day').siblings('.err').addClass('err-get');
                    $('#subscribe-form1 #day').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form1 #day').removeClass("red-brdr");
                    }, 4000);
                    setTimeout(function () {
                        $('#subscribe-form1 #day').siblings('.err').removeClass('err-get');
                    }, 4000);
                    $('#subscribe-form1 #month').siblings('.err').removeClass('err-get');
                    return false;
                } else if (!filter.test($('#subscribe-form1 #email1').val())){
                    $('#subscribe-form1 #email1').siblings('.email-err').addClass('err-get');
                    $('#subscribe-form1 #email1').siblings('.err').removeClass('err-get');
                    $('#subscribe-form1 #email1').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form1 #email1').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form1 #email1').siblings('.email-err').removeClass('err-get');
                    }, 5000);
                    return false;
                } else if (!$('#subscribe-form1 #fname1').val() || !$('#subscribe-form1 #fname1').val().trim()) {
                    $('#subscribe-form1 #fname1').siblings('.err').addClass('err-get');
                    $('#subscribe-form1 #fname1').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form1 #fname1').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form1 #fname1').siblings('.err').removeClass('err-get');
                    }, 5000);
                    return false;
                } else if(!$('#subscribe-form1 #lname1').val() || !$('#subscribe-form1 #lname1').val().trim())
                {
                    $('#subscribe-form1 #lname1').siblings('.err').addClass('err-get');
                    $('#subscribe-form1 #lname1').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form1 #lname1').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form1 #lname1').siblings('.err').removeClass('err-get');
                    }, 5000);
                    return false;
                } else if (!$('#subscribe-form1 #zip1').val() || !$('#subscribe-form1 #zip1').val().trim()) {

                    $('#subscribe-form1 #zip1').siblings('.err').addClass('err-get');
                    $('#subscribe-form1 #zip1').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form1 #zip1').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form1 #zip1').siblings('.err').removeClass('err-get');
                    }, 5000);
                    return false;

                } else if ($('#subscribe-form1 #zip1').val().length < 5) {
                    $('#subscribe-form1 #zip1').siblings('.err').addClass('err-get');
                    $('#subscribe-form1 #zip1').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form1 #zip1').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form1 #zip1').siblings('.err').removeClass('err-get');
                    }, 5000);
                    return false;

                } else if (!namefilter.test($('#subscribe-form1 #fname1').val())) {
                    alert("Plese enter valid first name");
                    return false;

                } else if (!namefilter.test($('#subscribe-form1 #lname1').val()) && $('#subscribe-form1 #lname1').val() != '') {
                    alert("Plese enter valid last name");
                    return false;

                } else if (!phonefilter.test($('#subscribe-form1 #zip1').val())) {
                    alert("Plese enter valid zip code");
                    return false;

                } else {
                    $('#subscribe-form1 input[type="submit"]').prop('disabled', true);
                }

            });

            $('#subscribe-form2').on('submit', function () {
                var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                var namefilter = /^[a-zA-Z ]{2,30}$/
                var phonefilter = /^[0-9]{5}$/

                if (!$('#subscribe-form2 #mail').val()) {

                    $('#subscribe-form2 #mail').siblings('.err').addClass('err-get');
                    $('#subscribe-form2 #mail').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form2 #mail').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form2 #mail').siblings('.err').removeClass('err-get');
                    }, 5000);
                    $('.subscribe-popup').animate({scrollTop: $('#scroll-mail').position().top - 100}, 'slow');
                    return false;
                } else if (!$('#subscribe-form2 #month1').val()) {
                    $('#subscribe-form2 #month1').siblings('.err').addClass('err-get');
                    $('#subscribe-form2 #month1').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form2 #month1').removeClass("red-brdr");
                    }, 4000);
                    setTimeout(function () {
                        $('#subscribe-form2 #month1').siblings('.err').removeClass('err-get');
                    }, 4000);
                    $('#subscribe-form2 #day1').siblings('.err').removeClass('err-get');
                    $('.subscribe-popup').animate({scrollTop: $('#scroll-mail').position().top - 100}, 'slow');
                    return false;
                } else if ((($('#subscribe-form2 #month1').val() == '04' || $('#subscribe-form2 #month1').val() == '06' || $('#subscribe-form2 #month1').val() == '09' || $('#subscribe-form2 #month1').val() == '11') && ($('#subscribe-form2 #day').val() == '31')) || $('#subscribe-form2 #month1').val() == '02' && ($('#subscribe-form2 #day').val() == '30') || $('#subscribe-form2 #day').val() == '31') {
                    alert("Please enter valid date");
                    $('#subscribe-form2 #day1').val('');
                    $('html, body').animate({scrollTop: $('#scroll-mail').position().top - 100}, 'slow');
                    return false;
                } else if (!$('#subscribe-form2 #day1').val()) {
                    $('#subscribe-form2 #day1').siblings('.err').addClass('err-get');
                    $('#subscribe-form2 #day1').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form2 #day1').removeClass("red-brdr");
                    }, 4000);
                    setTimeout(function () {
                        $('#subscribe-form2 #day1').siblings('.err').removeClass('err-get');
                    }, 4000);
                    $('#subscribe-form2 #month1').siblings('.err').removeClass('err-get');
                    $('.subscribe-popup').animate({scrollTop: $('#scroll-mail').position().top - 100}, 'slow');
                    return false;
                } else if (!filter.test($('#subscribe-form2 #mail').val())) {
                    $('#subscribe-form2 #mail').siblings('.email-err').addClass('err-get');
                    $('#subscribe-form2 #mail').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form2 #mail').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form2 #mail').siblings('.email-err').removeClass('err-get');
                    }, 5000);
                    $('.subscribe-popup').animate({scrollTop: $('#scroll-mail').position().top - 100}, 'slow');
                    return false;
                } else if (!$('#subscribe-form2 #fname').val() || !$('#subscribe-form2 #fname').val().trim()) {
                    $('#subscribe-form2 #fname').siblings('.err').addClass('err-get');
                    $('#subscribe-form2 #fname').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form2 #fname').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form2 #fname').siblings('.err').removeClass('err-get');
                    }, 5000);
                    $('html, body').animate({scrollTop: $('#name-scroll').position().top - 100}, 'slow');
                    return false;
                } else if (!$('#subscribe-form2 #lname').val() || !$('#subscribe-form2 #lname').val().trim()) {
                    $('#subscribe-form2 #lname').siblings('.err').addClass('err-get');
                    $('#subscribe-form2 #lname').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form2 #lname').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form2 #lname').siblings('.err').removeClass('err-get');
                    }, 5000);
                    $('.subscribe-popup').animate({scrollTop: $('#name-scroll').position().top - 100}, 'slow');
                    return false;
                } else if (!$('#subscribe-form2 #zip').val() || !$('#subscribe-form2 #zip').val().trim()) {
                    $('#subscribe-form2 #zip').siblings('.err').addClass('err-get');
                    $('#subscribe-form2 #zip').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form2 #zip').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form2 #zip').siblings('.err').removeClass('err-get');
                    }, 5000);
                    $('.subscribe-popup').animate({scrollTop: $('#zip-scroll').position().top - 100}, 'slow');
                    return false;
                } else if ($('#subscribe-form2 #zip').val().length < 5) {
                    $('#subscribe-form2 #zip').siblings('.err').addClass('err-get');
                    $('#subscribe-form2 #zip').addClass('red-brdr');
                    setTimeout(function () {
                        $('#subscribe-form2 #zip').removeClass("red-brdr");
                    }, 5000);
                    setTimeout(function () {
                        $('#subscribe-form2 #zip').siblings('.err').removeClass('err-get');
                    }, 5000);
                    $('.subscribe-popup').animate({scrollTop: $('#zip-scroll').position().top - 100}, 'slow');
                    return false;

                } else if (!namefilter.test($('#subscribe-form2 #fname').val())) {
                    alert("Please enter valid first name");
                    return false;
                } else if (!namefilter.test($('#subscribe-form2 #lname').val()) && $('#subscribe-form2 #lname').val() != '') {
                    alert("Please enter valid last name");
                    return false;
                } else if (!phonefilter.test($('#subscribe-form2 #zip').val()) || $('#subscribe-form2 #zip').length>5) {
                    alert("Please enter valid zip code");
                    return false;
                } else {
                    $('#subscribe-form2 input[type="submit"]').prop('disabled', true);
                }

            });

            $('.menu-toggle').on('click', function () {
                $(this).toggleClass('on');
                $('.main-nav-mobile').slideToggle();
            });
            $('.main-nav-mobile .services-link').on('click', function(){
                $(this).find('.sub-menu').slideToggle();
            });

            $(window).resize(function () {
                var width = $(window).width();
                if (width > 768) {
                    $('.main-nav-mobile').css('display', 'none');
                    $('.menu-toggle').removeClass('on');

                }
                if (width < 815) {
                    $('.sticky').css('display', 'none');
                }
            });
            $('.subscribe-mobile').on('click', function() {
                $('.subscribe-popup').addClass('subscribe-popup-visible');
                $('.subscribe-popup .subscribe-form-block').show();
                $('.main-nav-mobile').slideUp();
                $('.menu-toggle').removeClass('on');
                $('#home-body').css('display', 'none');
            });
            $('.close-subscribe-popup').on('click', function(){
                $('.subscribe-popup').removeClass('subscribe-popup-visible');
                //$('.subscribe-popup').hide();
                $('.subscribe-popup .subscribe-form-block').hide();
                $('.menu-toggle').removeClass('on');
                $('#home-body').css('display', 'block   ');
            });

            //on Scroll Fixed header
            $(window).scroll(function () {
                if (($(window).scrollTop() > 332) && ($(window).width() > 768) && ($(document).height() > ($(window).height() + 350))) {
                   $('.sticky').addClass('glow');
                }
                else {
                    $('.sticky').removeClass('glow');
                }
            });
            $('#email1').data('holder', $('#email1').attr('placeholder'));

            $('#email1').focusin(function () {
                $(this).attr('placeholder', '');
            });
            $('#email1').focusout(function () {
                $(this).attr('placeholder', $(this).data('holder'));
            });

            $('#fname1').data('holder', $('#fname1').attr('placeholder'));

            $('#fname1').focusin(function () {
                $(this).attr('placeholder', '');
            });
            $('#fname1').focusout(function () {
                $(this).attr('placeholder', $(this).data('holder'));
            });

            $('#lname1').data('holder', $('#lname1').attr('placeholder'));

            $('#lname1').focusin(function () {
                $(this).attr('placeholder', '');
            });
            $('#lname1').focusout(function () {
                $(this).attr('placeholder', $(this).data('holder'));
            });

            $('#zip1').data('holder', $('#zip1').attr('placeholder'));

            $('#zip1').focusin(function () {
                $(this).attr('placeholder', '');
            });
            $('#zip1').focusout(function () {
                $(this).attr('placeholder', $(this).data('holder'));
            });

            $('#email').data('holder', $('#email').attr('placeholder'));

            $('#email').focusin(function () {
                $(this).attr('placeholder', '');
            });
            $('#email').focusout(function () {
                $(this).attr('placeholder', $(this).data('holder'));
            });

            $('#fname').data('holder', $('#fname').attr('placeholder'));

            $('#fname').focusin(function () {
                $(this).attr('placeholder', '');
            });
            $('#fname').focusout(function () {
                $(this).attr('placeholder', $(this).data('holder'));
            });

            $('#lname').data('holder', $('#lname').attr('placeholder'));

            $('#lname').focusin(function () {
                $(this).attr('placeholder', '');
            });
            $('#lname').focusout(function () {
                $(this).attr('placeholder', $(this).data('holder'));
            });

            $('#zip').data('holder', $('#zip').attr('placeholder'));

            $('#zip').focusin(function () {
                $(this).attr('placeholder', '');
            });
            $('#zip').focusout(function () {
                $(this).attr('placeholder', $(this).data('holder'));
            });

            //google Analytics
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {

                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),

                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)

            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-59325824-1', 'auto');

            ga('send', 'pageview');
            //IE 10 Specific CSS
            if ($.browser.msie && $.browser.version === '10.0') {
                $('.career-form button[type="submit"], form.contact-us button, .slide-btn, form.search-by-zip button, .store-info a.book-now').css("border", '2px solid #E2947F');
            }

        //- Customise which Bootstrap javascript files are served by including
        //- them specifically here, instead of bootstrap-3.3.5.min.js
        //script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

        //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
        //- which generate links to edit content for users who can access Keystone
        if user && user.canAccessKeystone
            script(src='/keystone/js/content/editor.js')

        //- Add scripts that are globally required by your site here.

        //- Include template-specific javascript files by extending the js block
        block js
