html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
/* Bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
textarea {
  overflow: auto;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin-bottom: 20px;
}
/* Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre,
code,
kbd,
samp {
  font-family: 'futura_lt_btlight';
}
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  outline: none;
}
/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* 1.1 Defaults */
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  line-height: 24px;
  color: #414141;
  /* background: #f1f1f1;*/
  font-family: 'futura_lt_btlight';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}
hr {
  background-color: #e6e6e6;
  border: 0;
  height: 1px;
  margin-bottom: 1.618em;
}
::selection {
  background: #efefef;
  /* Safari */

}
::-moz-selection {
  background: #ffb7b7;
  /* Firefox */

}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* 1.2 Hyperlinks */
a {
  color: #704c61;
  text-decoration: none;
}

/* 1.3 Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #424242;
  margin: 0 0 .53em;
  font-weight: normal;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 46px;
  line-height: 60px;
}
h2 {
  font-size: 44px;
  line-height: 58px;
}
h3 {
  font-size: 42px;
  line-height: 52px;
}
h4 {
  font-size: 34px;
  line-height: 46px;
}
h5 {
  font-size: 28px;
  line-height: 38px;
}
h6 {
  font-size: 22px;
  line-height: 28px;
}
p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  orphans: 3;
  widows: 3;
}
ul,
ol,
dl,
p,
table,
form,
pre,
hr {
  margin: 0 0 1.618em 0;
}
li > ul,
li > ol {
  margin: 0 0 0 1.618em;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-bottom: 1.618em;
}
/* 1.4 Tables */
table {
  width: 100%;
}

$font-size-base: 14px;
$left: left;
$right: right;
