@media (max-width: 1290px){
  aside.side-filter{
    width: calc(100% - 770px);
  }
  section.all-location{
    width: 730px;
  }
  .location-list > li .fix-height-loc-head{
    height: 200px;
  }
  .location-list > li .adrs-height{
    height: 95px;
  }
}
@media (max-width: 1152px) and (min-width: 992px) {
  aside.side-filter{
    width: 165px;
  }
  section.all-location{
    width: calc(100% - 170px);
  }
}
@media (max-width: 1333px){
  .purpose-content-detail-clean{
    padding-left: 40px;
    padding-top: 3em;
  }
}
@media (max-width: 1322px){
  .add-ons{
    width: 49%;
    padding-left: 10px;
  }
  .mani{
    margin-right: 4%;
  }
}
@media (max-width: 1157px){
  .mani{
    width: 43%;
  }
  .add-ons{
    width: 51%;
  }
}
@media (max-width: 1111px){
  .mani-padi{
    width: 92%;
  }
}
@media (max-width: 1200px){
  .sticky-default-header .main-nav-default nav.main-nav > ul > li > a, .sticky nav.main-nav > ul > li > a{
    margin: 0 10px;
  }
  .sticky nav.main-nav, .sticky-default-header .main-nav-default nav.main-nav{
    margin-left: 0;
  }
  .sticky .sub-menu{
    width: 120px;
    padding: 5px 0 18px 25px;
    left: -21px;
  }
}
@media (max-width: 1175px){
  .default-header .subscribe-block a, .sticky nav.main-nav > ul > li > a, .top_social_menu > ul > li:first-child a, .default-header .top_social_menu > ul > li:first-child a{
    font-size: 12px;
  }
  .main-nav-default nav.main-nav > ul > li > a{
    margin: 5px 4px 0;
    font-size: 12px;
  }
  .default-header .top_social_menu > ul > li:first-child a{
    font-size: 12px;
  }
  .sticky .top_social_menu > ul > li{
    padding: 21px 0 0;
  }
  .sticky-default-header .default-logo a{
    padding-top: 11px;
  }
}
@media (max-width: 1109px){
  .purpose-content-image-clean{
    width: 50%;
  }
  .purpose-content-detail-clean{
    width: 48%;
    padding-left: 10px;
    padding-top: 1em;
  }
  .purpose-content h2 {
    font-size: 42px;
    margin-bottom: 7px;
  }
  .purpose-content-about-you{
    padding-top: 2em;
    padding-left: 20px;
  }
}
@media (max-width: 1100px){
  ul.footer-nav > li{
    padding: 0 15px;
  }
}
@media (max-width: 1060px){
  .default-header, .head-container.sticky{
    padding: 0 15px;
  }
  .default-header .subscribe-block a{
    padding: 20px 0 21px;
  }
  .head-container.sticky .logo a{
    padding-top: 11px;
  }
  .top_social_menu > ul > li:first-child{
    top: 0;
  }
}
@media (max-width: 888px){
  .career-select .col-six{
    width: 100%;
  }
}
@media (max-width: 992px){
  .default-header{
    padding: 0 15px;
  }
  .sticky-default-header{
    padding: 0 50px;
  }
  nav.main-nav > ul > li{
    margin: 0 1px;
  }
  .sticky nav.main-nav{
    width: calc(100% - 250px);
  }
  .main-nav-default .sub-menu{
    padding: 5px 0 12px 27px;
    left: -26px;
  }
  .sub-menu{
    width: 115px;
    padding: 5px 0 12px 26px;
    left: -19px;
  }
  .sub-menu a{
    padding: 1px 0;
    font-size: 12px;
  }
  .top_social_menu > ul > li:first-child a{
    font-size: 12px;
  }
  .sticky nav.main-nav > ul > li > a{
    margin: 0 5px;
  }
  .sticky .top_social_menu > ul > li{
    margin: 0;
  }
  .sticky .top_social_menu > ul > li > a{
    font-size: 11px;
  }
  nav.main-nav > ul > li > a{
    font-size: 13px;
    margin: 0 11px;
  }
  .default-header .subscribe-block{
    width: 67px;
  }
  .default-header .top_social_menu > ul > li:first-child{
    margin-right: 0;
  }
  .main-nav-default{
    width: calc(100% - 250px);
  }
  .default-header .top_social_menu > ul > li{
    margin: 0;
  }
  .sticky-default-header .main-nav-default nav.main-nav > ul > li > a{
    font-size: 12px;
    margin: 0 4px!important;
  }
  .default-header .subscribe-block a, .default-header .top_social_menu > ul > li:first-child a {
    font-size: 11px;
  }
  aside.side-filter{
    display: none;
  }
  #mobile-region{
    width: 100%;
    padding: 0 19px;
    display: block;
  }
  #mobile-region ul.regions{
    display: none;
    padding: 0 15px;
  }
  #mobile-region .filter-head{
    cursor: pointer;
    background: $primary-color;
    color: #fff;
    padding: 5px 15px;
    position: relative;
  }
  #mobile-region .filter-head:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 7px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
    transition: all 0.2s linear;
  }
  #mobile-region .filter-head.active:after{
    transition: all 0.2s linear;
    border-width: 0 7px 6px 6px;
  }
  .location-list > li{
    width: 50%;
    min-height: 450px;
    max-height: 450px;
  }
  .location-list > li .fix-height-loc-head{
    height: 240px;
  }
  section.all-location{
    width: 100%;
    margin-top: 20px;
  }
  form.search-by-zip{
    margin-bottom: 28px;
  }
  .location-list > li:nth-child(odd){
    border-left: 0;
  }
  form.career-form input[type="text"], form.career-form input[type="email"], form.career-form input[type="number"]{
    font-size: 13px;
    height: 41px;
  }
  form.career-form select{
    font-size: 13px;
    height: 58px;
  }
  #footer{
    padding: 18px 0 0;
  }
  ul.footer-nav{
    margin-bottom: 12px;
  }
  ul.footer-nav > li{
    padding: 0 7px;
  }
  ul.footer-nav > li, ul.footer-nav > li > a{
    font-size: 10px;
  }
  .contact-page-head, .career-page-head{
    font-size: 50px;
    margin-bottom: 70px;
  }
  .open-positions h3{
    font-size: 30px;
  }
  .open-positions {
    margin: 50px 0;
  }
  .slide-info > h1{
    font-size: 45px;
  }
  .slide-info > p{
    font-size: 15px;
  }
  .slide-info > .slide-btn{
    padding: 8px 5px;
    width: 150px;
    font-size: 10px;
    height: 45px;
  }
  .bxslider .slide-info.top-left{
    top: 1.5em;
  }
  .bxslider .slide-info.top-right{
    top: 1.5em;
    right: 6em;
  }
  .bxslider .slide-info.bottom-left{
    bottom: 1.5em;
  }
  .bxslider .slide-info.bottom-right{
    bottom: 1.5em;
    right: 6em;
  }
  .home-career-overlay{
    width: 450px;
    background-size: contain;
  }
  .nail-shapes-service h1, .manicure-block h1, .mani h1, .add-ons h1, .brows h1, .for-him h1{
    font-size: 60px;
  }
  .nail-service-col > img {
    height: 185px;
    max-height: 185px;
    margin-bottom: 33px;
  }
  .nail-service-col h2{
    font-size: 31px;
  }
  .manicure-image{
    width: 48%;
  }
  .list_item ul li h6, .list_item ul li .price span{
    font-size: 16px;
  }
  .manicure-content{
    width: 50%;
  }
  .mani-padi{
    width: 95%;
  }
  .mani{
    margin-right: 3%;
  }
  .add-ons{
    width: 53%;
  }
  .add-ons h6, .body-wax-price h6{
    font-size: 15px;
  }
  .add-ons h6, .add-ons p, .body-wax-price p{
    font-size: 14px;
  }
  ul.addons{
    padding: 0 10px;
  }
  .brows h6, .him-body-waxing h6{
    font-size: 15px;
  }
  .purpose-content-image-clean{
    width: 47%;
  }
  .purpose-content-detail-clean{
    width: 48%;
  }
  .purpose-content h2{
    font-size: 30px;
    line-height: normal;
  }
  .purpose-content p{
    font-size: 16px;
  }
  .purpose-content-about-you{
    padding-top: 10px;
  }
  .purpose-content h6{
    margin-bottom: 40px;
  }
}
@media (max-width: 990px){
  .sticky-default-header, .sticky {
    padding: 0 15px;
  }
  .sticky .logo, .sticky-default-header .default-logo{
    margin: 0;
  }
}
@media (min-width: 768px){
  .default-header{
    position: fixed;
    z-index: 99;
    background: #fff;
  }
  #body{
    padding-top: 58px;
  }
}
@media (max-width: 768px) {
  .home-mobile-logo{
    width: 100%;
    text-align: center;
    margin-left: 0;
    position: absolute;
    left: 0;
    z-index: 1;
    display: inline-block;
  }
  .default-logo{
    display: none;
  }
  .logo{
    display: none;
  }
  .default-header{
    padding: 0;
  }
  .mobile-top-social-menu li img{
    height: 15px;
  }
  #home-body .carousel .bx-wrapper{
    margin: 0 auto;
  }
  #home-body .carousel #bx-pager{
    position: inherit;
  }
  .bx-wrapper .bx-viewport{
    max-height: inherit!important;
  }
  .location-detail-carousel .bx-wrapper img{
    max-width: 100%;
  }
  .head-container .main-nav-mobile{
    position: relative;
    top: 58px;
  }
  .social_bar{
    padding: 0 0 15px;
    background: #fff;
  }
  .mobile-top-social-menu{
    display: inline-block;
    float: right;
    padding-right: 15px;
    position: relative;
    z-index: 99;
  }
  .top_social_menu{
    display: none;
  }
  .mobile-top-social-menu li.giftcard{
    display: none;
  }
  .mobile-top-social-menu > ul > li{
    margin: 0 3px;
    padding: 24px 0 0;
  }
  .home-mobile-logo>a{
    display: inline-block;
    margin-top: 16px;
  }
  .subscribe-block{
    display: none;
  }
  .menu-toggle, .default-menu-toggle{
    display: inline-block;
    padding-left: 15px;
    width: 40px;
    float: left;
    position: relative;
    z-index: 99;
  }
  .head-container{
    width: 100%;
  }
  nav.main-nav{
    display: none;
    margin-top: 0;
    text-align: left;
  }
  nav.main-nav-mobile > ul > li{
    display: block;
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    background: #f0eeed;
  }
  nav.main-nav-mobile > ul > li:last-child{
    border-bottom: 0;
  }
  nav.main-nav-mobile > ul > li > a{
    border-bottom: 0;
    display: block;
    font-size: 15px;
    padding: 11px 0 10px 15px;
  }
  nav.main-nav-mobile > ul > li:hover > a{
    border-bottom: 0;
  }
  nav.main-nav-mobile>ul>li:hover > .sub-menu{
    display: none;
  }
  nav.main-nav-mobile .sub-menu{
    display: none;
    position: relative;
    width: 100%;
    border: 0;
    padding: 0;
    left: 0;
  }
  nav.main-nav-mobile .sub-menu>li:last-child>a{
    border-bottom: 0;
  }
  nav.main-nav-mobile .sub-menu a{
    padding: 11px 0 10px 30px;
    display: block;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-family: $futura-medium;
    border-bottom: 1px solid rgba(225, 225, 225, 0.56);
  }
  .main-nav-default{
    display: none;
  }
  .bxslider .slide-info{
    position: inherit;
    width: auto;
    text-align: center;
    margin: 10px auto 0;
  }
  .slide-info > .slide-btn{
    margin: 10px auto 0;
  }
  .bx-wrapper .bx-pager{
    bottom: -30px!important;
  }
  .home-service-col{
    width: 45%;
    margin-bottom: 20px;
    margin-right: 8%;
  }
  .home-service-col:nth-child(even){
     margin-right: 0;
  }
  .home-services{
    margin: 10px 0 40px;
  }
  .home-content-section{
    margin: 0 0 4em;
  }
  .home-gift-card-col{
    width: 98%;
  }
  .home-gift-card-col .home-gift-card-img{
    margin-top: 50px;
  }
  .home-career{
    margin-top: 50px;
    position: relative;
  }
  .home-career-overlay{
    right: 0;
  }
  #footer{
    padding: 0;
    margin-top: 1em;
  }
  .footer-container{
    width: 100%;
  }
  ul.footer-nav{
    text-align: left;
    margin: 0;
  }
  ul.footer-nav > li{
    display: block;
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    border-right: 0;
  }
  ul.footer-nav > li > a{
    font-size: 15px;
    display: block;
    color: #a6a6a6;
    padding: 17.5px 10px;
  }
  ul.footer-nav > li > p{
    font-size: 15px;
    color: #a6a6a6;
    padding: 17.5px 10px;
  }
  .home-service-col h4{
    font-size: 17px;
    word-wrap: break-word;
    line-height: 1.5em;
  }
  .main-nav-default .logo{
    display: none;
  }
  .main-nav-default nav.main-nav{
    display: none;
  }
  .main-mobile-nav .sub-menu{
    position: relative;
    width: 100%;
    border: 0;
    padding: 0;
    left: 0;
  }
  .career-form-div{
    width: 80%;
  }
  .main-mobile-nav .sub-menu a {
    padding: 11px 0 10px 53px;
    display: block;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-family: $futura-medium;
    border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    text-transform: uppercase;
  }
  .main-mobile-nav .sub-menu>li:last-child a{
    border-bottom: 0;
  }
  #mobile-region{
    width: 100%;
    padding: 0;
  }
  #mobile-region ul.regions{
    padding: 0 15px;
  }
  #nail-shape p{
    padding: 0;
  }
  section.all-location{
    width: 100%;
  }
  .location-list > li:nth-child(odd){
    border-left: 0;
  }
  .location-list > li{
    width: 100%;
    padding: 0;
    min-height: inherit;
    max-height: inherit;
    margin: 0 0 2em;
    border: 0;
  }
  .location-list > li img{
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow: hidden;
  }
  .location-list > li p, .location-list > li h5, .location-list .location-links{
    padding: 0 15px;
  }
  .location-list > li:last-child{
    margin-bottom: 0;
  }
  .location-list > li .fix-height-loc-head, .location-list > li .adrs-height{
    height: auto;
  }
  .location-detail-head{
    font-size: 30px;
    margin-top: 10px;
  }
  .img-count li img{
    max-width: 100%!important;
  }
  .store-info, .store-description, .manicure-content, .manicure-image, .mani, .add-ons{
    width: 100%;
  }
  .store-description{
    margin-left: 0;
    margin-top: 25px;
  }
  .nail-service-col{
    width: 50%;
    text-align: center;
    min-height: 280px;
    margin-right: 0;
  }
  .nail-service-col > img{
    height: 185px;
    max-height: 185px;
    margin-bottom: 20px;
  }
  .nail-services .nail-service-col:nth-child(even){
    margin-right: 0;
  }
  .nail-service-col h2{
    font-size: 30px;
  }
  .nail-service-col p{
    font-size: 13px;
    margin-bottom: 0;
  }
  .manicure-content .col-six, .add-ons .col-six, .for-him, .brows, .nail-shapes-service .col-six{
    width: 100%;
  }
  .manicure-block, #mani-pedis, #waxing{
    padding-top: 50px;
  }
  .download-service-menu{
    border-top: 1px solid #dac2cf;
  }
  .for-him{
    padding-left: 0;
    padding-top: 55px;
  }
  .career-form .col-six, .contact-form .col-six{
    width: 100%;
  }
  .open-positions-detail h3{
    font-size: 20px;
  }
  .career-page-head, .contact-page-head{
    font-size: 40px;
    margin: 50px 0;
  }
  .career-form .col-five, .career-form .col-seven{
    width: 100%;
  }
  .career-form .err, .career-form .email-err{
    bottom: -19px!important;
  }
  form.career-form input[type="text"], form.career-form input[type="email"], form.career-form input[type="number"]{
    margin-bottom: 10px;
  }
  form.career-form label.resume-label{
    margin-bottom: 10px;
  }
  .fileupload .err{
    bottom: -35px!important;
  }
  .about-page-content h3{
    font-size: 35px;
  }
  .banner-contact{
    width: 80%;
  }
  .manicure-block{
    margin-top: 0;
  }
  .mani-padi{
    margin: 0 auto 0;
  }
  .mani{
    padding-top: 20px;
  }
  .add-ons{
    padding-top: 25px;
    height: 390px;
  }
  .brows{
    margin-top: 20px;
  }
  .purpose-content{
    padding: 40px 27px 15px 35px;
  }
  .purpose-page-head{
    margin: 30px 0;
    font-size: 40px;
  }
  .purpose-start-info{
    width: 55%;
  }
  .purpose-content-about-you, .purpose-content-image-clean, .purpose-content-detail-clean, .purpose-content-about-you-image{
    width: 100%;
  }
  .beauty{
    margin-top: 10em;
  }
  .mani-padi{
    width: 80%;
  }
  #pedicure .manicure-image, #waxing .manicure-image{
    margin-bottom: 20px;
  }
  .manicure-image{
    text-align: center;
  }
  .service-container{
    width: 100%;
  }
  .service-container .row{
    margin: 0;
  }
  .wax-list{
    padding: 0;
  }
  .service-container h1, .service-container p{
    padding: 0 15px;
  }
  .list_item ul li h6{
    padding-left: 15px;
  }
  .list_item ul li{
    background-position: 97% 20px;
    padding: 12px 0;
  }
  .list_item ul li .price{
    padding-right: 15px;
  }
  .list_item ul li.open{
    background-position: 97% 20px;
  }
  .body-wax-price{
    padding: 0 15px;
  }
  .brows h6, .him-body-waxing h6, .for-him h6{
    padding-left: 15px;
  }
  .nail-shapes-service{
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .press-list>.col-six, .press-bottom .col-six{
    width: 100%;
  }
  .press-list > li:nth-child(odd){
    border: 0;
  }
  .thanks-msg1{
    margin-top: 50px;
  }
  .thanks-msg{
    font-size: 25px;
    padding: 0 15px;
    line-height: initial;
  }
  .location-container{
    width: 100%;
  }
  form.search-by-zip{
    padding: 35px 15px;
  }
  .gift-card-container{
    width: 100%;
  }
  .gift-card-container .row{
      margin-left: 0;
    margin-right: 0;
  }
  .steap-1 .col-six, .step-2 .col-six, .step-3 .col-six{
    width: 100%;
  }
  .steap-1 .gift-cards{
    margin-bottom: 20px;
    padding: 0;
  }
  .step-2 .amount-quantity, .step-3 .card-selected{
    margin-bottom: 20px;
  }
  .gift-step{
    font-size: 100px;
  }
  .gift-step-title{
    font-size: 12px;
  }
  .preview-card p{
    font-size: 10px;
  }
  .send-myself-checkbox{
    padding: 0 30px;
  }
  .career-page-content{
    margin-bottom: 0;
  }
  .open-positions, .open-positions-detail{
    margin: 20px 0;
  }
  .news-container{
    width: 100%;
  }
  .news-list .col-six{
    width: 100%;
  }
  .news-list .news{
    margin-bottom: 30px;
    padding: 0;
  }
  .news-page-head{
    margin: 20px 0 30px;
    font-size: 40px;
  }
  .news-list{
    margin-left: 0;
    margin-right: 0;
  }
  .news-list .news p{
    padding: 0 15px;
    margin-bottom: 0;
  }
  .news-list .news .news-title{
    padding: 0 15px;
    font-size: 26px;
  }
  .preview-card{
    width: 70%!important;
    border-radius: 3px;
    left: 13%!important;
    padding-top: 2em!important;
  }
  .preview-card h1{
    font-size: 25px!important;
  }
  .preview-card .card-selected-img{
    width: 150px!important;
    margin-bottom: 15px!important;
  }
  .preview-card p.message{
    padding: inherit!important;
    margin-bottom: 0!important;
  }
  .preview-card .book-appointment{
    margin: 15px auto!important;
  }
  .page-heading{
    margin: 40px auto;
  }
  .terms-container{
    width: 80%;
  }
  .contact-form{
    width: 75%;
    margin-top: 45px;
  }
}
@media (max-width: 480px){
  form.career-form input[type="text"], form.career-form input[type="email"], form.career-form input[type="number"]{
    font-size: 13px;
    height: 40px;
    margin-bottom: 20px;
  }
  form.career-form select, form.contact-us select{
    font-size: 13px;
    height: 40px;
    margin-bottom: 20px;
  }
  .career-form button[type="submit"], form.contact-us button{
    width: 206px;
    font-size: 14px;
    height: 50px;
  }
  form.contact-us input[type="text"], form.contact-us input[type="email"], form.contact-us input[type="number"]{
    font-size: 13px;
    height: 40px;
    margin-bottom: 28px;
  }
  form.contact-us textarea{
    font-size: 13px;
  }
  .enquiry-block h2{
    font-size: 27px;
    margin-bottom: 0;
  }
  form.search-by-zip input[type="text"]{
    width: 200px;
    font-size: 12px;
    padding: 5px 8px;
  }
  form.search-by-zip button{
    width: 85px;
    font-size: 12px;
  }
  .purpose-start-info{
    width: 70%;
  }
}
@media (max-width: 420px) {
  .bx-wrapper{
    margin: 0 auto 30px;
  }
  .home-gift-card-content h1{
    font-size: 40px;
  }
  .home-service-col{
    margin-bottom: 10px;
  }
  .home-service-col h4{
    font-size: 14px;
    word-wrap: break-word;
    line-height: 1.5em;
  }
  .home-services{
    margin: 10px 0 0;
  }
  .home-service-heading{
    margin-bottom: 5px;
    padding-bottom: 20px;
  }
  .home-gift-card-col .home-gift-card-img{
    margin-top: 30px;
  }
  .home-career-overlay{
    width: 420px;
    height: 214px;
    background-size: cover;
  }
  .home-career .home-gift-card-content{
    width: 100%;
  }
  .home-mobile-logo{
    width: 100%;
    text-align: center;
    margin-left: 0;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .home-career{
    margin-top: 20px;
  }
  .mobile-top-social-menu > ul > li{
    margin: 0 2px;
  }
  .location-list > li{
    width: 100%;
    border: 0;
    padding: 0;
  }
  .home-career .home-gift-card-content h1{
    width: 100%;
  }
  .home-gift-card-content{
    width: 100%;
  }
  .nail-shapes-service h1, .manicure-block h1, .mani h1, .add-ons h1, .brows h1, .for-him h1{
    font-size: 40px;
  }
  .nail-service-col h2{
    font-size: 25px;
  }
  .pedicure-content{
    position: relative;
    //height: 1400px;
  }
  #nail-shape p, #nail-shape h1, #nail-shape .row .col-six{
    padding: 0;
  }
  .manicure-content .list_item{
    margin-top: 1em;
  }
  .add-ons{
    height: inherit;
  }
  ul.addons{
    -moz-column-count: 1;
    -moz-column-gap: 2em;
    -webkit-column-count: 1;
    -webkit-column-gap: 1em;
    column-count: 1;
    column-gap: 2em;
  }
  .add-ons h6, .body-wax-price h6{
    font-size: 13px;
  }
  .career-page-head, .contact-page-head{
    font-size: 30px;
    margin: 15px 0;
    line-height: normal;
  }
  .open-positions h3{
    font-size: 25px;
  }
  .open-positions-detail h3{
    font-size: 20px;
    line-height: 1.2em;
  }
  .career-form .err, .career-form .email-err{
    bottom: -9px !important;
  }
  .fileupload .err{
    bottom: -30px!important;
  }
  .about-page-content{
    width: 75%;
  }
  .about-page-content p{
    font-size: 14px;
  }
  .about-page-content h3{
    font-size: 25px;
    line-height: normal;
  }
  .about-page-content h6{
    font-size: 15px;
  }
  .terms-container h3{
    font-size: 25px;
    line-height: 1.5em;
  }
  .terms-container h6{
    font-size: 20px;
  }
  ul.addons, .add-ons{
    padding: 0 15px;
  }
  .step-3 .send-myself-checkbox{
    margin-bottom: 15px;
  }
  .service-block ul li .col-six{
    width: 50%;
  }
  .service-dropdown .service-block ul li{
    font-size: 10px;
  }
  .squaredOne{
    padding: 0 15px;
  }
  .subscribe-form-block h4{
    font-size: 25px;
  }
  .preview-card .close-subscribe-popup{
    top: 1px!important;
    right: 1px!important;
  }
  .submit-cntct-btn{
    text-align: center;
  }
  .location-detail-carousel .bx-wrapper{
    margin: 0 auto 20px;
  }
  .location-detail-head{
    margin-top: 0;
  }
  .img-count li img{
    max-width: 100%;
  }
}