// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

//@import "bootstrap/bootstrap";
//@import "fonts";
// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";
//@import "site/reset";

// Site Styles
// ===========

$primary-color: #704C61;
$secondary-color:  #EF9D8D;
$futura-bold : "futura_md_btbold";
$futura-light : "futura_lt_btlight";
$futura-medium : "futura_md_btmedium";
$vanitas-bold : "vanitas_bold";
$vanitas-regular : "vanitasregular";


// Add your own site style includes here
@import "components/common";
@import "components/footer";
@import "components/top_bar";
@import "components/nav";
@import "components/header";
@import "components/slider";
@import "components/home";
@import "components/subscribe";
@import "components/booking";
@import "components/location";
@import "components/news";
@import "components/about";
@import "components/career";
@import "components/contact";
@import "components/gift";
@import "components/pedicure";
@import "components/privacy";
@import "components/purpose";
@import "components/service";
@import "components/terms";
@import "components/menu";
@import "site/responsive";

// FONTS
@import "fonts/futura_light/stylesheet";
@import "fonts/futura_medium/stylesheet";
@import "fonts/futura_bold/stylesheet";
@import "fonts/vanitas_regular/stylesheet";
@import "fonts/vanitas_bold/stylesheet";

// VENDOR
@import "site/jquery.bxslider";