@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer; }

/* Bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
textarea {
  overflow: auto; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0; }

/* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin-bottom: 20px; }

/* Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre,
code,
kbd,
samp {
  font-family: 'futura_lt_btlight'; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  outline: none; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* 1.1 Defaults */
html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  line-height: 24px;
  color: #414141;
  /* background: #f1f1f1;*/
  font-family: 'futura_lt_btlight';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

img {
  vertical-align: bottom;
  max-width: 100%; }

hr {
  background-color: #e6e6e6;
  border: 0;
  height: 1px;
  margin-bottom: 1.618em; }

::selection {
  background: #efefef;
  /* Safari */ }

::-moz-selection {
  background: #ffb7b7;
  /* Firefox */ }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 1.2 Hyperlinks */
a {
  color: #704c61;
  text-decoration: none; }

/* 1.3 Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #424242;
  margin: 0 0 .53em;
  font-weight: normal; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none; }

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline; }

h1 {
  font-size: 46px;
  line-height: 60px; }

h2 {
  font-size: 44px;
  line-height: 58px; }

h3 {
  font-size: 42px;
  line-height: 52px; }

h4 {
  font-size: 34px;
  line-height: 46px; }

h5 {
  font-size: 28px;
  line-height: 38px; }

h6 {
  font-size: 22px;
  line-height: 28px; }

p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  orphans: 3;
  widows: 3; }

ul,
ol,
dl,
p,
table,
form,
pre,
hr {
  margin: 0 0 1.618em 0; }

li > ul,
li > ol {
  margin: 0 0 0 1.618em; }

dl dt {
  font-weight: bold; }

dl dd {
  margin-bottom: 1.618em; }

/* 1.4 Tables */
table {
  width: 100%; }

::selection {
  background: #704c61;
  /* WebKit/Blink Browsers */
  color: #fff; }

::-moz-selection {
  background: #704c61;
  /* Gecko Browsers */
  color: #fff; }

a {
  text-decoration: none; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

ul.list-inline > li {
  display: inline-block; }

ul.list-unstyled > li {
  list-style: none; }

.container, .head-container, .footer-container {
  width: 80%;
  max-width: 1170px;
  margin: 0 auto; }

.container:before, .container:after, .footer-container:before, .footer-container:after {
  content: " ";
  display: table; }

.row {
  display: block;
  clear: both;
  margin-right: -15px;
  margin-left: -15px;
  position: relative; }

.row:after,
.clearfix:after {
  display: table;
  content: " ";
  clear: both; }

[class*="col-"] {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left; }

.col-one {
  width: 8.33333%; }

.col-two {
  width: 16.66667%; }

.col-three {
  width: 25%; }

.col-four {
  width: 33.33333%; }

.col-five {
  width: 41.66667%; }

.col-six {
  width: 50%; }

.col-seven {
  width: 58.33333%; }

.col-eight {
  width: 66.66667%; }

.col-nine {
  width: 75%; }

.col-ten {
  width: 83.33333%; }

.col-eleven {
  width: 91.66667%; }

.col-twelve {
  width: 100%; }

#body {
  min-height: 31em; }

.ga img {
  display: none; }

select::-ms-expand {
  display: none; }

section#locations, section#book-an-appointment, #download-menu, section#purpose-description {
  max-width: 720px;
  margin: 80px auto;
  text-align: center; }
  section#locations h1, section#book-an-appointment h1, #download-menu h1, section#purpose-description h1 {
    color: #704C61;
    font-size: 3.6em;
    font-weight: 500;
    font-family: "vanitasregular", "sans-serif";
    margin-bottom: 50px; }
  section#locations p, section#book-an-appointment p, #download-menu p, section#purpose-description p {
    color: #704C61;
    font-weight: 600;
    letter-spacing: 1.3px;
    font-size: 19px;
    line-height: 1.5em;
    margin: 0; }

#download-menu a {
  padding: 11px 5px;
  color: #704860;
  letter-spacing: 1.2px;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%) 1;
  display: block;
  width: 210px;
  height: 51px;
  margin: 130px auto 100px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  font-family: "futura_md_btbold"; }

#banner-locations, #banner-book-an-appointment, #banner-services {
  background-size: cover;
  width: 100%;
  height: 468px; }

#footer {
  padding: 24px 0 0;
  color: #b8b8b8;
  background: #EEEDEB;
  margin-top: 7em; }

ul.footer-nav {
  margin-bottom: 20px; }

ul.footer-nav > li {
  padding: 0px 22px;
  border-right: 1px solid #704C61;
  line-height: 1em; }

ul.footer-nav > li, ul.footer-nav > li > a {
  color: #704c61;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-family: "futura_md_btmedium"; }

ul.footer-nav > li > p {
  margin-bottom: 0; }

ul.footer-nav > li:last-child {
  border: 0;
  padding-right: 0; }

.social_bar {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box; }

.social_bar a {
  color: #704c61;
  text-transform: uppercase; }

.subscribe-block {
  display: inline-block;
  position: relative; }

.subscribe-block a {
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 16px;
  padding: 17px 0 17px;
  display: block;
  font-family: "futura_md_btmedium"; }

.err, .email-err {
  opacity: 0;
  position: absolute;
  bottom: -13px;
  background: rgba(112, 76, 97, 0.92);
  color: #fff;
  border: 1px solid rgba(112, 76, 97, 0.74);
  padding: 1px 5px;
  right: 15px;
  transition: all 0.5s; }

.subscribe-popup .err, .subscribe-popup .email-err {
  bottom: 0; }

.err-get {
  opacity: 1;
  z-index: 9; }

.red-brdr {
  border: 1px solid #704C61 !important; }

.mobile-top-social-menu {
  display: none; }

.top_social_menu {
  display: inline-block;
  float: right; }

.top_social_menu > ul, .mobile-top-social-menu > ul {
  margin-bottom: 0; }

.top_social_menu > ul > li, .mobile-top-social-menu > ul > li {
  display: inline-block;
  line-height: 1;
  margin: 0 5px;
  padding: 16px 0 0; }

.top_social_menu > ul > li:first-child {
  position: relative;
  top: 1px;
  margin-right: 10px;
  font-family: "futura_md_btmedium"; }

.top_social_menu > ul > li:first-child a {
  font-size: 14px;
  letter-spacing: 1.3px; }

.logo {
  text-align: center;
  width: 114px;
  margin: 11px auto 30px; }

nav.main-nav {
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  background: #fff; }

nav.main-nav-mobile {
  display: none;
  width: 100%; }

nav.main-nav > ul, nav.main-nav-mobile > ul {
  margin-bottom: 0; }

nav.main-nav > ul > li {
  display: inline-block;
  margin: 0 5px;
  position: relative; }

nav.main-nav-mobile > ul > li > a {
  padding: 10px 0 11px;
  font-family: "futura_md_btmedium";
  font-size: 14px;
  color: #704C61;
  letter-spacing: 0.8px;
  margin: 0;
  display: inline-block;
  text-transform: uppercase; }

nav.main-nav > ul > li > a {
  padding: 14px 0 13px;
  font-family: "futura_md_btmedium";
  font-size: 14px;
  color: #704C61;
  letter-spacing: 0.8px;
  margin: 0 23px;
  display: inline-block;
  border-bottom: 3px solid #fff; }

nav.main-nav > ul > li:hover > a {
  border-bottom: 3px solid #704C61; }

nav.main-nav > ul > li:hover > .sub-menu {
  display: block; }

.sub-menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.94);
  z-index: 99;
  margin: 0;
  display: none;
  text-transform: capitalize;
  width: 140px;
  list-style: none;
  text-align: left;
  padding: 5px 0 18px 33px;
  left: -12px;
  border: 1px solid rgba(221, 219, 218, 0.52); }

.sub-menu a {
  color: #9c9c9c;
  padding: 3px 0 2px;
  display: block;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: capitalize; }

.sub-menu a:hover {
  color: #c39288; }

nav.main-nav > ul > li > a.book-appointment {
  /*background: -webkit-linear-gradient(top, #b97568, #fbb9a8);
  background: linear-gradient(top, #b97568, #fbb9a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: #EF9D8D; }

/* Default Header */
.default-header {
  background: #fff; }
  .default-header .subscribe-block {
    width: 79px; }
  .default-header .subscribe-block a {
    padding: 21px 0 21px; }
  .default-header .top_social_menu > ul > li:first-child {
    margin-left: 0; }
  .default-header .top_social_menu > ul > li:last-child {
    margin-right: 0; }
  .default-header .top_social_menu > ul > li {
    padding: 20px 0 0; }
  .default-header .subscribe-block .subscribe-form-block {
    top: 56px; }

.default-logo {
  display: inline-block;
  float: left; }
  .default-logo a {
    display: inline-block;
    padding-top: 11px; }

.sticky-default-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  opacity: 0; }

.sticky-default-header.glow {
  opacity: 1;
  transition: all 0.5s; }

.sticky-default-header .subscribe-block {
  display: none; }

.sticky-default-header .main-nav-default nav.main-nav {
  margin-top: 4px;
  margin-bottom: 0; }

.sticky-default-header .default-logo a {
  padding-top: 13px; }

.main-nav-default {
  display: inline-block;
  width: calc(100% - 300px);
  margin: 0 auto;
  text-align: center; }

.main-nav-default nav.main-nav {
  display: inline-block;
  margin-top: 0; }

.main-nav-default nav.main-nav > ul > li > a {
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  margin: 5px 18px 0;
  padding: 12px 0 14px;
  display: inline-block; }

.main-nav-default nav.main-nav > ul > li > a:hover {
  border-bottom: 3px solid #704C61; }

.main-nav-default nav.main-nav > ul > li > a.active {
  border-bottom-color: #704C61; }

.default-header .top_social_menu > ul {
  margin-bottom: 0; }

.head-container .top_social_menu {
  display: none; }

/*Sticky header*/
.sticky {
  width: 100%;
  max-width: none;
  padding: 0 50px;
  z-index: 999;
  position: fixed;
  top: 0;
  background: #fff;
  visibility: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: opacity 0.5s linear;
  opacity: 0; }
  .sticky.glow {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s; }
  .sticky nav.main-nav {
    margin-top: 4px;
    display: inline-block;
    width: calc(100% - 300px); }
  .sticky .logo a {
    padding-top: 13px;
    display: inline-block; }
  .sticky .logo {
    float: left;
    margin: 0;
    display: inline-block;
    width: auto; }
  .sticky .top_social_menu {
    display: block;
    text-transform: uppercase; }
  .sticky .top_social_menu > ul > li:first-child {
    margin-left: 0; }
  .sticky .top_social_menu > ul > li:last-child {
    margin-right: 0; }
  .sticky .top_social_menu > ul > li {
    padding: 20px 0 0; }
  .sticky .logo-i {
    display: none; }

.head-container .logo a {
  padding-top: 13px;
  display: inline-block; }

.bxslider .slide-info {
  position: absolute;
  width: 350px;
  padding: 15px; }

.bxslider .slide-info.top-left {
  top: 2em; }

.bxslider .slide-info.top-right {
  top: 2em;
  right: 6em; }

.bxslider .slide-info.bottom-left {
  bottom: 2em; }

.bxslider .slide-info.bottom-right {
  bottom: 2em;
  right: 6em; }

.slide-info > h1 {
  line-height: 1em;
  font-size: 60px;
  color: #704C61;
  font-family: "vanitasregular";
  margin-bottom: 24px; }

.slide-info > p {
  margin-bottom: 0;
  font-size: 18px;
  color: #704C61; }

.slide-info > .slide-btn {
  padding: 10px 5px;
  display: block;
  width: 160px;
  text-align: center;
  color: #704C61;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  font-family: "futura_md_btbold";
  margin-top: 19px;
  font-size: 12px;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.2px; }

.home-services {
  margin: 20px 0 42px; }

.home-service-heading {
  font-size: 18px;
  color: #704C61;
  padding-bottom: 25px;
  font-family: "futura_md_btmedium";
  letter-spacing: 1.8px;
  margin-bottom: 25px; }

.home-service-col {
  float: left;
  display: inline-block;
  width: 22%;
  margin-right: 4%; }

.row .home-service-col:last-child {
  margin-right: 0; }

.home-service-col > a {
  display: block; }

.home-service-col > a > .home-service-icon {
  min-height: 190px; }

.home-service-col > a > .home-service-icon > img {
  max-height: 190px; }

.home-service-col h4 {
  font-size: 28px;
  color: #704c61;
  text-transform: uppercase;
  font-family: "vanitas_bold";
  letter-spacing: 2px;
  margin-top: 25px; }

.home-content-section {
  margin: 0 0 4em; }

.home-gift-card-col {
  float: left;
  display: inline-block;
  width: 48%;
  margin-right: 4%;
  position: relative; }

.home-career-overlay {
  background: url("../images/overlay.png") no-repeat;
  width: 531px;
  height: 239px;
  position: absolute;
  right: -4em;
  opacity: 0.8;
  bottom: 13.3em;
  z-index: 9; }

.row .home-gift-card-col:last-child {
  margin-right: 0; }

.home-gift-card-content {
  width: 310px;
  margin: 0 auto; }

.home-career .home-gift-card-content {
  width: 432px;
  position: relative;
  z-index: 9; }

.home-gift-card-content h4 {
  color: #704c61;
  font-size: 16px;
  letter-spacing: 1.4px;
  margin: 1px 0 3px;
  font-family: "futura_md_btmedium"; }

.home-gift-card-content h1 {
  margin: 5px auto 21px;
  font-size: 60px;
  text-transform: uppercase;
  font-family: "vanitasregular";
  color: #704860;
  line-height: 0.9em;
  letter-spacing: 1.5px; }

.home-career .home-gift-card-content h1 {
  width: 350px; }

.home-gift-card-content p {
  font-size: 14px;
  color: #704C61;
  line-height: 18px;
  letter-spacing: 0.8px;
  margin-bottom: 21px; }

.home-gift-card-content .gift-card-btn {
  padding: 11px 5px;
  color: #704860;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-family: "futura_md_btbold";
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  display: block;
  width: 175px;
  height: 51px;
  margin: 0 auto;
  text-transform: uppercase; }

.home-gift-card-col .home-gift-card-img {
  margin-top: 104px;
  overflow: hidden; }

.home-career .home-gift-card-img {
  margin-top: 0;
  margin-bottom: 60px; }

.subscribe-form-block {
  padding: 15px 15px 0;
  box-shadow: 0px 0px 2px #bbb;
  display: none; }

.subscribe-form-block h4 {
  line-height: inherit;
  text-transform: uppercase;
  color: #704c61;
  font-family: "vanitasregular";
  margin: 0 0 10px;
  font-size: 30px; }

.subscribe-form-block p {
  margin-bottom: 5px;
  color: #704C61;
  font-family: "futura_md_btmedium";
  font-size: 13px;
  letter-spacing: 0.49px;
  opacity: 0.7; }

.subscribe-form-block input[type="text"], .subscribe-form-block input[type="email"], .subscribe-form-block input[name="MMERGE3"] {
  height: 41px;
  width: 250px;
  padding: 2px 20px;
  margin-bottom: 15px;
  font-size: 13px;
  letter-spacing: 0.49px;
  color: #704C61;
  background: #EDECEA;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "futura_md_btmedium";
  opacity: 0.7; }

.subscribe-form-block input[type="submit"] {
  width: 156px;
  font-size: 14px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #704c61;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 9px 0 6px;
  font-family: "futura_md_btmedium";
  outline: 0;
  letter-spacing: 1.4px; }

.subscribe-block .subscribe-form-block {
  position: absolute;
  display: none;
  background: #fff;
  width: 562px;
  top: 18px;
  z-index: 9; }

.subscribe-block .subscribe-form {
  margin: 1em 0 0; }

.subscribe-btn:hover + .subscribe-form-block {
  display: block; }

.subscribe-form-block:hover {
  display: block; }

.subscribe-form .brthday {
  color: #704C61;
  background: #EDECEA;
  width: 250px;
  height: 41px; }

.subscribe-form .brthday > p {
  float: left;
  padding: 8px 19px;
  margin-bottom: 0;
  opacity: 0.7; }

.subscribe-form .brthday select {
  display: inline-block;
  width: 67px;
  color: #704C61;
  background: #EDECEA;
  border: 0;
  padding: 10px 12px 9px;
  height: 41px;
  outline: none;
  font-family: "futura_md_btmedium";
  font-size: 13px;
  letter-spacing: 0.49px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  position: relative;
  opacity: 0.6; }

.subscribe-form .brthday .sel-box {
  position: relative;
  width: 67px;
  display: inline-block; }

.subscribe-form .brthday .sel-box .err-get {
  opacity: 1;
  bottom: -15px;
  width: 150px;
  right: 15px; }

/*Subscribe Popup*/
.subscribe-popup .subscribe-form .brthday .sel-box .err {
  bottom: -28px; }

.subscribe-form .brthday .sel-box .err {
  width: 150px;
  bottom: -28px; }

.subscribe-form .brthday .sel-box:before {
  position: absolute;
  content: '';
  border-width: 5px 4px 0 4px;
  border-style: solid;
  border-color: #704C61 transparent;
  right: 0;
  top: 46%;
  opacity: 0.7; }

.subscribe-form-block input[type="text"]::-webkit-input-placeholder, .search-by-zip input[type="text"]::-webkit-input-placeholder, .subscribe-form-block input[type="email"]::-webkit-input-placeholder {
  color: #704C61; }

.subscribe-form-block input[type="text"]::-moz-placeholder, .search-by-zip input[type="text"]::-webkit-input-placeholder, .subscribe-form-block input[type="email"]::-webkit-input-placeholder {
  /* Firefox 18- */
  color: #704C61; }

.subscribe-form-block input[type="text"]::-moz-placeholder, .search-by-zip input[type="text"]::-webkit-input-placeholder, .subscribe-form-block input[type="email"]::-webkit-input-placeholder {
  /* Firefox 19+ */
  color: #704C61; }

.subscribe-form-block input[type="text"]:-ms-input-placeholder, .search-by-zip input[type="text"]::-webkit-input-placeholder, .subscribe-form-block input[type="email"]::-webkit-input-placeholder {
  color: #704C61; }

.subscribe-form-block input[type="number"]::-webkit-input-placeholder {
  color: #704C61; }

.subscribe-form-block input[type="number"]::-moz-placeholder {
  /* Firefox 18- */
  color: #704C61; }

.subscribe-form-block input[type="number"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #704C61; }

.subscribe-form-block input[type="number"]:-ms-input-placeholder {
  color: #704C61; }

#subscribe-form2 .brthday select {
  height: 50px; }

.subscribe-popup {
  position: absolute;
  top: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  height: 600px;
  overflow: auto;
  padding-bottom: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s; }

.subscribe-popup-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  z-index: 999; }

.subscribe-popup > .subscribe-form-block .sub-btn-popup {
  text-align: center; }

.subscribe-popup > .subscribe-form-block .sub-btn-popup > input[type="submit"] {
  display: inline-block; }

.subscribe-popup > .subscribe-form-block {
  box-shadow: none; }

.close-subscribe-popup {
  width: 30px;
  cursor: pointer; }

.subscribe-popup .subscribe-form-block .col-half {
  width: 100%;
  margin: 0 auto; }

.subscribe-popup .subscribe-form-block input[type="text"], .subscribe-popup .subscribe-form-block input[type="email"], .subscribe-popup .subscribe-form-block input[type="number"] {
  width: 100%;
  margin-bottom: 30px;
  height: 50px; }

.subscribe-popup .subscribe-form-block input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.subscribe-popup .subscribe-form .brthday {
  width: 100%;
  margin-bottom: 30px;
  height: 50px; }

.subscribe-popup .subscribe-form .brthday > select {
  width: 80px;
  padding: 15px 12px 9px; }

.subscribe-popup .subscribe-form .brthday > p {
  padding: 12px 19px; }

.banner-booking {
  width: 100%; }

.banner-booking img {
  width: 100%; }

.booking-section {
  margin-top: 40px;
  border-top: 1px solid #EDECEA;
  padding-top: 15px; }

.booking_iframe {
  width: 100%;
  height: 700px;
  padding-top: 30px;
  border: 1px solid #bbb;
  border-radius: 2px; }

.location-select {
  margin-top: 2em; }

.location_head {
  font-size: 20px;
  text-transform: uppercase;
  color: #704c61;
  font-family: "futura_md_btmedium"; }

.location-select .select_location select {
  width: 100%;
  height: 60px;
  padding: 2px 20px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #704c61;
  background: #EDECEA url(../images/icon_dropdown.png) no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "futura_lt_btlight";
  webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center; }

.booking_section > p {
  text-transform: uppercase;
  color: #704c61;
  font-family: "futura_md_btmedium"; }

#banner-book-an-appointment {
  background: url(/images/bookanappointment.png) no-repeat center center; }

section#section-location-container div.location-container {
  padding-top: 20px;
  border-top: 1px solid #dddbda; }

.banner-location img {
  width: 100%; }

form.search-by-zip {
  padding: 46px 0 36px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 36px; }

form.search-by-zip input[type="text"] {
  color: #704C61;
  background: #EDECEA;
  border: 0;
  width: 300px;
  height: 36px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: "futura_md_btmedium";
  margin-right: 10px;
  letter-spacing: 1.4px; }

form.search-by-zip button {
  width: 156px;
  font-size: 13px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #704C61;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 7px 0;
  font-family: "futura_md_btmedium";
  outline: 0;
  letter-spacing: 1.5px; }

aside.side-filter {
  color: #704C61;
  font-family: "futura_md_btmedium";
  float: left;
  width: calc(100% - 880px);
  transition: all 0.5s; }

#mobile-region {
  display: none; }

aside.side-filter > h6 {
  color: #704C61;
  font-size: 14px;
  letter-spacing: 1.4px; }

aside.side-filter ul.regions > li {
  display: block;
  line-height: 2em; }

aside.side-filter ul.regions > li > a {
  font-size: 16px;
  color: #704C61;
  letter-spacing: 0.32px; }

aside.side-filter ul.regions > li > a.active {
  font-family: "futura_md_btbold"; }

section.all-location {
  float: right;
  width: 870px;
  transition: all 0.5s; }

.err-msg {
  color: #704C61;
  font-family: "vanitas_bold"; }

.location-list > li {
  float: left;
  width: 50%;
  list-style: none;
  color: #704C61;
  padding-left: 35px;
  margin: 0 0 3em 0;
  min-height: 427px;
  max-height: 427px;
  transition: width 0.4s; }

.location-list > li img {
  transition: width 0.4s;
  max-height: 250px;
  width: 100%; }

.location-list > li h5 {
  font-size: 16px;
  line-height: inherit;
  color: #704C61;
  margin-top: 10px;
  font-family: "futura_md_btbold";
  letter-spacing: 0.50px; }

.location-list > li .fix-height-loc-head {
  height: 155px;
  overflow: hidden; }

.location-list > li p {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: initial;
  font-family: "futura_md_btmedium"; }

.location-list .location-links {
  margin-left: 0; }

.location-list ul.location-links > li {
  display: inline-block;
  margin-right: 25px; }

.location-list ul.location-links > li.book-now > a {
  font-family: "futura_md_btbold"; }

.location-list ul.location-links > li > a {
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #704C61;
  line-height: initial; }

.location-list > li .adrs-height {
  height: 48px;
  overflow: hidden; }
  .location-list > li .adrs-height p {
    font-size: 16px;
    font-weight: 300;
    font-family: "futura_lt_btlight"; }

.location-list a p {
  font-size: 16px;
  font-weight: 300;
  font-family: "futura_lt_btlight"; }

.pagination > li {
  list-style: none;
  display: inline-block;
  margin: 0 10px; }

.pagination > li > a {
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-family: "futura_md_btmedium";
  font-size: 14px;
  border: 2px solid #fff; }

.pagination > li > a:hover {
  border: 2px solid #EDAC9C; }

.pagination > li.active > a {
  width: 26px;
  height: 26px;
  border: 2px solid #EDAC9C;
  display: inline-block;
  text-align: center;
  border-radius: 50%; }

/*Location Detail*/
.banner-location-detail {
  background: url("../images/location1_large.png");
  background-size: cover;
  width: 100%;
  height: 500px; }

.location-detail-carousel {
  margin-bottom: 20px; }

.location-detail-carousel .bx-wrapper li {
  background: #EEECEB; }

.location-detail-carousel .bx-wrapper img {
  max-width: 850px;
  margin: 0 auto;
  max-height: 550px; }

.location-detail-head {
  font-family: "vanitas_bold";
  font-size: 50px;
  color: #704C61;
  border-bottom: 1px solid #dddbda;
  padding-bottom: 14px; }

.store-info {
  float: left;
  width: 250px; }

.store-info h6 {
  font-size: 18px;
  font-family: "futura_md_btmedium";
  color: #704C61;
  margin-bottom: 7px; }

.store-info p {
  font-size: 16px;
  margin-bottom: 0;
  color: #704C61; }

.visit-address {
  margin-bottom: 54px; }

.store-hour {
  margin-bottom: 42px; }

.store-hour {
  width: 181px; }

.store-hour .time {
  float: right; }

.store-info a.book-now {
  width: 160px;
  font-size: 12px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #704C61;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 11px 0;
  font-family: "futura_md_btbold";
  outline: 0;
  letter-spacing: 1.2px;
  height: 50px;
  display: block;
  text-align: center; }

.store-description {
  float: left;
  width: calc(100% - 400px);
  color: #704C61;
  margin-left: 12%; }

#banner-locations {
  background: url(/images/locations.png) no-repeat center 60%; }

div#search-by-city {
  padding: 25px 0;
  border-top: 1px solid #dddbda;
  border-bottom: 1px solid #dddbda;
  text-align: center; }
  div#search-by-city input {
    border: 0;
    width: 210px;
    height: 25px;
    font-family: "futura_lt_btlight";
    color: #704C61;
    font-weight: 600;
    letter-spacing: 1.4px;
    font-size: 20px;
    line-height: 1.5em;
    outline: none; }
  div#search-by-city input:focus::-webkit-input-placeholder {
    opacity: .1; }
  div#search-by-city input::-webkit-input-placeholder {
    color: #704C61; }
  div#search-by-city div.magnifying-glass {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/images/magnifying-glass.png) no-repeat center center;
    background-size: contain;
    margin: 0 15px;
    position: relative;
    top: 4px; }

.content-pages {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto; }

.content-page-head {
  font-size: 60px;
  color: #704C61;
  font-family: "vanitasregular"; }

.news-page-head {
  margin: 50px 0 70px; }

.news-list .news {
  color: #704C61;
  border-left: 1px solid #dddbdc;
  padding: 0 25px;
  margin-bottom: 94px; }

.news-list .news:nth-child(odd) {
  border-left: 0; }

.news-list .news:nth-child(even) {
  padding-right: 0; }

.news-list .news img {
  margin-bottom: 17px;
  width: 100%;
  max-height: 355px;
  min-height: 355px; }

.news-list .news .news-title {
  margin-bottom: 3px;
  color: #704C61;
  font-family: "vanitasregular"; }

.about-page-content {
  width: 63.643%;
  margin: 0 auto;
  color: #704C61; }

.about-page-content h3, .about-page-content h6 {
  color: #704C61; }

.about-page-content h3 {
  font-family: "vanitas_bold";
  margin-top: 54px;
  margin-bottom: 9px; }

.about-page-content h6 {
  font-family: "futura_md_btmedium";
  margin-bottom: 3px; }

.about-page-head {
  color: #704C61;
  font-family: "vanitas_bold";
  font-size: 70px;
  margin-bottom: 97px; }

.terms-container {
  width: 750px;
  max-width: 750px;
  margin: 0 auto;
  color: #704C61; }

.terms-container h3, .terms-container h6 {
  color: #704C61; }

.career-page-head {
  color: #704C61;
  font-family: "vanitas_bold";
  font-size: 70px;
  margin-bottom: 90px; }

.career-page-content {
  color: #704C61; }

.career-form-div {
  width: 750px;
  margin: 0 auto 7em; }

.career-page-content p {
  font-size: 16px;
  margin-bottom: 0; }

.open-positions {
  margin: 63px 0; }

.open-positions h3 {
  font-family: "vanitas_bold";
  font-size: 36px;
  color: #704C61;
  margin-bottom: 0;
  letter-spacing: 0.6px; }

.open-positions p {
  margin-bottom: 18px; }

.open-positions a.apply-now {
  font-family: "futura_md_btbold";
  font-size: 12.22px;
  letter-spacing: 0.7px;
  border-bottom: 1px solid #704C61;
  text-transform: uppercase; }

.career-detail-page-head {
  margin-bottom: 50px; }

.open-positions-detail h3 {
  font-family: "vanitas_bold";
  font-size: 36px;
  color: #704C61;
  margin-bottom: 21px;
  letter-spacing: 0.6px; }

.open-positions-detail p {
  margin-bottom: 27px; }

.position-requirement h6 {
  font-family: "futura_md_btmedium";
  color: #704C61;
  font-size: 16px;
  margin-bottom: 1px; }

.position-requirement li {
  font-size: 16px; }

.position-requirement h6 span {
  font-family: "futura_lt_btlight"; }

form.career-form input[type="text"], form.career-form input[type="email"], form.career-form input[type="number"] {
  margin-bottom: 28px;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #704C61;
  background: #EDECEA;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "futura_md_btmedium";
  opacity: 0.7;
  height: 41px; }

form.career-form #email {
  text-transform: inherit; }

form.career-form label {
  font-size: 14px;
  font-family: "futura_md_btmedium";
  letter-spacing: 1.4px;
  margin-top: 10px;
  display: inline-block; }

form.career-form select {
  width: 100%;
  height: 60px;
  padding: 2px 12px;
  font-size: 15px;
  margin-bottom: 39px;
  color: #704C61;
  background: #EDECEA url(../images/icon_dropdown.png) no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  opacity: 0.7;
  font-family: "futura_md_btmedium";
  webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center; }

form.career-form input[type="text"]::-webkit-input-placeholder {
  color: #704C61; }

form.career-form input[type="text"]::-moz-placeholder {
  /* Firefox 18- */
  color: #704C61; }

form.career-form input[type="text"]::-ms-input-placeholder {
  /* Firefox 18- */
  color: #704C61; }

form.career-form input[type="email"]::-webkit-input-placeholder, form.career-form input[type="number"]::-webkit-input-placeholder {
  color: #704C61; }

form.career-form input[type="email"]::-moz-placeholder, form.career-form input[type="number"]::-webkit-input-placeholder {
  /* Firefox 18- */
  color: #704C61; }

form.career-form input[type="email"]::-ms-input-placeholder, form.career-form input[type="number"]::-webkit-input-placeholder {
  /* Firefox 18- */
  color: #704C61; }

.career-form button[type="submit"] {
  width: 160px;
  font-size: 12px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 0;
  color: #704C61;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 9.5px 0;
  font-family: "futura_md_btbold";
  outline: 0;
  letter-spacing: 1.2px;
  height: 50px; }

.resume-label {
  font-family: "futura_md_btbold";
  font-size: 15px;
  margin-right: 30px; }

.dropcontainer {
  position: relative;
  font-size: 16px;
  color: #704C61; }

.trigger {
  color: #704C61;
  padding: 17px 10px;
  font-size: 17.79px;
  width: 100%;
  height: 60px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #EDECEA;
  font-family: "futura_md_btbold"; }

.activetrigger {
  width: 50%;
  display: block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.activetrigger:hover {
  color: #777; }

.activetrigger:active {
  color: #777; }

.dropcontainer ul {
  font-size: 16px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  width: 50%;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dropcontainer ul li {
  padding: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.dropcontainer ul li:hover {
  background: #f5f5f5;
  outline: none; }

.dropcontainer ul li:first-child {
  display: none; }

.dropcontainer ul li:last-child {
  border-bottom: none; }

.dropdownhidden {
  display: none; }

.dropdownvisible {
  height: auto; }

.banner-contact {
  margin: 0 auto 0;
  width: 48.67%;
  max-width: 780px;
  text-align: center; }

.privacy-bnr {
  padding-top: 0; }

.contact-page-head {
  color: #704C61;
  font-family: "vanitas_bold";
  font-size: 55px;
  margin-bottom: 114px; }

.thanks-msg {
  color: #704C61;
  font-family: "vanitas_bold";
  font-size: 50px; }

.contact-form {
  margin: 0 auto;
  width: 750px;
  max-width: 750px; }

.form-control {
  width: 100%;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143; }

form.contact-us textarea {
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #704C61;
  background: #EDECEA;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "futura_md_btmedium";
  height: 280px;
  opacity: 0.7; }

form.contact-us input[type="text"], form.contact-us input[type="email"], form.contact-us input[type="number"] {
  margin-bottom: 27px;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #704C61;
  background: #EDECEA;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "futura_md_btmedium";
  opacity: 0.7;
  height: 41px; }

form.contact-us select {
  width: 100%;
  height: 60px;
  padding: 2px 12px;
  font-size: 18px;
  margin-bottom: 39px;
  color: #704C61;
  background: #EDECEA url(../images/icon_dropdown.png) no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  opacity: 0.7;
  font-family: "futura_md_btmedium";
  webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center; }

form.contact-us button {
  width: 160px;
  font-size: 12px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
  color: #704C61;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 9.5px 0;
  font-family: "futura_md_btbold";
  outline: 0;
  letter-spacing: 1.2px;
  height: 50px; }

form.contact-us input[type="text"]::-webkit-input-placeholder, form.contact-us textarea::-webkit-input-placeholder {
  color: #704C61; }

form.contact-us input[type="text"]::-moz-placeholder, form.contact-us textarea::-webkit-input-placeholder {
  /* Firefox 18- */
  color: #704C61; }

form.contact-us input[type="text"]::-moz-placeholder, form.contact-us textarea::-webkit-input-placeholder {
  /* Firefox 19+ */
  color: #704C61; }

form.contact-us input[type="text"]:-ms-input-placeholder, form.contact-us textarea::-webkit-input-placeholder {
  color: #704C61; }

form.contact-us input[type="email"]::-webkit-input-placeholder, form.contact-us input[type="number"]::-webkit-input-placeholder {
  color: #704C61; }

form.contact-us input[type="email"]::-moz-placeholder, form.contact-us input[type="number"]::-webkit-input-placeholder {
  /* Firefox 18- */
  color: #704C61; }

form.contact-us input[type="email"]::-ms-input-placeholder, form.contact-us input[type="number"]::-webkit-input-placeholder {
  /* Firefox 18- */
  color: #704C61; }

.enquiry-block {
  margin: 69px 0 0 0;
  border-top: 1px solid #dddbda;
  padding-top: 38px; }

.enquiry-block h2 {
  font-family: "vanitas_bold";
  font-size: 42px;
  color: #704C61; }

.enquiry-block p {
  color: #704C61;
  font-size: 18px;
  margin-bottom: 3px; }

.page-heading {
  position: relative;
  margin: 60px auto 75px;
  width: 300px;
  text-align: center; }

.gift-step {
  font-family: "vanitasregular";
  color: #ece1ec;
  font-size: 140px;
  margin: 0; }

.gift-step-title {
  font-family: "futura_md_btmedium";
  font-size: 16px;
  color: #704C61;
  letter-spacing: 1.4px;
  position: absolute;
  top: 30%;
  width: 100%;
  display: block;
  background: #fff;
  line-height: 32px; }

.gift-cards .gift-card-img {
  text-align: center;
  background: #f1f1f1;
  padding: 25px 0; }

.gift-info {
  margin-top: 21px;
  font-family: "futura_md_btmedium";
  font-size: 18px;
  color: #704C61; }

.squaredOne {
  cursor: pointer;
  outline: none; }

.squaredOne .box {
  background-color: #eeeceb;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  top: 2px; }

.squaredOne.selected .box {
  background: #eeeceb url("../images/selected.png") no-repeat center; }

.gift-info .squaredOne, .gift-info p {
  display: inline-block; }

.gift-info p {
  margin-left: 19%; }

.step-2 {
  border-top: 1px solid #dac2cf;
  margin-top: 40px;
  padding-top: 25px; }

.step-2 select {
  width: 100%;
  height: 60px;
  padding: 2px 20px;
  font-size: 18px;
  color: #704C61;
  background: #EDECEA url(../images/icon_dropdown.png) no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "futura_md_btmedium";
  webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center;
  opacity: 0.7; }

.step-2 select[name="quantity"] {
  width: 165px; }

.step-2 .amount {
  width: calc(100% - 165px);
  float: left;
  position: relative; }

.step-2 .fixed-dollar {
  position: absolute;
  left: 15px;
  font-family: "futura_md_btmedium";
  opacity: 0.7;
  color: #704C61;
  top: 18px;
  z-index: 1; }

.step-2 input[type="number"] {
  height: 60px;
  width: 100%;
  letter-spacing: 0.49px;
  color: #704C61;
  background: #EDECEA;
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #704C61;
  border-bottom: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: "futura_md_btmedium";
  opacity: 0.7;
  font-size: 18px;
  padding: 15px 20px 15px 25px; }

.step-2 input[type="number"]::-webkit-input-placeholder {
  color: #704C61; }

.step-2 input[type="number"]::-moz-placeholder {
  /* Firefox 18- */
  color: #704C61; }

.step-2 input[type="number"]::-ms-input-placeholder {
  /* Firefox 18- */
  color: #704C61; }

.step-3 {
  border-top: 1px solid #dac2cf;
  margin-top: 50px;
  padding-top: 25px; }

form.sender-detail input[type="text"], form.sender-detail input[type="email"] {
  margin-bottom: 30px;
  opacity: 0.5; }

.card-selected {
  background: #fafafa;
  text-align: center;
  padding-top: 50px; }

.card-selected > img {
  margin: 42px 0;
  width: 350px;
  box-shadow: 4px 4px 4px rgba(187, 187, 187, 0.51);
  border-radius: 12px;
  opacity: 0; }

.card-selected .final-price {
  font-family: "vanitasregular";
  color: #704C61; }

form.sender-detail textarea {
  height: 200px; }

.step-3 .send-myself-checkbox {
  font-family: "futura_md_btmedium";
  color: #704C61; }

.step-3 button {
  width: 243px;
  font-size: 16px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 0;
  color: #704C61;
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 9.5px 0;
  font-family: "futura_md_btbold";
  outline: 0;
  letter-spacing: 1.4px;
  height: 60px; }

.select-service {
  color: #704C61;
  background: #EDECEA;
  padding: 11px 20px;
  font-family: "futura_md_btmedium";
  font-size: 18px;
  height: 60px;
  opacity: 0.6; }

.service-dropdown {
  display: none;
  border: 1px solid #704C61; }

.service-dropdown > h5 {
  background: #704C61;
  color: #fff;
  padding: 7px 14px;
  font-size: 18px;
  margin: 0;
  font-family: "futura_md_btmedium"; }

.service-dropdown .service-block h6 {
  font-family: "futura_md_btmedium";
  font-size: 14px;
  padding: 7px 15px;
  line-height: initial;
  background: #f2f2f2; }

.service-dropdown .service-block ul li {
  list-style: none;
  font-family: "futura_md_btmedium";
  font-size: 14px; }

.service-dropdown .service-block ul li > .col-six > p {
  display: inline-block;
  margin: 0 5px 5px; }

.calculated-price {
  padding: 0 15px;
  font-family: "futura_md_btmedium";
  font-size: 15px;
  color: #704C61; }

.calculated-price label {
  display: inline-block; }

.calculated-price input {
  display: inline-block;
  width: auto !important;
  height: auto !important;
  border-right: none !important;
  background: transparent !important; }

.pedicure-content {
  background: #f4f2f1;
  padding: 70px 0 40px;
  margin-top: 30px; }

.mani-padi {
  margin-bottom: 50px; }

.mani {
  float: left;
  width: 45%;
  color: #704C61;
  margin-right: 7%;
  padding-top: 4.5em; }

.add-ons {
  float: left;
  width: 48%;
  padding-right: 1%;
  padding-left: 3%;
  background: url("../images/add-on-bg.png") no-repeat left;
  color: #704C61;
  background-size: contain;
  padding-top: 72px;
  background-position: 0 32px;
  height: 544px; }

.add-ons h6, .add-ons p, .body-wax-price p {
  margin-bottom: 5px; }

.add-ons h6, .body-wax-price h6 {
  color: #704C61;
  font-size: 18px;
  font-family: "futura_md_btmedium"; }

.body-wax-price {
  color: #704C61; }

.wax-list .list_item {
  margin-top: 0; }

.brows {
  width: 40%;
  float: left;
  color: #704C61;
  padding-top: 69px; }

.for-him {
  width: 60%;
  float: left;
  color: #704C61;
  padding-top: 69px;
  padding-left: 18%; }

.brows h1, .for-him h1 {
  font-family: "vanitasregular";
  color: #704C61;
  font-size: 75px; }

.for-him h6 {
  color: #704C61;
  font-size: 18px;
  font-family: "futura_md_btmedium"; }

.brows h6, .him-body-waxing h6 {
  font-size: 18px;
  font-family: "futura_md_btmedium";
  color: #704C61; }

.wax-block {
  margin-top: 40px; }

.red-bullet-list {
  list-style: none; }

.red-bullet-list > li {
  position: relative;
  padding-left: 12px; }

.red-bullet-list > li:before {
  content: "•";
  color: #704C61;
  position: absolute;
  left: 0; }

.privacy-content h6 {
  color: #704C61;
  font-family: "futura_md_btmedium";
  font-size: 18px;
  margin-bottom: 0px; }

.privacy-content {
  color: #704C61; }

.privacy-content .red-bullet-list > li {
  margin-bottom: 10px; }

.purpose-banner > img {
  width: 100%; }

.purpose-page-head {
  color: #704C61;
  font-family: "vanitas_bold";
  font-size: 70px;
  margin: 77px 0 50px; }

.purpose-start-info {
  margin: 0 auto;
  width: 48.67%;
  max-width: 750px;
  color: #704C61; }

.purpose-start-info p {
  font-size: 18px;
  text-align: center; }

.purpose-content {
  border-top: 1px solid #dddbda;
  padding: 79px 27px 50px 35px; }

.purpose-content h6 {
  font-family: "futura_md_btmedium";
  font-size: 18px;
  color: #704C61;
  margin-bottom: 67px;
  letter-spacing: 1px; }

.purpose-content-image-clean {
  float: left;
  width: 50%;
  max-height: 387px; }

.purpose-content-detail-clean {
  float: left;
  width: 39%;
  color: #704C61;
  padding-left: 61px;
  padding-top: 5.3em; }

.purpose-content-about-you {
  float: left;
  width: 42%;
  color: #704C61;
  padding-left: 61px;
  padding-top: 5.3em; }

.purpose-content-about-you-image {
  float: left;
  width: 56.334%;
  max-height: 572px; }

.purpose-content h2 {
  font-size: 55px;
  font-family: "vanitas_bold";
  color: #704C61;
  margin-bottom: 21px; }

.purpose-content p {
  font-size: 18px; }

.purpose-content .clearfix {
  margin-top: 100px; }

.beauty {
  position: relative; }

.beauty-overlay {
  position: absolute;
  left: 0;
  top: -9.3em;
  opacity: 0.7; }

/*.download-service-menu{
  background: #f0eeed;
  text-align: center;
  display: block;
  font-family: $futura-medium;
  font-size: 13px;
  padding: 10.5px 10px;
  border-bottom: 1px solid #dac2cf;
  text-transform: uppercase;
}*/
.nail-shapes-service {
  margin-top: 82px;
  color: #704C61; }

.nail-shapes-service h1, .manicure-block h1, .mani h1, .add-ons h1 {
  font-family: "vanitasregular";
  color: #704C61;
  font-size: 75px;
  margin-bottom: 13px; }

.nail-services .nail-service-col:last-child {
  margin-right: 0;
  text-align: center; }

.nail-service-col {
  float: left;
  width: 12.8%;
  margin-right: 9%; }

.nail-services .nail-service-col:last-child h2 {
  padding: 0 1px; }

.nail-service-col h2 {
  color: #704C61;
  font-size: 42px;
  line-height: 1em;
  margin-bottom: 1px; }

.nail-service-col p {
  font-family: "futura_md_btmedium";
  font-size: 15px; }

.nail-service-col > img {
  max-height: 208px;
  margin-bottom: 40px; }

#manicure {
  margin-bottom: 50px; }

.manicure-block {
  padding-top: 90px; }

.manicure-content {
  width: 48%;
  color: #704C61;
  float: left; }

.manicure-image {
  float: left;
  width: 52%; }

.manicure-content .list_item {
  margin-top: 3.56em; }

.list_item ul {
  list-style: none; }

.list_item ul li {
  color: #704C61;
  margin-bottom: 6px;
  letter-spacing: 1.5px;
  padding: 10px 0;
  text-align: left; }

.list_item ul li h6 {
  float: left;
  font-family: "futura_md_btmedium";
  font-size: 18px;
  color: #704C61;
  margin-bottom: 2px;
  margin-top: 20px; }

.list_item ul li .price {
  float: right;
  margin-top: 3px; }

.list_item ul li .price span {
  font-size: 18px; }

.item-content p {
  margin-bottom: 0;
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .9px; }

.item-content p.time {
  font-weight: 500;
  font-family: "futura_md_btmedium";
  margin-bottom: 4px; }

#mani-pedis .item-content p {
  font-size: 18.5px;
  letter-spacing: 1.7px;
  font-weight: 600; }

#mani-pedis .item-content p.time {
  font-size: 15.5px;
  letter-spacing: 1.7px;
  font-weight: 600; }

.service-description {
  color: #704C61;
  font-weight: 500;
  letter-spacing: 0.6px;
  font-size: 22px;
  line-height: 1.5em;
  margin: 60px 0; }

#mani-pedis .add-ons .addons {
  margin-top: 60px; }

#banner-services {
  background: url(/images/banner-services.png) no-repeat center center; }

section#nail-shapes-section {
  border-top: 1px solid #dddbda; }

.terms-page-head {
  margin-bottom: 60px;
  margin-top: 10px; }

.term-bnr {
  padding-top: 1px; }

p.attention {
  color: #704C61; }

.terms-content h6 {
  margin-bottom: 0;
  color: #704C61;
  font-family: "futura_md_btmedium";
  font-size: 18px; }

.terms-content p {
  font-size: 16px;
  color: #704C61; }

.mail-address p {
  margin-bottom: 0; }

.mail-address a {
  margin-left: 11px;
  text-decoration: underline; }

.number-list {
  margin-bottom: 10px; }

.number-list p {
  margin-bottom: 1px; }

.home-mobile-logo {
  display: none; }

.menu-toggle, .default-menu-toggle {
  width: 30px;
  padding: 21px 0 0;
  display: none; }

.menu-toggle.on, .default-menu-toggle.on {
  padding: 26px 0 0 15px; }

.menu-toggle .one, .menu-toggle .two, .menu-toggle .three, .default-menu-toggle .one, .default-menu-toggle .two, .default-menu-toggle .three {
  display: block;
  background: #704C61;
  height: 3px;
  margin-bottom: 5px;
  backface-visibility: hidden;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  transition-duration: .3s; }

.menu-toggle .three, .default-menu-toggle .three {
  margin-bottom: 0; }

.main-mobile-nav {
  display: none;
  width: 100%; }

.default-menu-toggle.on .one, .menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(2px, 3px);
  -ms-transform: rotate(45deg) translate(2px, 3px);
  -webkit-transform: rotate(45deg) translate(2px, 3px);
  transform: rotate(45deg) translate(2px, 3px); }

.default-menu-toggle.on .two, .menu-toggle.on .two {
  opacity: 0; }

.default-menu-toggle.on .three, .menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px); }

.main-mobile-nav > ul {
  margin-bottom: 0; }

.main-mobile-nav > ul > li {
  display: block;
  border-bottom: 1px solid rgba(112, 76, 97, 0.25);
  background: #f0eeed; }

.main-mobile-nav > ul > li:last-child {
  border-bottom: 0; }

.main-mobile-nav > ul > li > a {
  border-bottom: 0;
  display: block;
  font-size: 15px;
  padding: 11px 0 10px 15px;
  font-family: "futura_md_btmedium";
  letter-spacing: 0.8px;
  text-transform: uppercase; }

ul.addons {
  -moz-column-count: 2;
  -moz-column-gap: 2.5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2.5em;
  column-count: 2;
  column-gap: 2.5em;
  padding: 0 15px; }

ul.addons > li {
  list-style: none; }

/*Press Page*/
.press-filter {
  background: #f0eeed;
  text-align: center;
  border-bottom: 1px solid #dac2cf; }

.press-filter ul {
  margin-bottom: 0; }

.press-filter > ul > li {
  display: inline-block;
  padding: 15px 10px; }

.press-filter > ul > li, .press-filter > ul > li > a {
  color: #a68899;
  font-size: 13px;
  letter-spacing: 1.2px; }

.press-filter > ul > li.active > a {
  color: #735064;
  font-family: "futura_md_btbold"; }

.presspage-title {
  font-family: "vanitas_bold";
  font-size: 70px;
  color: #704C61;
  letter-spacing: 1.5px;
  margin: 40px 0 60px; }

.press-list > li {
  list-style: none;
  display: inline-block;
  margin-bottom: 90px; }

.press-list > li p {
  margin: 30px 0 26px; }

.press-list > li:nth-child(odd) {
  border-right: 1px solid #dddbda; }

.press-list > li .press-thumb {
  height: 350px; }

.press-list .press-title-img {
  height: 80px; }

.press-bottom {
  border-top: 1px solid #dddbda;
  padding-top: 50px; }

.press-bottom h3 {
  font-family: "vanitas_bold";
  font-size: 42px;
  color: #704C61; }

.press-bottom p {
  color: #704C61;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 0; }

@media (max-width: 1290px) {
  aside.side-filter {
    width: calc(100% - 770px); }
  section.all-location {
    width: 730px; }
  .location-list > li .fix-height-loc-head {
    height: 200px; }
  .location-list > li .adrs-height {
    height: 95px; } }

@media (max-width: 1152px) and (min-width: 992px) {
  aside.side-filter {
    width: 165px; }
  section.all-location {
    width: calc(100% - 170px); } }

@media (max-width: 1333px) {
  .purpose-content-detail-clean {
    padding-left: 40px;
    padding-top: 3em; } }

@media (max-width: 1322px) {
  .add-ons {
    width: 49%;
    padding-left: 10px; }
  .mani {
    margin-right: 4%; } }

@media (max-width: 1157px) {
  .mani {
    width: 43%; }
  .add-ons {
    width: 51%; } }

@media (max-width: 1111px) {
  .mani-padi {
    width: 92%; } }

@media (max-width: 1200px) {
  .sticky-default-header .main-nav-default nav.main-nav > ul > li > a, .sticky nav.main-nav > ul > li > a {
    margin: 0 10px; }
  .sticky nav.main-nav, .sticky-default-header .main-nav-default nav.main-nav {
    margin-left: 0; }
  .sticky .sub-menu {
    width: 120px;
    padding: 5px 0 18px 25px;
    left: -21px; } }

@media (max-width: 1175px) {
  .default-header .subscribe-block a, .sticky nav.main-nav > ul > li > a, .top_social_menu > ul > li:first-child a, .default-header .top_social_menu > ul > li:first-child a {
    font-size: 12px; }
  .main-nav-default nav.main-nav > ul > li > a {
    margin: 5px 4px 0;
    font-size: 12px; }
  .default-header .top_social_menu > ul > li:first-child a {
    font-size: 12px; }
  .sticky .top_social_menu > ul > li {
    padding: 21px 0 0; }
  .sticky-default-header .default-logo a {
    padding-top: 11px; } }

@media (max-width: 1109px) {
  .purpose-content-image-clean {
    width: 50%; }
  .purpose-content-detail-clean {
    width: 48%;
    padding-left: 10px;
    padding-top: 1em; }
  .purpose-content h2 {
    font-size: 42px;
    margin-bottom: 7px; }
  .purpose-content-about-you {
    padding-top: 2em;
    padding-left: 20px; } }

@media (max-width: 1100px) {
  ul.footer-nav > li {
    padding: 0 15px; } }

@media (max-width: 1060px) {
  .default-header, .head-container.sticky {
    padding: 0 15px; }
  .default-header .subscribe-block a {
    padding: 20px 0 21px; }
  .head-container.sticky .logo a {
    padding-top: 11px; }
  .top_social_menu > ul > li:first-child {
    top: 0; } }

@media (max-width: 888px) {
  .career-select .col-six {
    width: 100%; } }

@media (max-width: 992px) {
  .default-header {
    padding: 0 15px; }
  .sticky-default-header {
    padding: 0 50px; }
  nav.main-nav > ul > li {
    margin: 0 1px; }
  .sticky nav.main-nav {
    width: calc(100% - 250px); }
  .main-nav-default .sub-menu {
    padding: 5px 0 12px 27px;
    left: -26px; }
  .sub-menu {
    width: 115px;
    padding: 5px 0 12px 26px;
    left: -19px; }
  .sub-menu a {
    padding: 1px 0;
    font-size: 12px; }
  .top_social_menu > ul > li:first-child a {
    font-size: 12px; }
  .sticky nav.main-nav > ul > li > a {
    margin: 0 5px; }
  .sticky .top_social_menu > ul > li {
    margin: 0; }
  .sticky .top_social_menu > ul > li > a {
    font-size: 11px; }
  nav.main-nav > ul > li > a {
    font-size: 13px;
    margin: 0 11px; }
  .default-header .subscribe-block {
    width: 67px; }
  .default-header .top_social_menu > ul > li:first-child {
    margin-right: 0; }
  .main-nav-default {
    width: calc(100% - 250px); }
  .default-header .top_social_menu > ul > li {
    margin: 0; }
  .sticky-default-header .main-nav-default nav.main-nav > ul > li > a {
    font-size: 12px;
    margin: 0 4px !important; }
  .default-header .subscribe-block a, .default-header .top_social_menu > ul > li:first-child a {
    font-size: 11px; }
  aside.side-filter {
    display: none; }
  #mobile-region {
    width: 100%;
    padding: 0 19px;
    display: block; }
  #mobile-region ul.regions {
    display: none;
    padding: 0 15px; }
  #mobile-region .filter-head {
    cursor: pointer;
    background: #704C61;
    color: #fff;
    padding: 5px 15px;
    position: relative; }
  #mobile-region .filter-head:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 7px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
    transition: all 0.2s linear; }
  #mobile-region .filter-head.active:after {
    transition: all 0.2s linear;
    border-width: 0 7px 6px 6px; }
  .location-list > li {
    width: 50%;
    min-height: 450px;
    max-height: 450px; }
  .location-list > li .fix-height-loc-head {
    height: 240px; }
  section.all-location {
    width: 100%;
    margin-top: 20px; }
  form.search-by-zip {
    margin-bottom: 28px; }
  .location-list > li:nth-child(odd) {
    border-left: 0; }
  form.career-form input[type="text"], form.career-form input[type="email"], form.career-form input[type="number"] {
    font-size: 13px;
    height: 41px; }
  form.career-form select {
    font-size: 13px;
    height: 58px; }
  #footer {
    padding: 18px 0 0; }
  ul.footer-nav {
    margin-bottom: 12px; }
  ul.footer-nav > li {
    padding: 0 7px; }
  ul.footer-nav > li, ul.footer-nav > li > a {
    font-size: 10px; }
  .contact-page-head, .career-page-head {
    font-size: 50px;
    margin-bottom: 70px; }
  .open-positions h3 {
    font-size: 30px; }
  .open-positions {
    margin: 50px 0; }
  .slide-info > h1 {
    font-size: 45px; }
  .slide-info > p {
    font-size: 15px; }
  .slide-info > .slide-btn {
    padding: 8px 5px;
    width: 150px;
    font-size: 10px;
    height: 45px; }
  .bxslider .slide-info.top-left {
    top: 1.5em; }
  .bxslider .slide-info.top-right {
    top: 1.5em;
    right: 6em; }
  .bxslider .slide-info.bottom-left {
    bottom: 1.5em; }
  .bxslider .slide-info.bottom-right {
    bottom: 1.5em;
    right: 6em; }
  .home-career-overlay {
    width: 450px;
    background-size: contain; }
  .nail-shapes-service h1, .manicure-block h1, .mani h1, .add-ons h1, .brows h1, .for-him h1 {
    font-size: 60px; }
  .nail-service-col > img {
    height: 185px;
    max-height: 185px;
    margin-bottom: 33px; }
  .nail-service-col h2 {
    font-size: 31px; }
  .manicure-image {
    width: 48%; }
  .list_item ul li h6, .list_item ul li .price span {
    font-size: 16px; }
  .manicure-content {
    width: 50%; }
  .mani-padi {
    width: 95%; }
  .mani {
    margin-right: 3%; }
  .add-ons {
    width: 53%; }
  .add-ons h6, .body-wax-price h6 {
    font-size: 15px; }
  .add-ons h6, .add-ons p, .body-wax-price p {
    font-size: 14px; }
  ul.addons {
    padding: 0 10px; }
  .brows h6, .him-body-waxing h6 {
    font-size: 15px; }
  .purpose-content-image-clean {
    width: 47%; }
  .purpose-content-detail-clean {
    width: 48%; }
  .purpose-content h2 {
    font-size: 30px;
    line-height: normal; }
  .purpose-content p {
    font-size: 16px; }
  .purpose-content-about-you {
    padding-top: 10px; }
  .purpose-content h6 {
    margin-bottom: 40px; } }

@media (max-width: 990px) {
  .sticky-default-header, .sticky {
    padding: 0 15px; }
  .sticky .logo, .sticky-default-header .default-logo {
    margin: 0; } }

@media (min-width: 768px) {
  .default-header {
    position: fixed;
    z-index: 99;
    background: #fff; }
  #body {
    padding-top: 58px; } }

@media (max-width: 768px) {
  .home-mobile-logo {
    width: 100%;
    text-align: center;
    margin-left: 0;
    position: absolute;
    left: 0;
    z-index: 1;
    display: inline-block; }
  .default-logo {
    display: none; }
  .logo {
    display: none; }
  .default-header {
    padding: 0; }
  .mobile-top-social-menu li img {
    height: 15px; }
  #home-body .carousel .bx-wrapper {
    margin: 0 auto; }
  #home-body .carousel #bx-pager {
    position: inherit; }
  .bx-wrapper .bx-viewport {
    max-height: inherit !important; }
  .location-detail-carousel .bx-wrapper img {
    max-width: 100%; }
  .head-container .main-nav-mobile {
    position: relative;
    top: 58px; }
  .social_bar {
    padding: 0 0 15px;
    background: #fff; }
  .mobile-top-social-menu {
    display: inline-block;
    float: right;
    padding-right: 15px;
    position: relative;
    z-index: 99; }
  .top_social_menu {
    display: none; }
  .mobile-top-social-menu li.giftcard {
    display: none; }
  .mobile-top-social-menu > ul > li {
    margin: 0 3px;
    padding: 24px 0 0; }
  .home-mobile-logo > a {
    display: inline-block;
    margin-top: 16px; }
  .subscribe-block {
    display: none; }
  .menu-toggle, .default-menu-toggle {
    display: inline-block;
    padding-left: 15px;
    width: 40px;
    float: left;
    position: relative;
    z-index: 99; }
  .head-container {
    width: 100%; }
  nav.main-nav {
    display: none;
    margin-top: 0;
    text-align: left; }
  nav.main-nav-mobile > ul > li {
    display: block;
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    background: #f0eeed; }
  nav.main-nav-mobile > ul > li:last-child {
    border-bottom: 0; }
  nav.main-nav-mobile > ul > li > a {
    border-bottom: 0;
    display: block;
    font-size: 15px;
    padding: 11px 0 10px 15px; }
  nav.main-nav-mobile > ul > li:hover > a {
    border-bottom: 0; }
  nav.main-nav-mobile > ul > li:hover > .sub-menu {
    display: none; }
  nav.main-nav-mobile .sub-menu {
    display: none;
    position: relative;
    width: 100%;
    border: 0;
    padding: 0;
    left: 0; }
  nav.main-nav-mobile .sub-menu > li:last-child > a {
    border-bottom: 0; }
  nav.main-nav-mobile .sub-menu a {
    padding: 11px 0 10px 30px;
    display: block;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-family: "futura_md_btmedium";
    border-bottom: 1px solid rgba(225, 225, 225, 0.56); }
  .main-nav-default {
    display: none; }
  .bxslider .slide-info {
    position: inherit;
    width: auto;
    text-align: center;
    margin: 10px auto 0; }
  .slide-info > .slide-btn {
    margin: 10px auto 0; }
  .bx-wrapper .bx-pager {
    bottom: -30px !important; }
  .home-service-col {
    width: 45%;
    margin-bottom: 20px;
    margin-right: 8%; }
  .home-service-col:nth-child(even) {
    margin-right: 0; }
  .home-services {
    margin: 10px 0 40px; }
  .home-content-section {
    margin: 0 0 4em; }
  .home-gift-card-col {
    width: 98%; }
  .home-gift-card-col .home-gift-card-img {
    margin-top: 50px; }
  .home-career {
    margin-top: 50px;
    position: relative; }
  .home-career-overlay {
    right: 0; }
  #footer {
    padding: 0;
    margin-top: 1em; }
  .footer-container {
    width: 100%; }
  ul.footer-nav {
    text-align: left;
    margin: 0; }
  ul.footer-nav > li {
    display: block;
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    border-right: 0; }
  ul.footer-nav > li > a {
    font-size: 15px;
    display: block;
    color: #a6a6a6;
    padding: 17.5px 10px; }
  ul.footer-nav > li > p {
    font-size: 15px;
    color: #a6a6a6;
    padding: 17.5px 10px; }
  .home-service-col h4 {
    font-size: 17px;
    word-wrap: break-word;
    line-height: 1.5em; }
  .main-nav-default .logo {
    display: none; }
  .main-nav-default nav.main-nav {
    display: none; }
  .main-mobile-nav .sub-menu {
    position: relative;
    width: 100%;
    border: 0;
    padding: 0;
    left: 0; }
  .career-form-div {
    width: 80%; }
  .main-mobile-nav .sub-menu a {
    padding: 11px 0 10px 53px;
    display: block;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-family: "futura_md_btmedium";
    border-bottom: 1px solid rgba(156, 156, 156, 0.3);
    text-transform: uppercase; }
  .main-mobile-nav .sub-menu > li:last-child a {
    border-bottom: 0; }
  #mobile-region {
    width: 100%;
    padding: 0; }
  #mobile-region ul.regions {
    padding: 0 15px; }
  #nail-shape p {
    padding: 0; }
  section.all-location {
    width: 100%; }
  .location-list > li:nth-child(odd) {
    border-left: 0; }
  .location-list > li {
    width: 100%;
    padding: 0;
    min-height: inherit;
    max-height: inherit;
    margin: 0 0 2em;
    border: 0; }
  .location-list > li img {
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow: hidden; }
  .location-list > li p, .location-list > li h5, .location-list .location-links {
    padding: 0 15px; }
  .location-list > li:last-child {
    margin-bottom: 0; }
  .location-list > li .fix-height-loc-head, .location-list > li .adrs-height {
    height: auto; }
  .location-detail-head {
    font-size: 30px;
    margin-top: 10px; }
  .img-count li img {
    max-width: 100% !important; }
  .store-info, .store-description, .manicure-content, .manicure-image, .mani, .add-ons {
    width: 100%; }
  .store-description {
    margin-left: 0;
    margin-top: 25px; }
  .nail-service-col {
    width: 50%;
    text-align: center;
    min-height: 280px;
    margin-right: 0; }
  .nail-service-col > img {
    height: 185px;
    max-height: 185px;
    margin-bottom: 20px; }
  .nail-services .nail-service-col:nth-child(even) {
    margin-right: 0; }
  .nail-service-col h2 {
    font-size: 30px; }
  .nail-service-col p {
    font-size: 13px;
    margin-bottom: 0; }
  .manicure-content .col-six, .add-ons .col-six, .for-him, .brows, .nail-shapes-service .col-six {
    width: 100%; }
  .manicure-block, #mani-pedis, #waxing {
    padding-top: 50px; }
  .download-service-menu {
    border-top: 1px solid #dac2cf; }
  .for-him {
    padding-left: 0;
    padding-top: 55px; }
  .career-form .col-six, .contact-form .col-six {
    width: 100%; }
  .open-positions-detail h3 {
    font-size: 20px; }
  .career-page-head, .contact-page-head {
    font-size: 40px;
    margin: 50px 0; }
  .career-form .col-five, .career-form .col-seven {
    width: 100%; }
  .career-form .err, .career-form .email-err {
    bottom: -19px !important; }
  form.career-form input[type="text"], form.career-form input[type="email"], form.career-form input[type="number"] {
    margin-bottom: 10px; }
  form.career-form label.resume-label {
    margin-bottom: 10px; }
  .fileupload .err {
    bottom: -35px !important; }
  .about-page-content h3 {
    font-size: 35px; }
  .banner-contact {
    width: 80%; }
  .manicure-block {
    margin-top: 0; }
  .mani-padi {
    margin: 0 auto 0; }
  .mani {
    padding-top: 20px; }
  .add-ons {
    padding-top: 25px;
    height: 390px; }
  .brows {
    margin-top: 20px; }
  .purpose-content {
    padding: 40px 27px 15px 35px; }
  .purpose-page-head {
    margin: 30px 0;
    font-size: 40px; }
  .purpose-start-info {
    width: 55%; }
  .purpose-content-about-you, .purpose-content-image-clean, .purpose-content-detail-clean, .purpose-content-about-you-image {
    width: 100%; }
  .beauty {
    margin-top: 10em; }
  .mani-padi {
    width: 80%; }
  #pedicure .manicure-image, #waxing .manicure-image {
    margin-bottom: 20px; }
  .manicure-image {
    text-align: center; }
  .service-container {
    width: 100%; }
  .service-container .row {
    margin: 0; }
  .wax-list {
    padding: 0; }
  .service-container h1, .service-container p {
    padding: 0 15px; }
  .list_item ul li h6 {
    padding-left: 15px; }
  .list_item ul li {
    background-position: 97% 20px;
    padding: 12px 0; }
  .list_item ul li .price {
    padding-right: 15px; }
  .list_item ul li.open {
    background-position: 97% 20px; }
  .body-wax-price {
    padding: 0 15px; }
  .brows h6, .him-body-waxing h6, .for-him h6 {
    padding-left: 15px; }
  .nail-shapes-service {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px; }
  .press-list > .col-six, .press-bottom .col-six {
    width: 100%; }
  .press-list > li:nth-child(odd) {
    border: 0; }
  .thanks-msg1 {
    margin-top: 50px; }
  .thanks-msg {
    font-size: 25px;
    padding: 0 15px;
    line-height: initial; }
  .location-container {
    width: 100%; }
  form.search-by-zip {
    padding: 35px 15px; }
  .gift-card-container {
    width: 100%; }
  .gift-card-container .row {
    margin-left: 0;
    margin-right: 0; }
  .steap-1 .col-six, .step-2 .col-six, .step-3 .col-six {
    width: 100%; }
  .steap-1 .gift-cards {
    margin-bottom: 20px;
    padding: 0; }
  .step-2 .amount-quantity, .step-3 .card-selected {
    margin-bottom: 20px; }
  .gift-step {
    font-size: 100px; }
  .gift-step-title {
    font-size: 12px; }
  .preview-card p {
    font-size: 10px; }
  .send-myself-checkbox {
    padding: 0 30px; }
  .career-page-content {
    margin-bottom: 0; }
  .open-positions, .open-positions-detail {
    margin: 20px 0; }
  .news-container {
    width: 100%; }
  .news-list .col-six {
    width: 100%; }
  .news-list .news {
    margin-bottom: 30px;
    padding: 0; }
  .news-page-head {
    margin: 20px 0 30px;
    font-size: 40px; }
  .news-list {
    margin-left: 0;
    margin-right: 0; }
  .news-list .news p {
    padding: 0 15px;
    margin-bottom: 0; }
  .news-list .news .news-title {
    padding: 0 15px;
    font-size: 26px; }
  .preview-card {
    width: 70% !important;
    border-radius: 3px;
    left: 13% !important;
    padding-top: 2em !important; }
  .preview-card h1 {
    font-size: 25px !important; }
  .preview-card .card-selected-img {
    width: 150px !important;
    margin-bottom: 15px !important; }
  .preview-card p.message {
    padding: inherit !important;
    margin-bottom: 0 !important; }
  .preview-card .book-appointment {
    margin: 15px auto !important; }
  .page-heading {
    margin: 40px auto; }
  .terms-container {
    width: 80%; }
  .contact-form {
    width: 75%;
    margin-top: 45px; } }

@media (max-width: 480px) {
  form.career-form input[type="text"], form.career-form input[type="email"], form.career-form input[type="number"] {
    font-size: 13px;
    height: 40px;
    margin-bottom: 20px; }
  form.career-form select, form.contact-us select {
    font-size: 13px;
    height: 40px;
    margin-bottom: 20px; }
  .career-form button[type="submit"], form.contact-us button {
    width: 206px;
    font-size: 14px;
    height: 50px; }
  form.contact-us input[type="text"], form.contact-us input[type="email"], form.contact-us input[type="number"] {
    font-size: 13px;
    height: 40px;
    margin-bottom: 28px; }
  form.contact-us textarea {
    font-size: 13px; }
  .enquiry-block h2 {
    font-size: 27px;
    margin-bottom: 0; }
  form.search-by-zip input[type="text"] {
    width: 200px;
    font-size: 12px;
    padding: 5px 8px; }
  form.search-by-zip button {
    width: 85px;
    font-size: 12px; }
  .purpose-start-info {
    width: 70%; } }

@media (max-width: 420px) {
  .bx-wrapper {
    margin: 0 auto 30px; }
  .home-gift-card-content h1 {
    font-size: 40px; }
  .home-service-col {
    margin-bottom: 10px; }
  .home-service-col h4 {
    font-size: 14px;
    word-wrap: break-word;
    line-height: 1.5em; }
  .home-services {
    margin: 10px 0 0; }
  .home-service-heading {
    margin-bottom: 5px;
    padding-bottom: 20px; }
  .home-gift-card-col .home-gift-card-img {
    margin-top: 30px; }
  .home-career-overlay {
    width: 420px;
    height: 214px;
    background-size: cover; }
  .home-career .home-gift-card-content {
    width: 100%; }
  .home-mobile-logo {
    width: 100%;
    text-align: center;
    margin-left: 0;
    position: absolute;
    left: 0;
    z-index: 1; }
  .home-career {
    margin-top: 20px; }
  .mobile-top-social-menu > ul > li {
    margin: 0 2px; }
  .location-list > li {
    width: 100%;
    border: 0;
    padding: 0; }
  .home-career .home-gift-card-content h1 {
    width: 100%; }
  .home-gift-card-content {
    width: 100%; }
  .nail-shapes-service h1, .manicure-block h1, .mani h1, .add-ons h1, .brows h1, .for-him h1 {
    font-size: 40px; }
  .nail-service-col h2 {
    font-size: 25px; }
  .pedicure-content {
    position: relative; }
  #nail-shape p, #nail-shape h1, #nail-shape .row .col-six {
    padding: 0; }
  .manicure-content .list_item {
    margin-top: 1em; }
  .add-ons {
    height: inherit; }
  ul.addons {
    -moz-column-count: 1;
    -moz-column-gap: 2em;
    -webkit-column-count: 1;
    -webkit-column-gap: 1em;
    column-count: 1;
    column-gap: 2em; }
  .add-ons h6, .body-wax-price h6 {
    font-size: 13px; }
  .career-page-head, .contact-page-head {
    font-size: 30px;
    margin: 15px 0;
    line-height: normal; }
  .open-positions h3 {
    font-size: 25px; }
  .open-positions-detail h3 {
    font-size: 20px;
    line-height: 1.2em; }
  .career-form .err, .career-form .email-err {
    bottom: -9px !important; }
  .fileupload .err {
    bottom: -30px !important; }
  .about-page-content {
    width: 75%; }
  .about-page-content p {
    font-size: 14px; }
  .about-page-content h3 {
    font-size: 25px;
    line-height: normal; }
  .about-page-content h6 {
    font-size: 15px; }
  .terms-container h3 {
    font-size: 25px;
    line-height: 1.5em; }
  .terms-container h6 {
    font-size: 20px; }
  ul.addons, .add-ons {
    padding: 0 15px; }
  .step-3 .send-myself-checkbox {
    margin-bottom: 15px; }
  .service-block ul li .col-six {
    width: 50%; }
  .service-dropdown .service-block ul li {
    font-size: 10px; }
  .squaredOne {
    padding: 0 15px; }
  .subscribe-form-block h4 {
    font-size: 25px; }
  .preview-card .close-subscribe-popup {
    top: 1px !important;
    right: 1px !important; }
  .submit-cntct-btn {
    text-align: center; }
  .location-detail-carousel .bx-wrapper {
    margin: 0 auto 20px; }
  .location-detail-head {
    margin-top: 0; }
  .img-count li img {
    max-width: 100%; } }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 21, 2015 */
@font-face {
  font-family: 'futura_lt_btlight';
  src: url("fonts/futura_light/futura_light_bt-webfont.eot");
  src: url("fonts/futura_light/futura_light_bt-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/futura_light/futura_light_bt-webfont.woff2") format("woff2"), url("fonts/futura_light/futura_light_bt-webfont.woff") format("woff"), url("fonts/futura_light/futura_light_bt-webfont.ttf") format("truetype"), url("fonts/futura_light/futura_light_bt-webfont.svg#futura_lt_btlight") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 21, 2015 */
@font-face {
  font-family: 'futura_md_btmedium';
  src: url("fonts/futura_medium/futura_medium_bt-webfont.eot");
  src: url("fonts/futura_medium/futura_medium_bt-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/futura_medium/futura_medium_bt-webfont.woff2") format("woff2"), url("fonts/futura_medium/futura_medium_bt-webfont.woff") format("woff"), url("fonts/futura_medium/futura_medium_bt-webfont.ttf") format("truetype"), url("fonts/futura_medium/futura_medium_bt-webfont.svg#futura_md_btmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 6, 2016 */
@font-face {
  font-family: 'futura_md_btbold';
  src: url("fonts/futura_bold/futura_bold_bt_0-webfont.eot");
  src: url("fonts/futura_bold/futura_bold_bt_0-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/futura_bold/futura_bold_bt_0-webfont.woff2") format("woff2"), url("fonts/futura_bold/futura_bold_bt_0-webfont.woff") format("woff"), url("fonts/futura_bold/futura_bold_bt_0-webfont.ttf") format("truetype"), url("fonts/futura_bold/futura_bold_bt_0-webfont.svg#futura_md_btbold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on October 21, 2015 */
@font-face {
  font-family: 'vanitasregular';
  src: url("fonts/vanitas_regular/vanitas_regular-webfont.eot");
  src: url("fonts/vanitas_regular/vanitas_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/vanitas_regular/vanitas_regular-webfont.woff2") format("woff2"), url("fonts/vanitas_regular/vanitas_regular-webfont.woff") format("woff"), url("fonts/vanitas_regular/vanitas_regular-webfont.ttf") format("truetype"), url("fonts/vanitas_regular/vanitas_regular-webfont.svg#vanitasregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 6, 2016 */
@font-face {
  font-family: 'vanitas_bold';
  src: url("fonts/vanitas_bold/vanitas-bold-webfont.eot");
  src: url("fonts/vanitas_bold/vanitas-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/vanitas_bold/vanitas-bold-webfont.woff2") format("woff2"), url("fonts/vanitas_bold/vanitas-bold-webfont.woff") format("woff"), url("fonts/vanitas_bold/vanitas-bold-webfont.ttf") format("truetype"), url("fonts/vanitas_bold/vanitas-bold-webfont.svg#vanitasregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block;
  width: 100%; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  /*background: url(images/bx_loader.gif) center center no-repeat #fff;*/
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #704c61;
  text-indent: -9999px;
  display: block;
  opacity: 0.8;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  /* -webkit-border-radius: 5px; */
  border-radius: 8px;
  border: 2px solid #DF9E90; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #704c61;
  opacity: 1; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  /*background: url(images/controls.png) no-repeat 0 -32px;*/ }

.bx-wrapper .bx-next {
  right: 10px;
  /*background: url(images/controls.png) no-repeat -43px -32px;*/ }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  /*background: url(images/controls.png) -86px -11px no-repeat;*/
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  /*background: url(images/controls.png) -86px -44px no-repeat;*/
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }
