.about-page-content{
  //width: 990px;
  width: 63.643%;
  margin: 0 auto;
  color: $primary-color;
}
.about-page-content h3, .about-page-content h6{
  color: $primary-color;
}
.about-page-content h3{
  font-family: $vanitas-bold;
  margin-top: 54px;
  margin-bottom: 9px;
}
.about-page-content h6{
  font-family: $futura-medium;
  margin-bottom: 3px;
}
.about-page-head{
  color: $primary-color;
  font-family: $vanitas-bold;
  font-size: 70px;
  margin-bottom: 97px;
}