.banner-booking{
  width: 100%;
}
.banner-booking img{
  width: 100%;
}
.booking-section{
  margin-top: 40px;
  border-top: 1px solid #EDECEA;
  padding-top: 15px;
}
.booking_iframe {
  width: 100%;
  height: 700px;
  padding-top: 30px;
  border: 1px solid #bbb;
  border-radius: 2px;
}
.location-select{
  margin-top: 2em;
}
.location_head{
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(112,76,97);
  font-family: $futura-medium;
}
.location-select .select_location select{
  width: 100%;
  height: 60px;
  padding: 2px 20px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(112,76,97);
  background: #EDECEA url(../images/icon_dropdown.png) no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: $futura-light;
  webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center;
}
.booking_section>p{
  text-transform: uppercase;
  color: rgb(112,76,97);
  font-family: $futura-medium;
}
#banner-book-an-appointment{
  background: url(/images/bookanappointment.png) no-repeat center center;
}

section#section-location-container div.location-container{
  padding-top: 20px;
  border-top: 1px solid #dddbda;
}