.terms-container{
  width: 750px;
  max-width: 750px;
  margin: 0 auto;
  color: $primary-color;
}
.terms-container h3, .terms-container h6{
  color: $primary-color;
}
.career-page-head{
  color: $primary-color;
  font-family: $vanitas-bold;
  font-size: 70px;
  margin-bottom: 90px;
}
.career-page-content{
  color: $primary-color;
}
.career-form-div{
  width: 750px;
  margin: 0 auto 7em;
}
.career-page-content p{
  font-size: 16px;
  margin-bottom: 0;
}
.open-positions{
  margin: 63px 0;
}
.open-positions h3{
  font-family: $vanitas-bold;
  font-size: 36px;
  color: $primary-color;
  margin-bottom: 0;
  letter-spacing: 0.6px;
}
.open-positions p{
  margin-bottom: 18px;
}
.open-positions a.apply-now{
  font-family: $futura-bold;
  font-size: 12.22px;
  letter-spacing: 0.7px;
  border-bottom: 1px solid $primary-color;
  text-transform: uppercase;
}
.career-detail-page-head{
  margin-bottom: 50px;
}
.open-positions-detail h3{
  font-family: $vanitas-bold;
  font-size: 36px;
  color: $primary-color;
  margin-bottom: 21px;
  letter-spacing: 0.6px;
}
.open-positions-detail p{
    margin-bottom: 27px;
}
.position-requirement h6{
  font-family: $futura-medium;
  color: $primary-color;
  font-size: 16px;
  margin-bottom: 1px;
}
.position-requirement li{
    font-size: 16px;
}
.position-requirement h6 span{
  font-family: $futura-light;
}
form.career-form input[type="text"], form.career-form input[type="email"], form.career-form input[type="number"]{
  margin-bottom: 28px;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: $primary-color;
  background: #EDECEA;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: $futura-medium;
  opacity: 0.7;
  height: 41px;
}
form.career-form #email{
  text-transform: inherit;
}
form.career-form label{
  font-size: 14px;
  font-family: $futura-medium;
  letter-spacing: 1.4px;
  margin-top: 10px;
  display: inline-block;
}
form.career-form select{
  width: 100%;
  height: 60px;
  padding: 2px 12px;
  font-size: 15px;
  margin-bottom: 39px;
  color: $primary-color;
  background: #EDECEA url(../images/icon_dropdown.png) no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  opacity: 0.7;
  font-family: $futura-medium;
  webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center;
}
form.career-form input[type="text"]::-webkit-input-placeholder{
  color: $primary-color;
}
form.career-form input[type="text"]::-moz-placeholder { /* Firefox 18- */
  color: $primary-color;
}
form.career-form input[type="text"]::-ms-input-placeholder { /* Firefox 18- */
  color: $primary-color;
}
form.career-form input[type="email"]::-webkit-input-placeholder, form.career-form input[type="number"]::-webkit-input-placeholder{
  color: $primary-color;
}
form.career-form input[type="email"]::-moz-placeholder, form.career-form input[type="number"]::-webkit-input-placeholder { /* Firefox 18- */
  color: $primary-color;
}
form.career-form input[type="email"]::-ms-input-placeholder, form.career-form input[type="number"]::-webkit-input-placeholder { /* Firefox 18- */
  color: $primary-color;
}
.career-form button[type="submit"]{
  width: 160px;
  font-size: 12px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 0;
  color: $primary-color;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 9.5px 0;
  font-family: $futura-bold;
  outline: 0;
  letter-spacing: 1.2px;
  height: 50px;
}
.resume-label{
  font-family: $futura-bold;
  font-size: 15px;
  margin-right: 30px;
}
.dropcontainer {
  position:relative;
  font-size: 16px;
  color: $primary-color;
}

.trigger {
  color: $primary-color;
  padding: 17px 10px;
  font-size: 17.79px;
  width: 100%;
  height: 60px;
  //background: #fff url(../images/select-arrow-open.png) 98% center no-repeat;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #EDECEA;
  font-family: $futura-bold;
}

.activetrigger {
  width: 50%;
  //background: #f5f5f5 url(../images/select-arrow-close.png) 98% center no-repeat;
  display: block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.activetrigger:hover {
  //background: #f5f5f5 url(../images/select-arrow-close.png) 98% center no-repeat;
  color: #777;
}

.activetrigger:active {
  //background: #f5f5f5 url(../images/select-arrow-close.png) 98% center no-repeat;
  color: #777;
}

.dropcontainer ul {
  font-size: 16px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  width: 50%;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dropcontainer ul li {
  padding: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dropcontainer ul li:hover {
  background: #f5f5f5;
  outline: none;
}

.dropcontainer ul li:first-child {
  display: none;
}

.dropcontainer ul li:last-child {
  border-bottom: none;
}

.dropdownhidden {
  display: none;
}

.dropdownvisible {
  height: auto;
}