::selection {
  background: #704c61; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #704c61; /* Gecko Browsers */
  color: #fff;
}
a{
  text-decoration: none;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}
.mt40{
  margin-top: 40px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
ul.list-inline>li{
  display: inline-block;
}
ul.list-unstyled>li{
  list-style: none;
}
.container, .head-container, .footer-container{
  //width: 1170px;
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}
.container:before, .container:after, .footer-container:before, .footer-container:after{
  content: " ";
  display: table;
}
.row{
  display: block;
  clear: both;
  margin-right:-15px;
  margin-left:-15px;
  position: relative;
}
.row:after,
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
[class*="col-"]{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.col-one {
  width: 8.33333%;
}
.col-two {
  width: 16.66667%;
}
.col-three {
  width: 25%;
}
.col-four {
  width: 33.33333%;
}
.col-five {
  width: 41.66667%;
}
.col-six {
  width: 50%;
}
.col-seven {
  width: 58.33333%;
}
.col-eight {
  width: 66.66667%;
}
.col-nine {
  width: 75%;
}
.col-ten {
  width: 83.33333%;
}
.col-eleven {
  width: 91.66667%;
}
.col-twelve {
  width: 100%;
}
#body{
  min-height: 31em;
}
//Google analytics Image
.ga img{
  display: none;
}
//IE10 CSS
select::-ms-expand { display: none; }


section#locations, section#book-an-appointment, #download-menu, section#purpose-description{
  max-width: 720px;
  margin: 80px auto;
  text-align: center;
  h1{
    color: $primary-color;
    font-size: 3.6em;
    font-weight: 500;
    font-family: $vanitas-regular, 'sans-serif';
    margin-bottom: 50px;
  }
  p{
    color: $primary-color;
    font-weight: 600;
    letter-spacing: 1.3px;
    font-size: 19px;
    line-height: 1.5em;
    margin: 0;
  }
}

#download-menu{
  a{
    padding: 11px 5px;
    color: #704860;
    letter-spacing: 1.2px;
    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
    border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%) 1;
    display: block;
    width: 210px;
    height: 51px;
    margin: 130px auto 100px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    font-family: $futura-bold;
  }
}

#banner-locations, #banner-book-an-appointment, #banner-services{
  background-size: cover;
  width: 100%;
  height: 468px;
}

