.banner-contact{
  margin: 0 auto 0;
  width: 48.67%;
  max-width: 780px;
  text-align: center;
}
.privacy-bnr{
  padding-top: 0;
}
.contact-page-head{
  color: $primary-color;
  font-family: $vanitas-bold;
  font-size: 55px;
  margin-bottom: 114px;
}
.thanks-msg{
  color: $primary-color;
  font-family: $vanitas-bold;
  font-size: 50px;
}
.contact-form{
  margin: 0 auto;
  width: 750px;
  max-width: 750px;
}
.form-control{
  width: 100%;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}
form.contact-us textarea{
  font-size: 14px;
  letter-spacing: 1.4px;
  color: $primary-color;
  background: #EDECEA;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: $futura-medium;
  height: 280px;
  opacity: 0.7;
}
form.contact-us input[type="text"], form.contact-us input[type="email"], form.contact-us input[type="number"]{
  margin-bottom: 27px;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: $primary-color;
  background: #EDECEA;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: $futura-medium;
  opacity: 0.7;
  height: 41px;
}
form.contact-us select{
  width: 100%;
  height: 60px;
  padding: 2px 12px;
  font-size: 18px;
  margin-bottom: 39px;
  color: $primary-color;
  background: #EDECEA url(../images/icon_dropdown.png) no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  opacity: 0.7;
  font-family: $futura-medium;
  webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center;
}
form.contact-us button{
  width: 160px;
  font-size: 12px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0;
  color: $primary-color;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 9.5px 0;
  font-family: $futura-bold;
  outline: 0;
  letter-spacing: 1.2px;
  height: 50px;
}
form.contact-us input[type="text"]::-webkit-input-placeholder, form.contact-us textarea::-webkit-input-placeholder{
  color: $primary-color;
}

form.contact-us input[type="text"]::-moz-placeholder, form.contact-us textarea::-webkit-input-placeholder { /* Firefox 18- */
  color: $primary-color;
}

form.contact-us input[type="text"]::-moz-placeholder, form.contact-us textarea::-webkit-input-placeholder {  /* Firefox 19+ */
  color: $primary-color;
}

form.contact-us input[type="text"]:-ms-input-placeholder, form.contact-us textarea::-webkit-input-placeholder {
  color: $primary-color;
}
form.contact-us input[type="email"]::-webkit-input-placeholder, form.contact-us input[type="number"]::-webkit-input-placeholder{
  color: $primary-color;
}
form.contact-us input[type="email"]::-moz-placeholder, form.contact-us input[type="number"]::-webkit-input-placeholder { /* Firefox 18- */
  color: $primary-color;
}
form.contact-us input[type="email"]::-ms-input-placeholder, form.contact-us input[type="number"]::-webkit-input-placeholder { /* Firefox 18- */
  color: $primary-color;
}
.enquiry-block{
  margin: 69px 0 0 0;
  border-top: 1px solid #dddbda;
  padding-top: 38px;
}
.enquiry-block h2{
  font-family: $vanitas-bold;
  font-size: 42px;
  color: $primary-color;
}
.enquiry-block p{
  color: $primary-color;
  font-size: 18px;
  margin-bottom: 3px;
}