#footer {
  padding: 24px 0 0;
  color: #b8b8b8;
  background: #EEEDEB;
  margin-top: 7em;
}
ul.footer-nav{
  margin-bottom: 20px;
}
ul.footer-nav>li{
  padding: 0px 22px;
  border-right: 1px solid $primary-color;
  line-height: 1em;
}
ul.footer-nav>li, ul.footer-nav>li>a{
  color: rgb(112,76,97);
  font-size: 12px;
  letter-spacing: 1.2px;
  font-family: $futura-medium;
}
ul.footer-nav>li>p{
  margin-bottom: 0;
}
ul.footer-nav>li:last-child{
  border: 0;
  padding-right: 0;
}