.page-heading{
  position: relative;
  margin: 60px auto 75px;
  width: 300px;
  text-align: center;
}
.gift-step{
  font-family: $vanitas-regular;
  color: #ece1ec;
  font-size: 140px;
  margin: 0;
}
.gift-step-title{
  font-family: $futura-medium;
  font-size: 16px;
  color: $primary-color;
  letter-spacing: 1.4px;
  position: absolute;
  top: 30%;
  width: 100%;
  display: block;
  background: #fff;
  line-height: 32px;
}
.gift-cards .gift-card-img{
  text-align: center;
  background: #f1f1f1;
  padding: 25px 0;
}
.gift-info{
  margin-top: 21px;
  font-family: $futura-medium;
  font-size: 18px;
  color: $primary-color;
}
.squaredOne{
  cursor: pointer;
  outline: none;
}
.squaredOne .box{
  background-color: #eeeceb;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.squaredOne.selected .box{
  background: #eeeceb url("../images/selected.png") no-repeat center;
}
.gift-info .squaredOne, .gift-info p{
  display: inline-block;
}
.gift-info p{
  margin-left: 19%;
}
.step-2{
  border-top: 1px solid #dac2cf;
  margin-top: 40px;
  padding-top: 25px;
}
.step-2 select{
  width: 100%;
  height: 60px;
  padding: 2px 20px;
  font-size: 18px;
  color: $primary-color;
  background: #EDECEA url(../images/icon_dropdown.png) no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: $futura-medium;
  webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 15px center;
  opacity: 0.7;
}
.step-2 select[name="quantity"]{
  width: 165px;
}
.step-2 .amount{
  width: calc(100% - 165px);
  float: left;
  position: relative;
}
.step-2 .fixed-dollar{
  position: absolute;
  left: 15px;
  font-family: $futura-medium;
  opacity: 0.7;
  color: $primary-color;
  top: 18px;
  z-index: 1;
}
.step-2 input[type="number"]{
  height: 60px;
  width: 100%;
  letter-spacing: 0.49px;
  color: $primary-color;
  background: #EDECEA;
  border-top: 0;
  border-left: 0;
  border-right: 1px solid $primary-color;
  border-bottom: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: $futura-medium;
  opacity: 0.7;
  font-size: 18px;
  padding: 15px 20px 15px 25px;
}
.step-2 input[type="number"]::-webkit-input-placeholder{
  color: $primary-color;
}
.step-2 input[type="number"]::-moz-placeholder { /* Firefox 18- */
  color: $primary-color;
}
.step-2 input[type="number"]::-ms-input-placeholder { /* Firefox 18- */
  color: $primary-color;
}
.step-3 {
  border-top: 1px solid #dac2cf;
  margin-top: 50px;
  padding-top: 25px;
}
form.sender-detail input[type="text"], form.sender-detail input[type="email"]{
  margin-bottom: 30px;
  opacity: 0.5;
}
.card-selected{
  background: #fafafa;
  text-align: center;
  padding-top: 50px;
}
.card-selected>img{
  margin: 42px 0;
  width: 350px;
  box-shadow: 4px 4px 4px rgba(187, 187, 187, 0.51);
  border-radius: 12px;
  opacity: 0;
}
.card-selected .final-price{
  font-family: $vanitas-regular;
  color: $primary-color;
}
form.sender-detail textarea{
  height: 200px;
}
.step-3 .send-myself-checkbox{
  font-family: $futura-medium;
  color: $primary-color;
}
.step-3 button{
  width: 243px;
  font-size: 16px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 0;
  color: $primary-color;
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 9.5px 0;
  font-family: $futura-bold;
  outline: 0;
  letter-spacing: 1.4px;
  height: 60px;
}
.select-service{
  color: $primary-color;
  background: #EDECEA;
  padding: 11px 20px;
  font-family: $futura-medium;
  font-size: 18px;
  height: 60px;
  opacity: 0.6;
}
.service-dropdown{
  display: none;
  border: 1px solid $primary-color;
}
.service-dropdown>h5 {
  background: $primary-color;
  color: #fff;
  padding: 7px 14px;
  font-size: 18px;
  margin: 0;
  font-family: $futura-medium;
}
.service-dropdown .service-block h6{
  font-family: $futura-medium;
  font-size: 14px;
  padding: 7px 15px;
  line-height: initial;
  background: #f2f2f2;
}
.service-dropdown .service-block ul li{
  list-style: none;
  font-family: $futura-medium;
  font-size: 14px;
}
.service-dropdown .service-block ul li>.col-six>p{
  display: inline-block;
  margin: 0 5px 5px;
}
.calculated-price{
  padding: 0 15px;
  font-family: $futura-medium;
  font-size: 15px;
  color: $primary-color;
}
.calculated-price label{
  display: inline-block;
}
.calculated-price input{
  display: inline-block;
  width: auto!important;
  height: auto!important;
  border-right: none!important;
  background: transparent!important;
}