/* Default Header */
.default-header{
  background: #fff;
  .subscribe-block{
    width: 79px;
  }
  .subscribe-block a{
    padding: 21px 0 21px;
  }
  .top_social_menu > ul > li:first-child{
    margin-left: 0;
  }
  .top_social_menu > ul > li:last-child{
    margin-right: 0;
  }
  .top_social_menu > ul > li{
    padding: 20px 0 0;
  }
  .subscribe-block .subscribe-form-block{
    top: 56px;
  }
}
.default-logo{
  display: inline-block;
  float: left;
  a{
    display: inline-block;
    padding-top: 11px;
  }
}

.sticky-default-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  opacity: 0;
}
.sticky-default-header.glow{
  opacity: 1;
  transition: all 0.5s;
}
.sticky-default-header .subscribe-block{
  display: none;
}
.sticky-default-header .main-nav-default nav.main-nav{
  margin-top: 4px;
  margin-bottom: 0;
}
.sticky-default-header .default-logo a{
  padding-top: 13px;
}
.main-nav-default{
  display: inline-block;
  width: calc(100% - 300px);
  margin: 0 auto;
  text-align: center;
}
.main-nav-default nav.main-nav{
  display: inline-block;
  margin-top: 0;
}
.main-nav-default nav.main-nav > ul > li > a{
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  margin: 5px 18px 0;
  padding: 12px 0 14px;
  display: inline-block;
}
.main-nav-default nav.main-nav > ul > li > a:hover{
  border-bottom: 3px solid $primary-color;
}
.main-nav-default nav.main-nav > ul > li > a.active{
  border-bottom-color: $primary-color;
}
.default-header .top_social_menu>ul{
  margin-bottom: 0;
}
.head-container .top_social_menu{
  display: none;
}
/*Sticky header*/
.sticky{
  width: 100%;
  max-width: none;
  padding: 0 50px;
  z-index: 999;
  position: fixed;
  top: 0;
  background: #fff;
  visibility: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition:opacity 0.5s linear;
  opacity:0;

  &.glow {
    opacity:1;
    visibility: visible;
    transition: all 0.5s;
  }
  
  nav.main-nav{
    margin-top: 4px;
    display: inline-block;
    width: calc(100% - 300px);
  }
  .logo a{
    padding-top: 13px;
    display: inline-block;
  }
  .logo{
    float: left;
    margin: 0;
    display: inline-block;
    width: auto;
  }
  .top_social_menu{
    display: block;
    text-transform: uppercase;
  }
  .top_social_menu > ul > li:first-child{
    margin-left: 0;
  }
  .top_social_menu > ul > li:last-child{
    margin-right: 0;
  }
  .top_social_menu>ul>li{
    padding: 20px 0 0;
  }
  .logo-i{
    display: none;
  }
}
.head-container .logo a{
  padding-top: 13px;
  display: inline-block;
}