.home-services{
  margin: 20px 0 42px;
}
.home-service-heading{
  font-size: 18px;
  color: $primary-color;
  padding-bottom: 25px;
  font-family: $futura-medium;
  letter-spacing: 1.8px;
  margin-bottom: 25px;
}
.home-service-col{
  float: left;
  display: inline-block;
  width: 22%;
  margin-right: 4%;
}
.row .home-service-col:last-child{
  margin-right: 0;
}
.home-service-col>a{
  display: block;
}
.home-service-col>a>.home-service-icon{
  min-height: 190px;
}
.home-service-col>a>.home-service-icon>img{
  max-height: 190px;
}
.home-service-col h4{
  font-size: 28px;
  color: rgb(112,76,97);
  text-transform: uppercase;
  font-family: $vanitas-bold;
  letter-spacing: 2px;
  margin-top: 25px;
}
.home-content-section{
  margin: 0 0 4em;
}
.home-gift-card-col{
 	float: left;
  	display: inline-block;
  	width: 48%;
  	margin-right: 4%;
  position: relative;
}
.home-career-overlay{
  background: url("../images/overlay.png") no-repeat;
  width: 531px;
  height: 239px;
  position: absolute;
  right: -4em;
  opacity: 0.8;
  bottom: 13.3em;
  z-index: 9;
}
.row .home-gift-card-col:last-child{
  	margin-right: 0;
}
.home-gift-card-content{
  width: 310px;
  margin: 0 auto;
}
.home-career .home-gift-card-content{
    width: 432px;
  position: relative;
  z-index: 9;
}
.home-gift-card-content h4{
  color: rgb(112,76,97);
  font-size: 16px;
  letter-spacing: 1.4px;
  margin: 1px 0 3px;
  font-family: $futura-medium;
}
.home-gift-card-content h1{
  margin: 5px auto 21px;
  font-size: 60px;
  text-transform: uppercase;
  font-family: $vanitas-regular;
  color: rgb(112,72,96);
  line-height: 0.9em;
  letter-spacing: 1.5px;
}
.home-career .home-gift-card-content h1{
  width: 350px;
}
.home-gift-card-content p{
  font-size: 14px;
  color: $primary-color;
  line-height: 18px;
  letter-spacing: 0.8px;
  margin-bottom: 21px;
}
.home-gift-card-content .gift-card-btn{
  padding: 11px 5px;
  color: #704860;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-family: $futura-bold;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  display: block;
  width: 175px;
  height: 51px;
  margin: 0 auto;
  text-transform: uppercase;
}
.home-gift-card-col .home-gift-card-img{
  margin-top: 104px;
  overflow: hidden;
}
.home-career .home-gift-card-img{
  margin-top: 0;
  margin-bottom: 60px;
}