.banner-location img{
  width: 100%;
}
form.search-by-zip{
  padding: 46px 0 36px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 36px;
}
form.search-by-zip input[type="text"]{
  color: $primary-color;
  background: #EDECEA;
  border: 0;
  width: 300px;
  height: 36px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: $futura-medium;
  margin-right: 10px;
  letter-spacing: 1.4px;
}
form.search-by-zip button{
  width: 156px;
  font-size: 13px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-color;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 7px 0;
  font-family: $futura-medium;
  outline: 0;
  letter-spacing: 1.5px;
}
aside.side-filter{
  color: $primary-color;
  font-family: $futura-medium;
  float: left;
  width: calc(100% - 880px);
  transition: all 0.5s;
}
#mobile-region{
  display: none;
}
aside.side-filter>h6{
  color: $primary-color;
  font-size: 14px;
  letter-spacing: 1.4px;
}
aside.side-filter ul.regions>li{
  display: block;
  line-height: 2em;
}
aside.side-filter ul.regions>li>a{
  font-size: 16px;
  color: $primary-color;
  letter-spacing: 0.32px;
}
aside.side-filter ul.regions>li>a.active{
  font-family: $futura-bold;
}
section.all-location{
  float: right;
  width: 870px;
  transition: all 0.5s;
}
.err-msg{
  color: $primary-color;
  font-family: $vanitas-bold;
}
//.location-list{
//  margin-bottom: 2em;
//}
.location-list>li{
  float: left;
  width: 50%;
  list-style: none;
  color: $primary-color;
  //border-left: 1px solid #bbb;
  padding-left: 35px;
  margin: 0 0 3em 0;
  min-height: 427px;
  max-height: 427px;
  transition: width 0.4s;
}
.location-list>li img{
  transition: width 0.4s;
  max-height: 250px;
  width: 100%;
}
.location-list>li h5{
  font-size: 16px;
  line-height: inherit;
  color: $primary-color;
  margin-top: 10px;
  font-family: $futura-bold;
  letter-spacing: 0.50px;
}
.location-list>li .fix-height-loc-head{
  height: 155px;
  overflow: hidden;
}
.location-list>li p{
  font-size: 14px;
  margin-bottom: 5px;
  line-height: initial;
  font-family: $futura-medium;
}
.location-list .location-links{
  margin-left: 0;
}
.location-list ul.location-links>li{
  display: inline-block;
  margin-right: 25px;
}
.location-list ul.location-links>li.book-now>a{
  font-family: $futura-bold;
}
.location-list ul.location-links>li>a{
  font-size: 14px;
  display: block;
  border-bottom: 1px solid $primary-color;
  line-height: initial;
}
.location-list > li .adrs-height{
  height: 48px;
  overflow: hidden;
  p{
    font-size: 16px;
    font-weight: 300;
    font-family: $futura-light;
  }
}
.location-list a p{
  font-size: 16px;
  font-weight: 300;
  font-family: $futura-light;
}
.pagination>li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.pagination>li>a{
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-family: $futura-medium;
  font-size: 14px;
  border: 2px solid #fff;
}
.pagination>li>a:hover{
  border: 2px solid #EDAC9C;
}
.pagination>li.active>a{
  width: 26px;
  height: 26px;
  border: 2px solid #EDAC9C;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}
/*Location Detail*/
.banner-location-detail{
  background: url("../images/location1_large.png");
  background-size: cover;
  width: 100%;
  height: 500px;
}
.location-detail-carousel{
  margin-bottom: 20px;
}
.location-detail-carousel .bx-wrapper li{
  background: #EEECEB;
}
.location-detail-carousel .bx-wrapper img{
  max-width: 850px;
  margin: 0 auto;
  max-height: 550px;
}
.location-detail-head{
  font-family: $vanitas-bold;
  font-size: 50px;
  color: $primary-color;
  border-bottom: 1px solid #dddbda;
  padding-bottom: 14px;
}
.store-info{
  float: left;
  width: 250px;
}
.store-info h6{
  font-size: 18px;
  font-family: $futura-medium;
  color: $primary-color;
  margin-bottom: 7px;
}
.store-info p{
  font-size: 16px;
  margin-bottom: 0;
  color: $primary-color;
}
.visit-address{
  margin-bottom: 54px;
}
.store-hour{
  margin-bottom: 42px;
}
.store-hour{
  width: 181px;
}
.store-hour .time{
  float: right;
}
.store-info a.book-now{
  width: 160px;
  font-size: 12px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-color;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 11px 0;
  font-family: $futura-bold;
  outline: 0;
  letter-spacing: 1.2px;
  height: 50px;
  display: block;
  text-align: center;
}
.store-description{
  float: left;
  width: calc(100% - 400px);
  color: $primary-color;
  margin-left: 12%;
}

#banner-locations{
  background: url(/images/locations.png) no-repeat center 60%;
}

div#search-by-city{
  padding: 25px 0;
  border-top: 1px solid #dddbda;
  border-bottom: 1px solid #dddbda;
  text-align: center;
  input{
    border: 0;
    width: 210px;
    height: 25px;
    font-family: $futura-light;
    color: $primary-color;
    font-weight: 600;
    letter-spacing: 1.4px;
    font-size: 20px;
    line-height: 1.5em;
    outline: none;
  }
  input:focus::-webkit-input-placeholder {
    opacity: .1;
  }
  input::-webkit-input-placeholder{
    color: $primary-color;
  }
  div.magnifying-glass{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/images/magnifying-glass.png) no-repeat center center;
    background-size: contain;
    margin: 0 15px;
    position: relative;
    top: 4px;
  }
}
