.home-mobile-logo{
  display: none;
}
.menu-toggle, .default-menu-toggle{
  width: 30px;
  padding: 21px 0 0;
  display: none;
}
.menu-toggle.on, .default-menu-toggle.on{
  padding: 26px 0 0 15px;
}
.menu-toggle .one, .menu-toggle .two, .menu-toggle .three, .default-menu-toggle .one, .default-menu-toggle .two, .default-menu-toggle .three{
  display: block;
  background: $primary-color;
  height: 3px;
  margin-bottom: 5px;
  backface-visibility: hidden;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.menu-toggle .three, .default-menu-toggle .three{
  margin-bottom: 0;
}
.main-mobile-nav{
  display: none;
  width: 100%;
}
.default-menu-toggle.on .one, .menu-toggle.on .one{
  -moz-transform: rotate(45deg) translate(2px,3px);
  -ms-transform: rotate(45deg) translate(2px,3px);
  -webkit-transform: rotate(45deg) translate(2px,3px);
  transform: rotate(45deg) translate(2px,3px);
}
.default-menu-toggle.on .two, .menu-toggle.on .two{
  opacity: 0;
}
.default-menu-toggle.on .three, .menu-toggle.on .three{
  -moz-transform: rotate(-45deg) translate(8px,-10px);
  -ms-transform: rotate(-45deg) translate(8px,-10px);
  -webkit-transform: rotate(-45deg) translate(8px,-10px);
  transform: rotate(-45deg) translate(8px,-10px);
}
.main-mobile-nav>ul{
  margin-bottom: 0;
}
.main-mobile-nav>ul>li{
  display: block;
  border-bottom: 1px solid rgba(112, 76, 97, 0.25);
  background: #f0eeed;
}
.main-mobile-nav>ul>li:last-child{
  border-bottom: 0;
}
.main-mobile-nav>ul>li>a{
  border-bottom: 0;
  display: block;
  font-size: 15px;
  padding: 11px 0 10px 15px;
  font-family: $futura-medium;
  letter-spacing: 0.8px;
  text-transform: uppercase;

}
ul.addons{
  -moz-column-count: 2;
  -moz-column-gap: 2.5em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2.5em;
  column-count: 2;
  column-gap: 2.5em;
  padding: 0 15px;
}
ul.addons>li{
  list-style: none;
}
/*Press Page*/
.press-filter{
  background: #f0eeed;
  text-align: center;
  border-bottom: 1px solid #dac2cf;
}
.press-filter ul{
  margin-bottom: 0;
}
.press-filter>ul>li{
  display: inline-block;
  padding: 15px 10px;
}
.press-filter>ul>li, .press-filter>ul>li>a{
  color: #a68899;
  font-size: 13px;
  letter-spacing: 1.2px;
}
.press-filter>ul>li.active>a{
  color: #735064;
  font-family: $futura-bold;
}
.presspage-title{
  font-family: $vanitas-bold;
  font-size: 70px;
  color: $primary-color;
  letter-spacing: 1.5px;
  margin: 40px 0 60px;
}
.press-list>li{
  list-style: none;
  display: inline-block;
  margin-bottom: 90px;
}
.press-list>li p{
  margin: 30px 0 26px;
}
.press-list>li:nth-child(odd){
  border-right: 1px solid #dddbda;
}
.press-list>li .press-thumb{
  height: 350px;
}
.press-list .press-title-img{
  height: 80px;
}
.press-bottom{
  border-top: 1px solid #dddbda;
  padding-top: 50px;
}
.press-bottom h3{
  font-family: $vanitas-bold;
  font-size: 42px;
  color: $primary-color;
}
.press-bottom p{
  color: $primary-color;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 0;
}