nav.main-nav{
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  background: #fff;
}
nav.main-nav-mobile{
  display: none;
  width: 100%;
}
nav.main-nav>ul, nav.main-nav-mobile>ul{
  margin-bottom: 0;
}
nav.main-nav>ul>li{
  display: inline-block;
  margin: 0 5px;
  position: relative;
}
nav.main-nav-mobile>ul>li>a{
  padding: 10px 0 11px;
  font-family: $futura-medium;
  font-size: 14px;
  color: $primary-color;
  letter-spacing: 0.8px;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
}
nav.main-nav>ul>li>a{
  padding: 14px 0 13px;
  font-family: $futura-medium;
  font-size: 14px;
  color: $primary-color;
  letter-spacing: 0.8px;
  margin: 0 23px;
  display: inline-block;
  border-bottom: 3px solid #fff;
}
nav.main-nav>ul>li:hover > a{
  border-bottom: 3px solid $primary-color;
}
nav.main-nav>ul>li:hover > .sub-menu{
  display: block;
}
.sub-menu{
  position: absolute;
  background: rgba(255, 255, 255, 0.94);
  z-index: 99;
  margin: 0;
  display: none;
  text-transform: capitalize;
  width: 140px;
  list-style: none;
  text-align: left;
  padding: 5px 0 18px 33px;
  left: -12px;
  border: 1px solid rgba(221, 219, 218, 0.52);
}
.sub-menu a{
  color: #9c9c9c;
  padding: 3px 0 2px;
  display: block;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: capitalize;
}
.sub-menu a:hover{
  color: #c39288;
}
nav.main-nav>ul>li>a.book-appointment{
  /*background: -webkit-linear-gradient(top, #b97568, #fbb9a8);
  background: linear-gradient(top, #b97568, #fbb9a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: $secondary-color;
}