.content-pages{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.content-page-head{
  font-size: 60px;
  color: $primary-color;
  font-family: $vanitas-regular;
}
.news-page-head{
  margin: 50px 0 70px;
}
.news-list .news{
  color: $primary-color;
  border-left: 1px solid #dddbdc;
  padding:0 25px ;
  margin-bottom: 94px;
}
.news-list .news:nth-child(odd){
  border-left: 0;
}
.news-list .news:nth-child(even){
  padding-right: 0;
}
.news-list .news img{
  margin-bottom: 17px;
  width: 100%;
  max-height: 355px;
  min-height: 355px;
}
.news-list .news .news-title{
  margin-bottom: 3px;
  color: $primary-color;
  font-family: $vanitas-regular;
}