.pedicure-content{
  background: #f4f2f1;
  padding: 70px 0 40px;
  margin-top: 30px;
}
.mani-padi{
  margin-bottom: 50px;
}
.mani{
  float: left;
  width: 45%;
  color: $primary-color;
  margin-right: 7%;
  padding-top: 4.5em;
}
.add-ons{
  float: left;
  width: 48%;
  padding-right: 1%;
  padding-left: 3%;
  background: url("../images/add-on-bg.png") no-repeat left;
  color: $primary-color;
  background-size: contain;
  padding-top: 72px;
  background-position: 0 32px;
  height: 544px;
}
.add-ons h6, .add-ons p, .body-wax-price p{
  margin-bottom: 5px;
}
.add-ons h6, .body-wax-price h6{
  color: $primary-color;
  font-size: 18px;
  font-family: $futura-medium;
}
.body-wax-price{
  color: $primary-color;
}
.wax-list .list_item{
  margin-top: 0;
}
.brows{
  width: 40%;
  float: left;
  color: $primary-color;
  padding-top: 69px;
}
.for-him{
  width: 60%;
  float: left;
  color: $primary-color;
  padding-top: 69px;
  padding-left: 18%;
}
.brows h1, .for-him h1{
  font-family: $vanitas-regular;
  color: $primary-color;
  font-size: 75px;
}
.for-him h6{
  color: $primary-color;
  font-size: 18px;
  font-family: $futura-medium;
}
.brows h6, .him-body-waxing h6{
  font-size: 18px;
  font-family: $futura-medium;
  color: $primary-color;
}
.wax-block{
  margin-top: 40px;
}