.red-bullet-list{
  list-style: none;
}
.red-bullet-list>li{
  position: relative;
  padding-left: 12px;
}
.red-bullet-list>li:before{
  content: "•";
  color: $primary-color;
  position: absolute;
  left: 0;
}
.privacy-content h6{
  color: $primary-color;
  font-family: $futura-medium;
  font-size: 18px;
  margin-bottom: 0px;
}
.privacy-content{
  color: $primary-color;
}
.privacy-content .red-bullet-list>li{
  margin-bottom: 10px;
}