.purpose-banner>img{
    width: 100%;
}
.purpose-page-head{
  color: $primary-color;
  font-family: $vanitas-bold;
  font-size: 70px;
  margin: 77px 0 50px;
}
.purpose-start-info{
  margin: 0 auto;
  width: 48.67%;
  max-width: 750px;
  color: $primary-color;
}
.purpose-start-info p{
  font-size: 18px;
  text-align: center;
}
.purpose-content{
  border-top: 1px solid #dddbda;
  padding: 79px 27px 50px 35px;
}
.purpose-content h6{
  font-family: $futura-medium;
  font-size: 18px;
  color: $primary-color;
  margin-bottom: 67px;
  letter-spacing: 1px;
}
.purpose-content-image-clean{
  float: left;
  width: 50%;
  max-height: 387px;
}
.purpose-content-detail-clean{
  float: left;
  width: 39%;
  color: $primary-color;
  padding-left: 61px;
  padding-top: 5.3em;
}
.purpose-content-about-you{
  float: left;
  width: 42%;
  color: $primary-color;
  padding-left: 61px;
  padding-top: 5.3em;
}
.purpose-content-about-you-image{
  float: left;
  width: 56.334%;
  max-height: 572px;
}
.purpose-content h2{
  font-size: 55px;
  font-family: $vanitas-bold;
  color: $primary-color;
  margin-bottom: 21px;
}
.purpose-content p{
  font-size: 18px;
}
.purpose-content{
  .clearfix{
    margin-top: 100px;
  }
}
.beauty{
  position: relative;
}
.beauty-overlay{
  position: absolute;
  left: 0;
  top: -9.3em;
  opacity: 0.7;
}
