/*.download-service-menu{
  background: #f0eeed;
  text-align: center;
  display: block;
  font-family: $futura-medium;
  font-size: 13px;
  padding: 10.5px 10px;
  border-bottom: 1px solid #dac2cf;
  text-transform: uppercase;
}*/
.nail-shapes-service{
  margin-top: 82px;
  color: $primary-color;
}
.nail-shapes-service h1, .manicure-block h1, .mani h1, .add-ons h1{
  font-family: $vanitas-regular;
  color: $primary-color;
  font-size: 75px;
  margin-bottom: 13px;
}
.nail-services .nail-service-col:last-child{
  margin-right: 0;
  text-align: center;
}
.nail-service-col{
  float: left;
  width: 12.8%;
  margin-right: 9%;
}
.nail-services .nail-service-col:last-child h2{
  padding: 0 1px;
}
.nail-service-col h2{
  color: $primary-color;
  font-size: 42px;
  line-height: 1em;
  margin-bottom: 1px;
}
.nail-service-col p{
  font-family: $futura-medium;
  font-size: 15px;
}
.nail-service-col>img{
  max-height: 208px;
  margin-bottom: 40px;
}
#manicure{
  margin-bottom: 50px;
}
.manicure-block{
  padding-top: 90px;
}
.manicure-content{
  width: 48%;
  color: $primary-color;
  float: left;
}
.manicure-image{
  float: left;
  width: 52%;
}
.manicure-content .list_item{
    margin-top: 3.56em;
}
.list_item ul{
   list-style: none;
}
.list_item ul li{
  color: $primary-color;
  margin-bottom: 6px;
  letter-spacing: 1.5px;
  padding: 10px 0;
  text-align: left;
}
.list_item ul li h6{
  float: left;
  font-family: $futura-medium;
  font-size: 18px;
  color: $primary-color;
  margin-bottom: 2px;
  margin-top: 20px;
}
.list_item ul li .price{
  float: right;
  margin-top: 3px;
}
.list_item ul li .price span{
  font-size: 18px;
}
.item-content p{
  margin-bottom: 0;
  line-height: 1.5em;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .9px;
}
.item-content p.time{
  font-weight: 500;
  font-family: $futura-medium;
  margin-bottom: 4px;
}
#mani-pedis{
  .item-content p{
    font-size: 18.5px;
    letter-spacing: 1.7px;
    font-weight: 600;
  }
  .item-content p.time{
    font-size: 15.5px;
    letter-spacing: 1.7px;
    font-weight: 600;
  }
}
.service-description{
  color: $primary-color;
  font-weight: 500;
  letter-spacing: 0.6px;
  font-size: 22px;
  line-height: 1.5em;
  margin: 60px 0;
}

#mani-pedis .add-ons .addons{
  margin-top: 60px;
}

#banner-services{
  background: url(/images/banner-services.png) no-repeat center center;
}

section#nail-shapes-section{
  border-top: 1px solid #dddbda;
}

.service-container{
  .list_item{
    ul{
      li{

      }
    }
  }
}