.bxslider .slide-info{
  position: absolute;
  width: 350px;
  padding: 15px;
}
.bxslider .slide-info.top-left{
  top: 2em;
}
.bxslider .slide-info.top-right{
  top: 2em;
  right: 6em;
}
.bxslider .slide-info.bottom-left{
  bottom: 2em;
}
.bxslider .slide-info.bottom-right{
  bottom: 2em;
  right: 6em;
}
.slide-info>h1{
  line-height: 1em;
  font-size: 60px;
  color: $primary-color;
  font-family: $vanitas-regular;
  margin-bottom: 24px;
}
.slide-info>p{
  margin-bottom: 0;
  font-size: 18px;
  color: $primary-color;
}
.slide-info>.slide-btn{
  padding: 10px 5px;
  display: block;
  width: 160px;
  text-align: center;
  color: $primary-color;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  font-family: $futura-bold;
  margin-top: 19px;
  font-size: 12px;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}