.subscribe-form-block{
  padding: 15px 15px 0;
  box-shadow: 0px 0px 2px #bbb;
  display: none;
}
.subscribe-form-block h4{
  line-height: inherit;
  text-transform: uppercase;
  color: rgb(112,76,97);
  font-family: $vanitas-regular;
  margin: 0 0 10px;
  font-size: 30px;
}
.subscribe-form-block p{
  margin-bottom: 5px;
  color: $primary-color;
  font-family: $futura-medium;
  font-size: 13px;
  letter-spacing: 0.49px;
  opacity: 0.7;
}
.subscribe-form-block input[type="text"], .subscribe-form-block input[type="email"], .subscribe-form-block input[name="MMERGE3"]{
  height: 41px;
  width: 250px;
  padding: 2px 20px;
  margin-bottom: 15px;
  font-size: 13px;
  letter-spacing: 0.49px;
  color: $primary-color;
  background: #EDECEA;
  border: 0;
  -webkit-border-radius: 0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: $futura-medium;
  opacity: 0.7;
}
.subscribe-form-block input[type="submit"] {
  width: 156px;
  font-size: 14px;
  background: transparent;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(112,76,97);
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #fbbaa8 0%, #bc7c72 100%);
  border-image: linear-gradient(to bottom right, #fbbaa8 0%, #bc7c72 100%);
  border-image-slice: 1;
  padding: 9px 0 6px;
  font-family: $futura-medium;
  outline: 0;
  letter-spacing: 1.4px;
}
.subscribe-block .subscribe-form-block{
  position: absolute;
  display: none;
  background: #fff;
  width: 562px;
  top: 18px;
  z-index: 9;
}
.subscribe-block .subscribe-form{
  margin: 1em 0 0;
}
.subscribe-btn:hover + .subscribe-form-block{
  display: block;
}
.subscribe-form-block:hover{
  display: block;
}
.subscribe-form .brthday{
  color: $primary-color;
  background: #EDECEA;
  width: 250px;
  height: 41px;
}
.subscribe-form .brthday>p{
  float: left;
  padding: 8px 19px;
  margin-bottom: 0;
  opacity: 0.7;
}
.subscribe-form .brthday select{
  display: inline-block;
  width: 67px;
  color: $primary-color;
  background: #EDECEA;
  border: 0;
  padding: 10px 12px 9px;
  height: 41px;
  outline: none;
  font-family: $futura-medium;
  font-size: 13px;
  letter-spacing: 0.49px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  position: relative;
  opacity: 0.6;
}
.subscribe-form .brthday .sel-box{
  position: relative;
  width: 67px;
  display: inline-block;
}
.subscribe-form .brthday .sel-box .err-get{
  opacity: 1;
  bottom: -15px;
  width: 150px;
  right: 15px;
}
/*Subscribe Popup*/
.subscribe-popup .subscribe-form .brthday .sel-box .err{
  bottom: -28px;
}
.subscribe-form .brthday .sel-box .err{
  width: 150px;
  bottom: -28px;
}
.subscribe-form .brthday .sel-box:before{
  position: absolute;
  content: '';
  border-width: 5px 4px 0 4px;
  border-style: solid;
  border-color: $primary-color transparent;
  right: 0;
  top: 46%;
  opacity: 0.7;
}
.subscribe-form-block input[type="text"]::-webkit-input-placeholder, .search-by-zip input[type="text"]::-webkit-input-placeholder, .subscribe-form-block input[type="email"]::-webkit-input-placeholder{
  color: $primary-color;
}

.subscribe-form-block input[type="text"]::-moz-placeholder, .search-by-zip input[type="text"]::-webkit-input-placeholder, .subscribe-form-block input[type="email"]::-webkit-input-placeholder { /* Firefox 18- */
  color: $primary-color;
}

.subscribe-form-block input[type="text"]::-moz-placeholder, .search-by-zip input[type="text"]::-webkit-input-placeholder, .subscribe-form-block input[type="email"]::-webkit-input-placeholder {  /* Firefox 19+ */
  color: $primary-color;
}

.subscribe-form-block input[type="text"]:-ms-input-placeholder, .search-by-zip input[type="text"]::-webkit-input-placeholder, .subscribe-form-block input[type="email"]::-webkit-input-placeholder {
  color: $primary-color;
}
//brthday
.subscribe-form-block input[type="number"]::-webkit-input-placeholder{
  color: $primary-color;
}

.subscribe-form-block input[type="number"]::-moz-placeholder { /* Firefox 18- */
  color: $primary-color;
}

.subscribe-form-block input[type="number"]::-moz-placeholder {  /* Firefox 19+ */
  color: $primary-color;
}

.subscribe-form-block input[type="number"]:-ms-input-placeholder {
  color: $primary-color;
}
#subscribe-form2 .brthday select{
  height: 50px;
}

.subscribe-popup{
  position: absolute;
  top: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  z-index: 2;
  height: 600px;
  overflow: auto;
  padding-bottom: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.subscribe-popup-visible{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  z-index: 999;
}
.subscribe-popup>.subscribe-form-block .sub-btn-popup{
  text-align: center;
}
.subscribe-popup>.subscribe-form-block .sub-btn-popup>input[type="submit"]{
  display: inline-block;
}
.subscribe-popup>.subscribe-form-block{
  box-shadow: none;
}
.close-subscribe-popup{
  width: 30px;
  cursor: pointer;
}
.subscribe-popup .subscribe-form-block .col-half{
  width: 100%;
  margin: 0 auto;
}
.subscribe-popup .subscribe-form-block input[type="text"], .subscribe-popup .subscribe-form-block input[type="email"], .subscribe-popup .subscribe-form-block input[type="number"]{
  width: 100%;
  margin-bottom: 30px;
  height: 50px;
}
.subscribe-popup .subscribe-form-block input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.subscribe-popup .subscribe-form .brthday{
  width: 100%;
  margin-bottom: 30px;
  height: 50px;
}
.subscribe-popup .subscribe-form .brthday > select{
  width: 80px;
  padding: 15px 12px 9px;
}
.subscribe-popup .subscribe-form .brthday > p{
  padding: 12px 19px;
}