.terms-page-head{
  margin-bottom: 60px;
  margin-top: 10px;
}
.term-bnr{
  padding-top: 1px;
}
p.attention{
  color: $primary-color;
}
.terms-content h6{
  margin-bottom: 0;
  color: $primary-color;
  font-family: $futura-medium;
  font-size: 18px;
}
.terms-content p{
  font-size: 16px;
  color: $primary-color;
}
.mail-address p{
  margin-bottom: 0;
}
.mail-address a{
  margin-left: 11px;
  text-decoration: underline;
}
.number-list{
  margin-bottom: 10px;
}
.number-list p{
  margin-bottom: 1px;
}