.social_bar {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}
.social_bar a{
  color: rgb(112,76,97);
  text-transform: uppercase;
}
.subscribe-block{
  display: inline-block;
  position: relative;
}
.subscribe-block a{
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 16px;
  padding: 17px 0 17px;
  display: block;
  font-family: $futura-medium;
}
.err, .email-err{
  opacity: 0;
  position: absolute;
  bottom: -13px;
  background: rgba(112, 76, 97, 0.92);
  color: #fff;
  border: 1px solid rgba(112, 76, 97, 0.74);
  padding: 1px 5px;
  right: 15px;
  transition: all 0.5s;
}
.subscribe-popup .err, .subscribe-popup .email-err{
  bottom: 0;
}
.err-get{
  opacity: 1;
  z-index: 9;
}
.red-brdr{
  border: 1px solid $primary-color!important;
}
.mobile-top-social-menu{
  display: none;
}
.top_social_menu{
  display: inline-block;
  float: right;
}
.top_social_menu>ul, .mobile-top-social-menu>ul{
  margin-bottom: 0;
}
.top_social_menu>ul>li, .mobile-top-social-menu>ul>li{
  display: inline-block;
  line-height: 1;
  margin: 0 5px;
  padding: 16px 0 0;
}
.top_social_menu>ul>li:first-child{
  position: relative;
  top: 1px;
  margin-right: 10px;
  font-family: $futura-medium;
}
.top_social_menu>ul>li:first-child a{
  font-size: 14px;
  letter-spacing: 1.3px;
}
.logo{
  text-align: center;
  width: 114px;
  margin: 11px auto 30px;
}